@using Smartstore.Core.Content.Menus;
@using Smartstore.Web.Models.Common;

@model FooterModel

@inject Smartstore.Core.Content.Media.Icons.IIconExplorer Explorer

@{
    var invserseFooter = Display.GetThemeVariable<bool>("inverse-footer");
}

<footer id="footer" class="@(invserseFooter ? "footer-inverse" : "footer-light")">

    <zone name="footer_top"></zone>

    <div sm-if="Model.ShowSocialLinks && Model.SocialLinks.Any()" class="footer-social-wrapper">
        <div class="container footer-social">
            <div class="row">
                <div class="col text-center">
                    <div class="d-flex flex-wrap justify-content-center">
                        @foreach (var link in Model.SocialLinks)
                        {
                            <a href="@link.Href" target="_blank" class="btn btn-icon rounded-circle btn-flat btn-social btn-brand-@link.CssClass" title="@link.DisplayName">
                                <i class="fab fa-@link.CssClass"></i>
                            </a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-main-wrapper">
        <div class="container footer-main">
            <div class="row sm-gutters">

                <div class="col-md-4 col-lg-3">
                    <nav class="footer-links nav-collapsible">
                        <h4 class="footer-title nav-toggler collapsed" data-toggle="collapse" data-target="#footer-info" aria-controls="footer-info" aria-expanded="false">
                            @T("Footer.Info")
                        </h4>
                        <div class="collapse nav-collapse" id="footer-info">
                            <menu name="FooterInformation" template="LinkList"></menu>
                        </div>
                    </nav>
                </div>

                <div class="col-md-4 col-lg-3">
                    <nav class="footer-links nav-collapsible">
                        <h4 class="footer-title nav-toggler collapsed" data-toggle="collapse" data-target="#footer-service" aria-controls="footer-service" aria-expanded="false">
                            <span class="d-none d-md-block">@T("Footer.Service")</span>
                            <span class="d-md-none">@T("Footer.Service.Mobile")</span>
                        </h4>
                        <div class="collapse nav-collapse" id="footer-service">
                            <menu name="FooterService" template="LinkList"></menu>
                        </div>
                    </nav>
                </div>

                <div class="col-md-4 col-lg-3">
                    <nav class="footer-links company nav-collapsible">
                        <h4 class="footer-title nav-toggler collapsed" data-toggle="collapse" data-target="#footer-company" aria-controls="footer-company" aria-expanded="false">
                            <span class="d-none d-md-block">@T("Footer.Company")</span>
                            <span class="d-md-none">@T("Footer.Company.Mobile")</span>
                        </h4>
                        <div class="collapse nav-collapse" id="footer-company">
                            <menu name="FooterCompany" template="LinkList"></menu>
                        </div>
                    </nav>
                </div>

                <div class="col-12 col-lg-3">
                    <zone name="footer_col_4_before"></zone>

                    <div class="row gx-md-4 gy-md-3">
                        <div sm-if="!Model.HideNewsletterBlock" class="col-12 col-md col-lg-12">
                            <div class="footer-newsletter nav-collapsible" data-subscription-url="@(Url.Action("Subscribe", "Newsletter"))" data-subscription-failure="@T("Newsletter.SubscriptionFailed")">
                                <h4 class="footer-title nav-toggler collapsed" data-toggle="collapse" data-target="#footer-newsletter" aria-controls="footer-newsletter" aria-expanded="false">@T("Newsletter.Title")</h4>
                                <div class="collapse nav-collapse" id="footer-newsletter">
                                    <div id="newsletter-subscribe-block">
                                        <div class="input-group has-icon shadow-xs rounded-pill mb-2">
                                            <input asp-for="NewsletterEmail" id="newsletter-email" class="rounded-start-pill" placeholder="@T("Newsletter.Email")" />
                                            <span class="input-group-icon text-muted" style="--inline-icon-offset: 4px">
                                                <i class="far fa-envelope"></i>
                                            </span>
                                            <span class="input-group-append">
                                                <span class="input-group-inline-addon">
                                                    <button id="newsletter-subscribe-button" class="btn btn-primary">
                                                        <span>@T("Newsletter.Button")</span>
                                                    </button>
                                                </span>
                                            </span>
                                        </div>

                                        <div class="mb-2">
                                            <div class="hstack">
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" id="newsletter-subscribe" value="newsletter-subscribe" name="optionsRadios" checked="checked">
                                                    <label class="form-check-label" for="newsletter-subscribe">
                                                        <span>@T("Newsletter.Subscribe")</span>
                                                    </label>
                                                </div>

                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" id="newsletter-unsubscribe" value="newsletter-unsubscribe" name="optionsRadios">
                                                    <label class="form-check-label" for="newsletter-unsubscribe">
                                                        <span>@T("Newsletter.Unsubscribe")</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                        <zone name="gdpr_consent_small"></zone>

                                        <span asp-validation-for="NewsletterEmail"></span>

                                    </div>
                                    <div id="newsletter-result-block" class="alert alert-success d-none mt-2"></div>
                                </div>
                            </div>
                        </div>

                        <div sm-if="Model.ShowThemeSelector" class="col-12 col-md col-lg-12">
                            <div class="theme-selector nav-collapsible">
                                <h4 class="footer-title nav-toggler collapsed" data-toggle="collapse" data-target="#footer-themes" aria-controls="footer-newsletter" aria-expanded="false">@T("Footer.Themes")</h4>
                                <div id="footer-themes" class="content collapse nav-collapse">
                                    <div class="mb-3 mb-md-0">
                                        @{
                                            @await Component.InvokeAsync("StoreThemeSelector")
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <zone name="footer_col_4_after"></zone>
                </div>
            </div>
        </div>
    </div>

    <zone name="footer_bottom"></zone>

    <div class="footer-bottom-wrapper">
        <div class="container footer-bottom">
            <div class="hstack column-gap-3 row-gap-1 justify-content-between flex-wrap flex-md-nowrap">
                <div sm-if="Model.ShowLegalInfo">
                    @Html.Raw(Model.LegalInfo)
                </div>

                <div sm-if="Model.SmartStoreHint.HasValue()">
                    @Html.Raw(Model.SmartStoreHint)
                </div>

                <div>
                    @Html.Raw(T("Content.CopyrightNotice", DateTime.Now.Year.ToString(), Model.StoreName))
                </div>
            </div>
        </div>
    </div>
</footer>
