@using Smartstore.Admin.Models.Menus

@model MenuItemModel

@{
    ViewBag.Title = T("Admin.ContentManagement.AddMenuItem").Value;
}

<form method="post" asp-action="CreateItem">
    <div class="section-header">
        <div class="title">
            <a sm-backto asp-action="Edit" asp-route-id="@Model.MenuId" title="@T("Common.Back")"></a>
            <span>@T("Admin.ContentManagement.AddMenuItem")</span>
        </div>
        <div class="options">
            <button type="submit" name="save-item" value="save-item" class="btn btn-primary">
                <i class="fa fa-check"></i>
                <span>@T("Admin.Common.Save")</span>
            </button>
            <button type="submit" name="save-item-continue" value="save-item-continue" class="btn btn-secondary">
                <span>@T("Admin.Common.SaveContinue")</span>
            </button>
        </div>
    </div>

    <partial name="_CreateOrUpdate.Item" model="Model" />
</form>