@using Smartstore.Admin.Models.Menus

@model MenuEntityModel

@{
    ViewBag.Title = T("Admin.ContentManagement.EditMenu").Value;
}

<form method="post" asp-action="Edit">
    <div class="section-header">
        <div class="title">
            <a sm-backto asp-action="List"></a>
            <span>@T("Admin.ContentManagement.EditMenu") - @Model.Title</span>
        </div>
        <div class="options">
            <button type="submit" name="save" value="save" class="btn btn-warning">
                <i class="fa fa-check"></i>
                <span>@T("Admin.Common.Save")</span>
            </button>
            <button type="submit" name="save" value="save-continue" class="btn btn-secondary">
                <span>@T("Admin.Common.SaveContinue")</span>
            </button>
            <button type="submit" name="menu-delete" id="menu-delete" value="menu-delete" class="btn btn-danger" attr-disabled='(Model.IsSystemMenu, "disabled")'>
                <i class="far fa-trash-alt"></i>
                <span>@T("Admin.Common.Delete")</span>
            </button>
            <confirm button-id="menu-delete" />
        </div>
    </div>

    <partial name="_CreateOrUpdate" model="Model" />
</form>