@model PublicInvoiceModel

<div class="opt-form">
    <div class="form-group row">
        <div class="col-lg-3">
            <label asp-for="DateOfBirthDay" class="col-form-label required"></label>
        </div>
        <div class="col-lg-9">
            <triple-date-picker day-name="@Html.NameFor(x => x.DateOfBirthDay)" 
                                month-name="@Html.NameFor(x => x.DateOfBirthMonth)" 
                                year-name="@Html.NameFor(x => x.DateOfBirthYear)"
                                day="@Model.DateOfBirthDay" 
                                month="@Model.DateOfBirthMonth" 
                                year="@Model.DateOfBirthYear"
                                begin-year="DateTime.Now.Year - 110" 
                                end-year="DateTime.Now.Year" 
                                disabled="false" />

            <span asp-validation-for="DateOfBirthDay"></span>
            <span asp-validation-for="DateOfBirthMonth"></span>
            <span asp-validation-for="DateOfBirthYear"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="PhoneNumber" class="col-md-3 col-form-label required"></label>
        <div class="col-md-9">
            <div class="input-group">
                <div class="input-group-prepend"><span class="input-group-text">+@Model.DiallingCode</span></div>
                <input asp-for="PhoneNumber" sm-required="true" />
            </div>
            <span asp-validation-for="PhoneNumber"></span>
        </div>
    </div>
</div>

<div class="text-muted">
    @Html.Raw(T("Plugins.Smartstore.PayPal.RatePayLegalHint"))
</div>