@model AmazonPayButtonModel

<div class="my-2 ml-3">
    <div id="amazonpay-signin-button" class="btn-extauth"></div>
</div>

<script data-origin="amazonpay-signin-button">
    loadAmazonPayScript(function () {
        var amazonPaySignInButton = amazon.Pay.renderButton('#amazonpay-signin-button', {
            merchantId: '@Html.Raw(Model.SellerId)',
            publicKeyId: '@Html.Raw(Model.PublicKeyId)',
            ledgerCurrency: '@Model.LedgerCurrency',
            checkoutLanguage: '@Model.CheckoutLanguage',
            productType: '@Model.ButtonType',
            placement: '@Model.ButtonPlacement',
            buttonColor: '@Model.ButtonColor',
            sandbox: @(Model.UseSandbox.ToString().ToLower())
        });

        amazonPaySignInButton.onClick(function () {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("CreateSignInSession", "AmazonPay", new { returnUrl = Url.Referrer() })',
			    success: function (response) {
                    if (response.success) {
                        amazon.Pay.initCheckout({
                            merchantId: '@Html.Raw(Model.SellerId)',
                            publicKeyId: '@Html.Raw(Model.PublicKeyId)',
                            ledgerCurrency: '@Model.LedgerCurrency',
                            checkoutLanguage: '@Model.CheckoutLanguage',
                            productType: '@Model.ButtonType',
                            placement: '@Model.ButtonPlacement',
                            buttonColor: '@Model.ButtonColor',
                            sandbox: @(Model.UseSandbox.ToString().ToLower()),
                            signInConfig: {
                                payloadJSON: response.payload,
                                signature: response.signature,
                                publicKeyId: '@Html.Raw(Model.PublicKeyId)'
                            }
                        });
				    }
				    else {
					    displayNotification(response.message, response.messageType);
				    }
			    }
		    });
        });
    });

    function loadAmazonPayScript(callback) {
        if (window.amazon && window.amazon.Pay) {
            callback();
            return;
        }

        var elem = document.createElement('script');
        elem.type = 'text/javascript';
        elem.async = true;
        elem.src = '@Html.Raw(Model.CheckoutScriptUrl)';

        elem.addEventListener('load', callback, false);

        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(elem, s);
    }
</script>