@model AddOrderProductModel

@{
    var primaryCurrencyCode = CommonServices.CurrencyService.PrimaryCurrency.CurrencyCode;
    var inclTax = T("Admin.Orders.Fields.Edit.InclTax", primaryCurrencyCode);
    var exclTax = T("Admin.Orders.Fields.Edit.ExclTax", primaryCurrencyCode);

    // TODO: (mg) Very awkward to enter gross, net, and tax amounts without automatic calculation. TBD with MC.
    // TODO: (mg) Add a TaxConverterTagHelper (see "tax-converter" below).
    // TODO: (mg) Auto recalculate the total respective unit price fields.
}

<div class="adminContent">
    <div class="adminRow">
        <div class="adminTitle">
            <smart-label asp-for="Quantity" />
        </div>
        <div class="adminData">
            <editor asp-for="Quantity" />
        </div>
    </div>
    <div class="adminRow">
        <div class="adminTitle">
            <smart-label asp-for="TaxRate" />
        </div>
        <div class="adminData">
            <editor asp-for="TaxRate" sm-postfix="%" class="conversion-taxrate" />
        </div>
    </div>
    <div class="adminRow">
        <div class="adminTitle">
            <smart-label asp-for="UnitPriceInclTax" />
        </div>
        <div class="adminData tax-converter conversion-active">
            <div class="row g-1 flex-nowrap">
                <div class="col">
                    <editor asp-for="UnitPriceInclTax" sm-postfix="@inclTax" class="conversion-gross" />
                </div>
                <div class="col-auto align-content-center p-0">
                    @* 
                        TODO: (mg) Don't render this as button, it must not have borders on interaction. 
                        TODO: (mg) btn-conversion-toggler: too generic name. Convert what?!
                        TODO: (mg) Fucked up symmetry between UnitPrice & TotalPrice rows. Looks UGLY.
                    *@
                    <button type="button" 
                            class="btn btn-sm btn-icon btn-no-border btn-flat btn-conversion-toggler"
                            title="@T("Admin.Common.TaxConversion.Disable")">
                        <i class="fa fa-lock"></i>
                    </button>
                </div>
                <div class="col">
                    <editor asp-for="UnitPriceExclTax" sm-postfix="@exclTax" class="conversion-net" />
                </div>
            </div>
        </div>
    </div>
    <div class="adminRow">
        <div class="adminTitle">
            <smart-label asp-for="PriceInclTax" />
        </div>
        <div class="adminData tax-converter conversion-active">
            <div class="form-row flex-nowrap">
                <div class="col">
                    <editor asp-for="PriceInclTax" sm-postfix="@inclTax" class="conversion-gross" />
                </div>
                <div class="col-auto align-content-center p-0">
                    <button type="button"
                            class="btn btn-sm btn-icon btn-no-border btn-flat btn-conversion-toggler"
                            title="@T("Admin.Common.TaxConversion.Disable")">
                        <i class="fa fa-lock"></i>
                    </button>
                </div>
                <div class="col">
                    <editor asp-for="PriceExclTax" sm-postfix="@exclTax" class="conversion-net" />
                </div>
            </div>
        </div>
    </div>
</div>
