@model OrderModel

@{
    var billTo = Model.BillingAddress;
    var shipTo = Model.ShippingAddress;

    var gridViewData = new ViewDataDictionary(ViewData);
    gridViewData["Parent"] = Model;
}

@if (!Model.IsShippable && shipTo == null && billTo == null)
{
    <div class="alert alert-info">
        @T("Admin.Orders.ShippingInfo.NotRequired")
    </div>
    return;
}

<div class="row card-grid g-3 row-cols-1 row-cols-lg-3">
    <div sm-if="billTo != null" class="col">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title">@T("Order.BillingAddress")</h6>
                <div class="mb-2">
                    @Html.Raw(billTo.FormattedAddress)
                </div>
                <div sm-if="billTo.Email.HasValue()" class="email">
                    @T("Order.Email"): @billTo.Email
                </div>
                <div sm-if="billTo.PhoneEnabled && billTo.PhoneNumber.HasValue()" class="phone">
                    @T("Order.Phone"): @billTo.PhoneNumber
                </div>
                <div sm-if="billTo.FaxEnabled && billTo.FaxNumber.HasValue()" class="fax">
                    @T("Order.Fax"): @billTo.FaxNumber
                </div>
            </div>
            <div class="card-footer py-2">
                <a asp-action="AddressEdit" asp-route-addressId="@billTo.Id" asp-route-orderId="@Model.Id" class="btn btn-warning btn-flat">
                    <i class="far fa-edit"></i>
                    <span>@T("Admin.Common.Edit")</span>
                </a>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card">
            @if (Model.IsShippable && shipTo != null)
            {
                <div class="card-body">
                    <h6 class="card-title">@T("Order.ShippingAddress")</h6>
                    <div class="mb-2">
                        @Html.Raw(shipTo.FormattedAddress)
                    </div>
                    <div class="email">
                        @T("Order.Email"): @shipTo.Email
                    </div>
                    <div sm-if="shipTo.PhoneEnabled && shipTo.PhoneNumber.HasValue()" class="phone">
                        @T("Order.Phone"): @shipTo.PhoneNumber
                    </div>
                    <div sm-if="shipTo.FaxEnabled && shipTo.FaxNumber.HasValue()" class="fax">
                        @T("Order.Fax"): @shipTo.FaxNumber
                    </div>
                </div>
                <div class="card-footer py-2">
                    <a asp-action="AddressEdit" asp-route-addressId="@shipTo.Id" asp-route-orderId="@Model.Id" class="btn btn-warning btn-flat">
                        <i class="far fa-edit"></i>
                        <span>@T("Admin.Common.Edit")</span>
                    </a>
                    <a href="@Html.Raw(Model.ShippingAddressGoogleMapsUrl)" class="btn btn-warning btn-flat" target="_blank">
                        <i class="fab fa-google"></i>
                        <span>@T("Admin.Orders.Fields.ShippingAddress.ViewOnGoogleMaps")</span>
                    </a>
                </div>
            }
            else
            {
                <div class="card-body">
                    @T("Admin.Orders.ShippingInfo.NotRequired")
                </div>
            }
        </div>
    </div>

    <div sm-if="Model.IsShippable" class="col">
        <div class="card border-0">
            <h6>@T("Admin.Orders.Fields.ShippingMethod")</h6>
            <p>@Model.ShippingMethod</p>

            <h6>@T("Admin.Orders.Fields.ShippingStatus")</h6>
            <p>@Model.ShippingStatusString</p>
        </div>
    </div>
</div>

<div sm-if="Model.IsShippable && shipTo != null">
    <h5 class="text-muted mb-3 mt-4">@T("Admin.Orders.Shipments")</h5>
    <div>
        <partial name="~/Areas/Admin/Views/Shipment/_Grid.Shipments.cshtml" model="null" view-data="gridViewData" />
    </div>
</div>