@model OrderAddressModel

@{
    ViewBag.Title = T("Admin.Orders.Address.EditAddress");
}

<form asp-action="AddressEdit" method="post">
    <input type="hidden" asp-for="OrderId" />
    <div class="section-header">
        <div class="title">
            <a sm-backto asp-action="Edit" asp-controller="Order" asp-route-id="@Model.OrderId" title="@T("Admin.Orders.Address.BackToOrder")"></a>
            <i class="far fa-chart-bar"></i>
            <span>@ViewBag.Title</span>
        </div>
        <div class="options">
            <zone name="admin_button_toolbar_before" />

            <button type="submit" name="save" value="save" class="btn btn-warning">
                <i class="fa fa-check"></i>
                <span>@T("Admin.Common.Save")</span>
            </button>
            <button type="submit" name="save" value="save-continue" class="btn btn-secondary">
                <span>@T("Admin.Common.SaveContinue")</span>
            </button>

            <zone name="admin_button_toolbar_after" />
        </div>
    </div>

    <editor asp-for="Address" />
</form>