@using Smartstore.Web.Models.Identity;

@model ProfileInfoModel

<div class="profile-info-box row">
    <div class="user-details col-2 pl-0 text-center">
        <partial name="Customer.Avatar" model="Model.Avatar" />
        
        <div sm-if="Model.LocationEnabled" class="profile-stat mt-2">
            <span class="pr-1">@T("Profile.Country"):</span>
            <span class="profile-stat-value">@Model.Location</span>
        </div>

        <zone name="profile_page_info_userdetails"></zone>
    </div>

    <div class="user-stats col-10">
        <div class="title h4">
            @T("Profile.Statistics")
        </div>

        <div sm-if="Model.JoinDateEnabled" class="profile-stat">
            <span class="pr-1">@T("Profile.JoinDate"):</span>
            <span class="profile-stat-value">@Model.JoinDate</span>
        </div>
        <div sm-if="Model.DateOfBirthEnabled" class="profile-stat">
            <span class="pr-1">@T("Profile.DateOfBirth"):</span>
            <span class="profile-stat-value">@Model.DateOfBirth</span>
        </div>
        
        <zone name="profile_page_info_userstats"></zone>
    </div>
</div>
