@model IList<Country>

@using Smartstore.Core.Common;

@{
    ViewData["Title"] = "Countries";
}

<h1 class="display-4">Länder</h1>

<table class="table table-responsive">
    <thead>
        <tr>
            <th>Order</th>
            <th>Name</th>
            <th nowrap>ISO 2</th>
            <th nowrap>ISO 3</th>
            <th>EU?</th>
            <th>Regionen</th>
            <th>Format</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var country in Model)
        {
        <tr>
            <td>@country.DisplayOrder</td>
            <td nowrap>@country.Name</td>
            <td>@country.TwoLetterIsoCode</td>
            <td>@country.ThreeLetterIsoCode</td>
            <td>@country.SubjectToVat</td>
            <td>@country.StateProvinces.Count</td>
            <td>@country.AddressFormat</td>
        </tr>
        }
    </tbody>
</table>
