@model TestModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="page home-page">
    <div class="page-body">
        <zone name="home_page_top" />

        @await Component.InvokeAsync("TopicBlock", new { systemName = "HomePageText", isLead = true })
        <zone name="home_page_after_intro" />

        @await Component.InvokeAsync("HomeCategories")
        <zone name="home_page_after_categories" />

        @await Component.InvokeAsync("HomeProducts")
        <zone name="home_page_after_products" />

        @await Component.InvokeAsync("HomeBestSellers")
        <zone name="home_page_after_bestsellers" />

        @await Component.InvokeAsync("HomeBrands")
        <zone name="home_page_after_manufacturers" />
    </div>
</div>

<button type="button" class="btn btn-primary mb-4" data-toggle="modal" data-target="#cookie-manager-window">
    Launch demo modal
</button>

@*<div>
    <pager sm-list-items="@Model.TestList"
           sm-show-paginator="true" sm-show-first="true" sm-show-last="true" sm-show-next="true" sm-show-previous="true" sm-show-summary="true"
           sm-max-pages="10" sm-size="Medium" sm-style="Blog" sm-skip-active-state="false" />
</div>*@

@*<pagination sm-list-items="@Model.TestList" sm-show-first="true" sm-show-last="true" />

<forum-pagination sm-list-items="@Model.TestList" sm-show-first="true" sm-show-last="true" />*@

<partial name="_TestPartial" />

<div class="my-2">
    @(Html.LocalizedEditor<TestModel, LocalizedTestModel>("testmodel-localized",
    @<text>
        <div class="form-group row">
            <label asp-for="Locales[item].TestProp1" class="col-lg-3 col-form-label text-right required"></label>
            <div class="col-lg-9">
                <input asp-for="Locales[item].TestProp1" />
                <hint asp-for="Locales[item].TestProp1" />
                <span asp-validation-for="Locales[item].TestProp1"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Locales[item].TestProp2" class="col-lg-3 col-form-label text-right"></label>
            <div class="col-lg-9">
                <input asp-for="Locales[item].TestProp2" sm-append-hint />
                <span asp-validation-for="Locales[item].TestProp2"></span>
            </div>
        </div>
         <input type="hidden" asp-for="Locales[item].LanguageId" />
    </text>
    ,
    @<text>
        <div class="form-group row">
            <label asp-for="TestProp1" class="col-lg-3 col-form-label text-right required"></label>
            @*<div class="col-lg-3">
                    <smart-label asp-for="TestProp1" />
                </div>*@
            <div class="col-lg-9">
                <input asp-for="TestProp1" />
                <hint asp-for="TestProp1" />
                <span asp-validation-for="TestProp1"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="TestProp2" class="col-lg-3 col-form-label text-right"></label>
            <div class="col-lg-9">
                <input asp-for="TestProp2" sm-append-hint />
                <span asp-validation-for="TestProp2"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="offset-lg-3 col-lg-9">
                <input asp-for="TestProp3" sm-switch="false" sm-append-hint />
                <span asp-validation-for="TestProp3"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="TestProp4" class="col-lg-3 col-form-label text-right"></label>
            <div class="col-lg-9">
                <input asp-for="TestProp4" />
                <span asp-validation-for="TestProp4"></span>
            </div>
        </div>
    </text>))
</div>

<modal id="cookie-manager-window" sm-render-at-page-end="true" sm-center-vertically="true">
    <modal-header sm-title="Modal Title" sm-show-close="true"></modal-header>
    <modal-body>
        <div>
            Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.
        </div>
    </modal-body>
    <modal-footer>
        <div class="cm-footer container">
            <div class="row">
                <div class="col-6 pr-1">
                    <button type="button" id="accept-selected" name="accept-selected" class="btn btn-block btn-secondary submit-consent" data-dismiss="modal">
                        @T("CookieManager.Dialog.Button.AcceptSelected")
                    </button>
                </div>
                <div class="col-6 pl-1">
                    <button type="button" id="accept-all" name="accept-all" class="btn btn-block btn-primary submit-consent" data-dismiss="modal">
                        @T("CookieManager.Dialog.Button.AcceptAll")
                    </button>
                </div>
            </div>
        </div>
    </modal-footer>
</modal>

<tabstrip id="yodele" class="mt-4 mb-6" sm-nav-style="Material" sm-nav-position="Top" sm-hide-single-item="true" sm-fade="true" sm-responsive="true">
    <tab-content-header>
        <a href="javascript:void()" class="btn btn-secondary btn-flat btn-no-border offcanvas-closer rounded-0" title="@T("Common.Close")">
            <i class="fa fa-chevron-left"></i>
            <span>@T("Common.Close")</span>
        </a>
    </tab-content-header>
    <tab sm-title="Raw Denim" sm-visible="true" sm-icon="far fa-fw fa-user">
        <p class="mt-3">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
    </tab>
    <tab sm-title="Food truck" summary="hjhjkhjkhjkhjkhjkhjk hhjkhjkjk" class="yodele2" sm-icon="fa fa-fw fa-bullhorn" sm-selected>
        <p class="mt-3">Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
    </tab>
    <tab sm-title="Etsy Mixtape" sm-image-url="~/images/flags/ad.png" x-sm-icon="far fa-fw fa-heart" sm-visible="true">
        <p class="mt-3">Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.</p>
    </tab>
</tabstrip>

@using (Html.BeginForm(FormMethod.Post, new { id = "test-post" }))
{
    @if (ViewContext.ViewData.ModelState.ContainsKey(""))
    {
        @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
    }

    <div class="form-group row">
        <div class="col-lg-3">
            <label asp-for="TestColor" class="col-form-label text-right required"></label>
        </div>
        <div class="col-lg-9">
            <colorbox asp-for="TestColor" sm-default-color="#0000ff" />
        </div>
    </div>

    <div class="form-group row">
        <div class="col-lg-3">
            <label asp-for="DateOfBirthDay" class="col-form-label text-right required"></label>
        </div>
        <div class="col-lg-9">
            <triple-date-picker day-name="@Html.NameFor(x => x.DateOfBirthDay)" month-name="@Html.NameFor(x => x.DateOfBirthMonth)" year-name="@Html.NameFor(x => x.DateOfBirthYear)"
                                day="@Model.DateOfBirthDay" month="@Model.DateOfBirthMonth" year="@Model.DateOfBirthYear"
                                begin-year="1970" end-year="2020" disabled="false" />
        </div>
    </div>

    <div class="form-group row">
        <div class="col-lg-3">
            <label asp-for="DateOfBirthDay" class="col-form-label text-right required"></label>
        </div>
        <div class="col-lg-9">
            <triple-date-picker month-name="@Html.NameFor(x => x.DateOfBirthMonth)" year-name="@Html.NameFor(x => x.DateOfBirthYear)"
                                month="@Model.DateOfBirthMonth" year="@Model.DateOfBirthYear"
                                begin-year="1970" end-year="2020" disabled="false" />
        </div>
    </div>

    <div class="form-group row">
        <div class="col-lg-3">
            <label asp-for="TestEmail" class="col-form-label text-right required"></label>
        </div>
        <div class="col-lg-9">
            <input asp-for="TestEmail" class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="col offset-3">
            <zone name="gdpr_consent"></zone>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col offset-3">
            <button type="submit" class="btn btn-secondary">Submit</button>
        </div>
    </div>
}
