@model IList<Log>

@using Smartstore.Core.Logging;

@{
    ViewData["Title"] = "Log Events";
}

<h1 class="display-4">Log Events</h1>

<table class="table table-responsive">
    <thead>
        <tr>
            <th>Logger</th>
            <th>User</th>
            <th>Kdnr.</th>
            <th>Datum</th>
            <th>Short</th>
            <th>URL</th>
        </tr>
    </thead>
    <tbody class="small">
        @foreach (var log in Model)
        {
        <tr>
            <td>@log.Logger</td>
            <td>@log.UserName</td>
            <td>@log.CustomerId</td>
            <td>@log.CreatedOnUtc</td>
            <td>@log.ShortMessage</td>
            <td>@log.PageUrl</td>
        </tr>
        }
    </tbody>
</table>
