@using Smartstore.Web.Models.Checkout;
﻿@using Microsoft.AspNetCore.Mvc.ModelBinding;

@model CheckoutAddressModel

@{
    Layout = "_Checkout";
    Assets.AppendTitleParts(T("PageTitle.Checkout.ShippingAddress"));
    Assets.BodyAttributes.AppendCssClass("no-offcanvas-cart");
    Assets.AddMetaRobots();
}

<widget target-zone="order_progress">
    @await Component.InvokeAsync("CheckoutProgress", new { action = nameof(CheckoutController.ShippingAddress) })
</widget>

<div class="page shipping-address-page">
    <div class="page-title">
        <h1 class="h3">@T("Checkout.ShippingAddress")</h1>
    </div>
    <div class="page-body checkout-data">
        <form asp-action="ShippingAddress" asp-controller="Checkout" method="post">
            <zone name="checkout_shipping_address_top" />

            <fieldset sm-if="Model.HasAddresses" class="content-group mb-3">
                <legend><span>@T("Checkout.SelectShippingAddress")</span></legend>

                <div class="row card-grid g-3 row-cols-1 row-cols-md-2 row-cols-lg-3 address-list">
                    @foreach (var item in Model.ExistingAddresses)
                    {
                        <div class="col">
                            <div class="card card-body address-list-item">
                                <div class="address-item">
                                    <button class="btn btn-warning btn-block select-shipping-address-button"
                                            data-url="@Url.Action("SelectShippingAddress", new { addressId = item.Id })">
                                        <span>@T("Checkout.ShipToThisAddress")</span>
                                        <i class="fa fa-angle-right"></i>
                                    </button>

                                    <div class="address-data mt-3">
                                        <div class="name pb-2">
                                            <strong>
                                                <span sm-if="item.FirstName.IsEmpty() && item.LastName.IsEmpty()">@item.Company</span>
                                                <span class="bidi-embed">@item.FirstName </span>
                                                <span class="bidi-embed">@item.LastName</span>
                                            </strong>
                                        </div>
                                        <div class="email">
                                            <span>@T("Address.Fields.Email"):</span>
                                            <span>@item.Email</span>
                                        </div>
                                        <div sm-if="item.PhoneEnabled" class="phone">
                                            <span>@T("Address.Fields.PhoneNumber"):</span>
                                            <span>@item.PhoneNumber</span>
                                        </div>
                                        <div sm-if="item.FaxEnabled && item.FaxNumber.HasValue()" class="fax">
                                            <span>@T("Address.Fields.FaxNumber"):</span>
                                            <span>@item.FaxNumber</span>
                                        </div>
                                        <div class="address">
                                            @Html.Raw(item.FormattedAddress)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                    <partial name="_AddNewAddress" />
                </div>
            </fieldset>

            <zone name="checkout_shipping_address_middle" />

            <fieldset class="content-group cnt-add-new-address" attr-style='(Model.HasAddresses && ViewData.ModelState.IsValid, "display:none")'>
                <legend><span>@T(Model.HasAddresses ? "Checkout.OrEnterNewAddress" : "Checkout.EnterShippingAddress")</span></legend>
                <div class="enter-address">
                    <div class="enter-address-body">
                        @{
                            var dataDictAddress = new ViewDataDictionary(new EmptyModelMetadataProvider(), new ModelStateDictionary());
                            dataDictAddress["breakpoint"] = "sm";
                            // Merge ModelState (required for validation).
                            dataDictAddress.ModelState.Merge(ViewData.ModelState);
                            dataDictAddress.TemplateInfo.HtmlFieldPrefix = "NewAddress";
                        }

                        <partial name="_CreateOrUpdateAddress" model="Model.NewAddress" view-data="dataDictAddress" />
                    </div>

                    <div class="buttons">
                        <a href="@Model.PreviousStepUrl" class="btn btn-secondary btn-lg">
                            <i class="fa fa-angle-left"></i>
                            <span>@T("Common.Back")</span>
                        </a>
                        <input type="submit" id="nextstep" name="nextstep" class="d-none" />
                        <button type="button" class="btn btn-warning btn-lg new-address-next-step-button">
                            <span>@T("Checkout.NextButton")</span>
                            <i class="fa fa-angle-right"></i>
                        </button>
                    </div>
                </div>
            </fieldset>

            <zone name="checkout_shipping_address_bottom" />
        </form>
    </div>
</div>

<script sm-target-zone="scripts" data-origin="shipping-address">
    $(function () {
        $('.select-shipping-address-button').on('click', function (e) {
            e.preventDefault();
            $(this).postData({});
            return false;
        });

        $('.new-address-next-step-button').on('click', function () {
            $('#nextstep').trigger('click');
            return false;
        });

        @if (!ViewData.ModelState.IsValid)
        {
            <text>$.scrollTo($('.address-form'), 400, { offset: -40 });</text>
        }
    });
</script>