@model CategoryListModel

@{
    ViewBag.Title = T("Admin.Catalog.Categories.Manage").Value;

    var isSingleStoreMode = (bool)ViewBag.IsSingleStoreMode;
    var canEdit = (bool)ViewBag.CanEdit;
}

<div class="section-header">
    <div class="title">
        <i class="fa fa-sitemap"></i>
        <span>@ViewBag.Title</span>

        <div class="btn-group ml-2 align-top">
            <a asp-action="List" class="btn btn-outline-secondary btn-sm tooltip-toggle" title="@T("Admin.Catalog.Categories.SwitchToListView")">
                <i class="fa fa-bars"></i>
            </a>
            <a class="btn btn-outline-secondary btn-sm tooltip-toggle active" style="cursor:default" href="javascript:void(0)">
                <i class="fa fa-sitemap"></i>
            </a>
        </div>
    </div>
    <div class="options">
		<zone name="admin_button_toolbar_before" />

        <a asp-action="Create" class="btn btn-primary">
            <i class="fa fa-plus"></i>
            <span>@T("Admin.Common.AddNew")…</span>
        </a>

		<zone name="admin_button_toolbar_after" />
    </div>
</div>

<div sm-if="!isSingleStoreMode" class="row">
    <div class="col-sm-3">
        <div class="form-group">
            <smart-label asp-for="SearchStoreId" />
            <div class="form-row">
                <div class="col">
                    <editor asp-for="SearchStoreId" />
                </div>
            </div>
        </div>
    </div>
</div>

@*TODO: (mg) (core) remove margin-left later. MiniProfiler is in my way.*@
<div id="category-tree" class="tree" data-url="@Url.Action("CategoryTree")" style="margin-left:100px"></div>

<script sm-target-zone="scripts" data-origin="category-tree">
    $(function() {
        // Init category tree.
        $('#category-tree').tree('init', {
            dragAndDrop: @canEdit.ToString().ToLower(),
            defaultIconClass: 'fa fa-fw fa-folder text-success'
        });

        // Filter by store ID.
        $('#@Html.IdFor(model => model.SearchStoreId)').on('change', function() {
            var storeId = $(this).val();
            //...
        });
    });
</script>