@model ForumGroupModel

@{
    var parentModel = ViewData["Parent"] as ForumGroupListModel;
    var isSingleStoreMode = (bool)ViewBag.IsSingleStoreMode;

    var nameStr = T("Admin.ContentManagement.Forums.Forum.Fields.Name");
    var createdOnStr = T("Common.CreatedOn");
    var displayOrderStr = T("Common.DisplayOrder");
}

<datagrid id="forum-groups-grid"
          allow-resize="true"
          preserve-grid-state="true" preserve-command-state="true"
          allow-column-reordering="true">
    <datasource read="@Url.Action("ForumGroupList", "Forum")" />
    <paging enabled="false" position="Bottom" show-size-chooser="false" />
    <sorting allow-unsort="true" allow-multisort="false">
        <sort by="DisplayOrder" />
    </sorting>
    <search-panel>
        <partial name="_Grid.ForumGroups.Search" model="parentModel" />
    </search-panel>
    <toolbar>
        <toolbar-group>
            <button datagrid-action="DataGridToolAction.ToggleSearchPanel" type="button" class="btn btn-light btn-icon">
                <i class="fa fa-fw fa-filter"></i>
            </button>
        </toolbar-group>
        <toolbar-group>
            <a asp-action="ForumGroupInsert" asp-controller="Forum" class="btn btn-primary btn-flat">
                <i class="fa fa-plus"></i>
                <span>@T("Admin.ContentManagement.Forums.ForumGroup.CreateForumGroup")</span>
            </a>
        </toolbar-group>
    </toolbar>
    <columns>
        <column for="Id" halign="center" visible="false" readonly="true" type="string" />
        <column for="Name" hideable="false" width="2fr">
            <display-template>
                <div class="text-truncate"><a :href="item.row.EditUrl" class="text-truncate">{{ item.value }}</a></div>
            </display-template>
        </column>
        <column for="DisplayOrder" halign="center" />
		@if (!isSingleStoreMode)
		{
			<column for="LimitedToStores" halign="center" />
		}
        <column for="SubjectToAcl" visible="false" halign="center" />
        <column for="CreatedOn" entity-member="CreatedOnUtc" />
    </columns>
    <detail-view>
        <div class="datagrid-root">
            <sm-datagrid
                :ref="'forums-grid' + item.row.Id"
                :id="'forums-grid' + item.row.Id"
                :options="{ keyMemberName: 'Id', vborders: true, hover: true, striped: true }"
                :data-source="{ read: '@Url.Action("ForumList", "Forum")?forumGroupId=' + item.row.Id }"
                :columns="[ 
                    { member: 'ForumGroupIdId', name: 'ForumGroupIdId', visible: false },
                    { member: 'Name', name: '@nameStr', visible: true, title: '@nameStr' },
                    { member: 'DisplayOrder', name: 'DisplayOrder', visible: true, halign: 'center', type: 'int', title: '@displayOrderStr' },
                    { member: 'CreatedOnStr', name: '@createdOnStr', visible: true, title: '@createdOnStr', entityMember: 'CreatedOnUtc' },
                ]" 
                :paging="{ enabled: false }" 
                :sorting="{ enabled: false }">
                <template v-slot:display-name="item">
                    <div class='text-truncate'><a :href='item.row.EditUrl' class='text-truncate'>{{ item.value }}</a></div>
                </template>
                <template v-slot:toolbar="grid">
                    <div class="dg-toolbar d-flex flex-nowrap">
                        <div class="dg-toolbar-group">
                            <a class="btn btn-primary btn-sm btn-flat" :href="'@Url.Action("ForumInsert", "Forum")?forumGroupId=' + item.row.Id">
                                <i class="fa fa-plus"></i>
                                <span>@T("Admin.ContentManagement.Forums.Forum.CreateForum")</span>
                            </a>
                        </div>
                    </div>
                </template>
            </sm-datagrid>
        </div>
    </detail-view>
</datagrid>