@model ForumGroupModel

@{  
    ViewBag.Title = T("Admin.ContentManagement.Forums.ForumGroup.EditForumGroup").Value;
}

<form asp-action="ForumGroupUpdate" asp-controller="Forum">
    <div class="section-header">
        <div class="title">
            <i class="fa fa-users"></i>
            <span>@ViewBag.Title</span>
            <a asp-action="List">(@T("Admin.Common.BackToList"))</a>
        </div>
        <div class="options">
            <zone name="admin_button_toolbar_before" />

            <button type="submit" name="save" value="save" class="btn btn-warning">
                <i class="fa fa-check"></i>
                <span>@T("Admin.Common.Save")</span>
            </button>
            <button type="submit" name="save" value="save-continue" class="btn btn-secondary">
                <span>@T("Admin.Common.SaveContinue")</span>
            </button>
            <button type="button" id="forum-group-delete" value="forum-group-delete" class="btn btn-danger">
                <i class="far fa-trash-alt"></i>
				<span>@T("Admin.Common.Delete")</span>
            </button>
            <confirm button-id="forum-group-delete" action="ForumGroupDelete" controller="Forum" />

            <zone name="admin_button_toolbar_after" />
        </div>
    </div>

    <partial name="_CreateOrUpdateForumGroup" />
</form>