@model AmazonPayButtonModel

<div class="my-2 ml-3">
    <div id="amazonpay-button"></div>
</div>

<script sm-target-zone="scripts" src="@Html.Raw(Model.CheckoutScriptUrl)"></script>
<script sm-target-zone="scripts" data-origin="amazonpay-button">
    $(function () {
        var amazonPayButton = amazon.Pay.renderButton('#amazonpay-button', {
            merchantId: '@Html.Raw(Model.SellerId)',
            publicKeyId: '@Html.Raw(Model.PublicKeyId)',
            ledgerCurrency: '@Model.CurrencyCode',
            checkoutLanguage: '@Model.CheckoutLanguage',
            productType: '@Model.ButtonType',
            placement: '@Model.ButtonPlacement',
            buttonColor: '@Model.ButtonColor',
            sandbox: @(Model.UseSandbox.ToString().ToLower())
        });

        amazonPayButton.onClick(function () {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("CreateCheckoutSession", "AmazonPay", new { area = string.Empty, buttonType = Model.ButtonType })',
                data: $('#startcheckout').closest('form').serialize(),
			    success: function (response) {
                    if (response.success) {
                        // INFO: this it not nice. It forces us to redirect to AmazonPay in the same browser window.
                        amazonPayButton.initCheckout({
                            createCheckoutSessionConfig: {
                                payloadJSON: response.payload,
                                signature: response.signature,
                                publicKeyId: '@Html.Raw(Model.PublicKeyId)'
                            }
                        });
				    }
				    else {
					    displayNotification(response.message, response.messageType);
				    }
			    }
		    });
        });
    });
</script>
