@using Smartstore.Web.Models.Customers;

@model CustomerOrderListModel

@{
    Assets.AppendTitleParts(T("PageTitle.Account"));

    Layout = "_MyAccount";
    ViewBag.PageClassToken = "orders";
    ViewBag.PageTitle = T("Account.CustomerOrders").Value;
}

@if (Model.RecurringPayments.Count > 0)
{
    <partial name="RecurringPayments" />
}

@if (Model.Orders.Count == 0)
{
    <div class="alert alert-warning">
        @T("Account.CustomerOrders.NoOrders")
    </div>
    return;
}

<div class="order-list">
    @foreach (var order in Model.Orders)
    {
        <div class="card order-item mb-3">
            <div class="card-body">
                <h4 class="card-title h5 mb-4">@T("Order.Order#"): @order.OrderNumber</h4>
                <dl class="row mb-0">
                    <dt class="col-sm-3 font-weight-400 text-muted">@T("Order.OrderStatus")</dt>
                    <dd class="col-sm-9">@order.OrderStatus</dd>
                    <dt class="col-sm-3 font-weight-400 text-muted">@T("Order.OrderDate")</dt>
                    <dd class="col-sm-9">@order.CreatedOn.ToNativeString()</dd>
                    <dt class="col-sm-3 font-weight-400 text-muted">@T("Order.OrderTotal")</dt>
                    <dd class="col-sm-9 price">@order.OrderTotal</dd>
                </dl>
            </div>

            <div class="card-footer d-flex p-2">
                <a asp-action="Details" asp-controller="Order" asp-route-id="@order.Id" class="btn btn-light btn-sm btn-flat" rel="nofollow">
                    <i class="far fa-rectangle-list"></i>
                    <span>@T("Order.OrderDetails")</span>
                </a>
                @if (order.IsReturnRequestAllowed)
                {
                    <a asp-action="ReturnRequest" asp-controller="ReturnRequest" asp-route-id="@order.Id" class="btn btn-light btn-sm btn-flat" rel="nofollow">
                        <i class="fa fa-reply"></i>
                        <span>@T("Account.CustomerOrders.ReturnItems")</span>
                    </a>
                }
            </div>
        </div>
    }
</div>

<div sm-if="Model.Orders.TotalPages > 1" class="mt-1">
    <pagination sm-list-items="Model.Orders" sm-query-param="page" id="paginator" />
</div>