@model TaskModel

<datagrid id="tasks-grid" 
		allow-resize="true" 
		allow-column-reordering="true" 
		preserve-grid-state="true"
        onrowclass="tasksGrid_onRowClass">
	<datasource read="@Url.Action("TaskList")" />
    @* TODO: (core) Change paging-Tag after DataGrid has been refactored due to pager-bar glitch *@
    <paging enabled="true" position="Top" show-size-chooser="false" page-size="999999" />
	<columns>
        <column for="Name" hideable="false">
            <display-template>
                <a :href="item.row.EditUrl" class="text-truncate">{{ item.value }}</a>
            </display-template>
        </column>
        <column for="Enabled" halign="center"></column>
        <column for="CronExpression">
            <display-template>
                <div>
                    <div>{{ item.value }}</div>
                    <div v-if="item.row.CronDescription.length > 0" class="text-muted">{{ item.row.CronDescription }}</div>
                </div>
            </display-template>
        </column>
        <column for="LastRunInfo" width="300px">
            <display-template>
                <div class="last-run-info" v-html="item.value"></div>
            </display-template>
        </column>
        <column for="NextRunInfo" width="300px">
            <display-template>
                <div class="next-run-info" v-html="item.value"></div>
                <!-- TODO: (mg) (core) I assume that deep objects cannot be bound to Vue elements. Please test and verify later.  -->
                <div class="task-progress text-muted"
                     v-bind:class="{ hide: !item.row.LastExecutionInfo.IsRunning }"
                     :data-task-id="item.row.Id"
                     :data-running='item.row.LastExecutionInfo.IsRunning ? "true" : "false"'></div>
            </display-template>
        </column>
	</columns>
    <row-commands>
        <a datarow-action="DataRowAction.Custom" :href="item.row.EditUrl">@T("Common.Edit")</a>
        <a v-if="!item.row.LastExecutionInfo.IsRunning" datarow-action="DataRowAction.Custom" :href="item.row.ExecuteUrl" class="btn-run-task" :data-task-id="item.row.Id">
            @T("Admin.System.ScheduleTasks.RunNow")</a>
        <a v-if="item.row.LastExecutionInfo.IsRunning" datarow-action="DataRowAction.Custom" :href="item.row.CancelUrl" class="btn-cancel-task" :data-task-id="item.row.Id"
            onclick='return confirm(@T("Admin.Common.AreYouSure").JsValue);'>
            @T("Common.Cancel")</a>
    </row-commands>
</datagrid>

<script sm-target-zone="scripts" data-origin="tasks-grid">
    function tasksGrid_onRowClass(row) {
        return {
            "active-row": row.LastExecutionInfo.IsRunning, // TODO: (mg) (core) Does absolutely nothing!
            "text-muted": !row.Enabled // TODO: (mg) (core) No sufficient styling!
        };
    }
</script>