@model TaskExecutionInfoModel

@{
	var parentModel = ViewData["Parent"] as TaskModel;
}

<datagrid id="task-execution-infos-grid" 
        allow-row-selection="true"
		allow-resize="true" 
		allow-column-reordering="true" 
		preserve-grid-state="true">
	<datasource read="@Url.Action("TaskExecutionInfoList", new { id = parentModel.Id })" delete="@Url.Action("DeleteExecutionInfos")" />
    <paging position="Bottom" show-size-chooser="true" />
	<toolbar>
        <toolbar-group class="omega">
            <button datagrid-action="DataGridToolAction.DeleteSelectedRows" type="button" class="btn btn-danger btn-flat">
                <i class="far fa-trash-alt"></i>
                <span>@T("Admin.Common.Delete.Selected")</span>
            </button>
        </toolbar-group>
	</toolbar>
	<columns>
        <column for="Id" visible="false" resizable="false" />
        <column for="StartedOn" title="@T("Common.ExecutedOn")" width="260px">
            <display-template>
                <div>
					<div>{{ item.row.StartedOnString }}</div>
					<div class="text-muted">{{ item.row.StartedOnPretty }}</div>
				</div>
            </display-template>
        </column>
        <column for="FinishedOn" title="@T("Common.FinishedOn")" width="260px">
            <display-template>
                <div>
					<div>{{ item.row.FinishedOnString }}</div>
					<div class="text-muted">{{ item.row.FinishedOnPretty }}</div>
				</div>
            </display-template>
        </column>
        <column for="Duration" width="260px"></column>
        <column for="Succeeded" width="400px">
            <display-template>
				<div v-if="item.row.Succeeded">
                    <i class="fa fa-fw icon-active-true"></i>
                    <span class="ml-1">@T("Common.Succeeded")</span>
                </div>
				<div v-if="!item.row.Succeeded">
                    <div class="text-danger font-weight-medium">@T("Common.Error"):</div>
                    <pre class="prettyprint xlang-java mt-1 mb-0" style="max-height: 200px; white-space: pre-wrap;">{{ item.row.Error }}</pre>
                </div>
            </display-template>
        </column>
		<column for="MachineName"></column>
	</columns>
</datagrid>

@*TODO: (mg) (core) would be nice here to prevent a grid row from being selected.*@
@*<script sm-target-zone="scripts" data-origin="task-execution-infos-grid">
    function taskInfosGrid_onRowClass(row) {
        return {
            "disabled": row.IsRunning
        };
    }
</script>*@