@using Smartstore.Web.Models.Checkout

@model CheckoutShippingMethodModel

<zone name="checkout_shipping_method_content_before" />

@if (Model.Warnings.Count > 0)
{
    <div class="alert alert-danger" role="alert">
        <span class="sr-only">@T("Common.Error"): </span>
        <ul>
            @foreach (var warning in Model.Warnings)
            {
                <li>@warning</li>
            }
        </ul>
    </div>
}
else
{
    <fieldset>
        <legend class="sr-only">
            @T("Checkout.SelectShippingMethod")
        </legend>
        <ul class="list-group opt-list shipping-options">
            @for (int i = 0; i < Model.ShippingMethods.Count; i++)
            {
                var shipTo = Model.ShippingMethods[i];
                var hasFee = shipTo.Fee != decimal.Zero;
                <li class="list-group-item opt-list-item shipping-option-item" attr-class='(shipTo.Selected, "active")'>
                    <div class="opt-data">
                        <div class="form-check opt-control option-name radio">
                            <input id="shippingoption_@(i)"
                                   type="radio"
                                   name="shippingoption"
                                   class="opt-radio form-check-input"
                                   attr-checked='(shipTo.Selected, "checked")'
                                   value="@(shipTo.ShippingMethodId)___@(shipTo.ShippingRateComputationMethodSystemName)"
                                   attr-aria-describedby='(hasFee, $"ship-to-fee-{i}")' />
                            <label class="form-check-label" for="shippingoption_@(i)">
                                <span class="opt-name">@Html.Raw(shipTo.Name.HtmlDecode())</span>
                            </label>
                        </div>
                        <div sm-if="hasFee"
                             id="ship-to-fee-@i"
                             class="opt-fee shipping-fee badge badge-danger ml-auto"
                             aria-describedby="footer-legal-info">
                            <data asp-for="@shipTo.Fee">@shipTo.Fee</data>
                        </div>
                    </div>

                    <div sm-if="shipTo.Description.HasValue()" class="opt-info text-muted shipping-option-description">
                        @if (shipTo.BrandUrl.HasValue())
                        {
                            <div class="media">
                                <span class="float-left">
                                    <img class="media-object img-fluid" src="@Url.Content(shipTo.BrandUrl)" alt="@shipTo.Name" />
                                </span>
                                <div class="media-body">
                                    @Html.Raw(shipTo.Description)
                                </div>
                            </div>
                        }
                        else
                        {
                            @Html.Raw(shipTo.Description);
                        }
                    </div>
                </li>
            }
        </ul>
    </fieldset>
}

<zone name="checkout_shipping_method_content_after" />
