@using Smartstore.Admin.Models.Logging

@model LogListModel

@{
    ViewBag.Title = T("Admin.System.Log").Value;
    Assets.BodyAttributes.AppendCssClass("spa-layout");
}

<form method="post" asp-action="List">
    <div class="section-header">
        <div class="title">
            <i class="fa fa-fire"></i>
            @T("Admin.System.Log")
        </div>
        @* TODO: (ms) (core) Wait until delete confirmation function has been implemented to proceed with deletion. *@
        <div class="options">
            <button type="submit" name="clearall" value="clearall" class="btn btn-danger" onclick='return confirm(@T("Admin.Common.AskToProceed").JsValue);'>
                <i class="far fa-trash-alt"></i>
                <span>@T("Admin.System.Log.ClearLog")</span>
            </button>
        </div>
    </div>

    <div class="row mt-3 grid-filter">
        <div class="col-sm-6 col-lg-4 col-xl-3 form-group">
            <smart-label asp-for="CreatedOnFrom" />
            <editor asp-for="CreatedOnFrom" />
        </div>
        <div class="col-sm-6 col-lg-4 col-xl-3 form-group">
            <smart-label asp-for="CreatedOnTo" />
            <editor asp-for="CreatedOnTo" />
        </div>
        <div class="col-sm-6 col-lg-4 col-xl-3 form-group">
            <smart-label asp-for="Logger" />
            <input asp-for="Logger" />
        </div>
        <div class="col-sm-6 col-lg-4 col-xl-3 form-group">
            <smart-label asp-for="Message" />
            <input asp-for="Message" />
        </div>
        <div class="col-sm-6 col-lg-4 col-xl-3 form-group">
            <smart-label asp-for="LogLevelId" />
            <select asp-for="LogLevelId" asp-items="Model.AvailableLogLevels" placeholder="@T("Admin.Common.All")">
                @* None. Default option. Holds null value > no log level filter is applied if the user deletes the selection. *@
                <option value=""></option>
            </select>
        </div>
        <div class="col-sm-6 col-lg-4 col-xl-3 form-group">
            <label>&nbsp;</label>
            <button type="submit" id="btnSearch" value="btnSearch" class="btn btn-secondary btn-block">
                <span>@T("Admin.Common.Search")</span>
            </button>
        </div>
    </div>
</form>

<partial name="_Grid.Logs" model="null" />

<script sm-target-zone="scripts" data-origin="logs-list">
    function onDataBinding(command) {
        $.extend(command, {
            CreatedOnFrom: $('#@Html.IdFor(model => model.CreatedOnFrom)').val(),
            CreatedOnTo: $('#@Html.IdFor(model => model.CreatedOnTo)').val(),
            Logger: $('#@Html.IdFor(model => model.Logger)').val(),
            Message: $('#@Html.IdFor(model => model.Message)').val(),
            LogLevelId: $('#@Html.IdFor(model => model.LogLevelId)').val()
        });
    }

    $(function() {
        $('#btnSearch').on("click", e => {
            e.preventDefault();
            var grid = window["log-grid"];
            grid.paging.pageIndex = 1;
            return false;
        });

        $("#@Html.IdFor(x => x.Message), #@Html.IdFor(x => x.Logger)").on("keydown", event => {
            if (event.keyCode == 13) {
                // On enter key pressed - submit/return form.
                $("#btnSearch").click();
                return false;
            }
        });
    });
</script>