@using Smartstore.Admin.Models.Logging

@model LogModel

@{
    Assets.AppendScriptParts("https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js");
    ViewBag.Title = T("Admin.System.Log.ViewLogDetails").Value;
}

<form method="post" asp-action="List">
    <div class="section-header">
        <div class="title">
            <i class="fa fa-fire"></i>
            @T("Admin.System.Log.ViewLogDetails") @Html.ActionLink("(" + T("Admin.System.Log.BackToList") + ")", "List")
        </div>
        <div class="options">
            <button type="submit" id="log-delete" class="btn btn-danger">
                <i class="far fa-trash-alt"></i>
                <span>@T("Admin.Common.Delete")</span>
            </button>
        </div>
    </div>

    <table class="adminContent">
        <tr>
            <td class="adminTitle">
                <smart-label asp-for="LogLevel" />
            </td>
            <td class="adminData">
                <div class="form-control-plaintext">
                    <span class="badge badge-@Model.LogLevelHint">@Model.LogLevel</span>
                </div>
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                <smart-label asp-for="Logger" />
            </td>
            <td class="adminData">
                <input asp-for="Logger" readonly="readonly" class="form-control-plaintext" />
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                <smart-label asp-for="ShortMessage" />
            </td>
            <td class="adminData">
                <div class="form-control-plaintext">
                    <input asp-for="ShortMessage" readonly="readonly" />
                </div>
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                <smart-label asp-for="IpAddress" />
            </td>
            <td class="adminData">
                <input asp-for="IpAddress" readonly="readonly" class="form-control-plaintext" />
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                <smart-label asp-for="CustomerId" />
            </td>
            <td class="adminData">
                <div sm-if="Model.CustomerId.HasValue" class="form-control-plaintext">
                    @Html.ActionLink(Model.CustomerEmail.HasValue() ? Model.CustomerEmail : T("Admin.Customers.Guest").Value, "Edit", "Customer", new { id = Model.CustomerId }, new { })
                </div>
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                <smart-label asp-for="UserName" />
            </td>
            <td class="adminData">
                <input asp-for="UserName" readonly="readonly" class="form-control-plaintext" />
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                <smart-label asp-for="PageUrl" />
            </td>
            <td class="adminData wide">
                <div sm-if="Model.PageUrl.HasValue()" class="form-control-plaintext">
                    <span>@Model.HttpMethod </span>
                    <a href="@Model.PageUrl" target="_blank">@Model.PageUrl</a>
                </div>
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                <smart-label asp-for="ReferrerUrl" />
            </td>
            <td class="adminData wide">
                <div sm-if="Model.ReferrerUrl.HasValue()" class="form-control-plaintext">
                    <span>@Model.HttpMethod </span>
                    <a href="@Model.ReferrerUrl" target="_blank">@Model.ReferrerUrl</a>
                </div>
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                <smart-label asp-for="CreatedOn" />
            </td>
            <td class="adminData">
                <div class="form-control-plaintext">
                    <smart-label asp-for="CreatedOn" />
                </div>
            </td>
        </tr>
        <tr sm-if="Model.FullMessage.HasValue()">
            <td class="adminTitle">
                <smart-label asp-for="FullMessage" />
            </td>
            <td class="adminData wide">
                @*No whitespace within pre tag*@
                <pre class="prettyprint xlang-java" style="white-space: pre-wrap;"><smart-label asp-for="FullMessage" /></pre>
            </td>
        </tr>
    </table>
</form>

@*TODO: (ms) (core) How to replace this?*@
@*@Html.DeleteConfirmation("log-delete")*@
