@using Smartstore.Core.Widgets

@{
    // INFO: (mw) (dt) Please analyze all review commits carefully! Try to adopt best-practices, code style and conventions the next time.
    // TODO: (mw) (dt) Offcanvas: Use smaller font-size for clickable items.
    // TODO: (mw) (dt) Offcanvas: Use bg color for hover & active for clickable items.

    // TODO: (mw) (dt) Offcanvas: Add active state to the toggle button.
    // TODO: (mw) (dt) Offcanvas: Check alternative to native JS scrollIntoView for smooth scrolling in x- and y-direction, but with callback functionality.
    
    if (ViewData["widgetzone"] is not IWidgetZone zone)
    {
        return;
    }

    // Check if the visibility cookie is set.
    var visibilityCookie = Request.Cookies[".Smart.WZVisibility"];
    var isVisible = visibilityCookie != "false";

    if (zone.Name == "start")
    {
        // Add the offcanvas zone preview menu
        <a id="wz-menu-toggle" class="position-fixed top-0 end-0 m-2 mt-6 btn btn-dark" href="#" data-toggle="offcanvas"
           data-autohide="true" data-blocker="false" data-placement="end" data-fullscreen="false" data-slide="false" data-target="#wz-menu">
            <i class="far fa-layer-group"></i>
        </a>
        <aside id="wz-menu" class="offcanvas offcanvas-end offcanvas-shadow">
            <div class="offcanvas-content d-flex flex-column">
                <div class="wz-zone-list bg-dark flex-grow-1 overflow-scroll p-0 pb-3 custom-scrollbar custom-scrollbar-invert"></div>

                <div id="wz-toolbar" class="d-flex align-items-stretch">
                    <a class="wz-tool wz-toggle flex-grow-1 d-flex align-items-center justify-content-center text-decoration-none@(isVisible ? " show-wz" : "")" attr-class='(!isVisible, "disabled")'
                        href="#" rel="nofollow" title="" data-toggle="tooltip" data-placement="top" data-original-title="@Html.Raw(T("Plugins.Developer.DevTools.WidgetZoneMenu.Toggle"))">
                        <bootstrap-icon name="eye" class="wz-visible bi-fw" attr-class='(isVisible, "d-none")' />
                        <bootstrap-icon name="eye-slash" class="wz-invisible bi-fw" attr-class='(!isVisible, "d-none")' />
                    </a>
                    <span class="tool-divider"></span>
                    <a class="wz-tool wz-toggle flex-grow-1 d-flex align-items-center justify-content-center text-decoration-none" data-persistent="@(isVisible ? "true" : "false")"
                        href="#" rel="nofollow" title="" data-toggle="tooltip" data-placement="top" data-original-title="@T("Plugins.Developer.DevTools.WidgetZoneMenu.PersistentToggle")">
                        <bootstrap-icon name="power" class="bi-fw" />
                    </a>
                    <span class="tool-divider"></span>
                    <a class="wz-tool wz-sidebar-close flex-grow-1 d-flex align-items-center justify-content-center text-decoration-none"
                        href="#" rel="nofollow" title="" data-toggle="tooltip" data-placement="top" data-original-title="@T("Plugins.Developer.DevTools.WidgetZoneMenu.CloseButton")">
                        <bootstrap-icon name="x-lg" class="bi-fw" />
                    </a>
                </div>
            </div>
        </aside>
    }
}

@if (zone.PreviewTagName == "meta")
{
    <meta name="widget-zone-name" class="wz-preview" attr-class='(!isVisible, "d-none")' content="@zone.Name" />
}
else
{
    <span sm-tagname="@zone.PreviewTagName" class="wz-preview badge badge-primary badge-subtle badge-ring text-truncate@(!isVisible ? " d-none" : "")" title="@zone.Name"
          attr-class='(zone.PreviewCssClass.HasValue(), zone.PreviewCssClass)'
          attr-style='(zone.PreviewCssStyle.HasValue(), zone.PreviewCssStyle)'>
        <span class="text-truncate">@zone.Name</span>
        @* Maybe later *@
        @*<a href="javascript:;" class="btn-clipboard pretty-link mr-1" data-copy="@zoneName">
            <span><i class="far fa-paste"></i></span>
        </a>*@
    </span>
}

<script sm-if='zone.Name == "end"' type="module">
    @{
        var translationKeys = new[]
        {
            "Common.CopyToClipboard"
        };
    }

    import { DevTools } from "@(Url.Content("~/Modules/Smartstore.DevTools/js/smartstore.devtools.js"))";

    // Add widget zone group containers.
    let groups = @Html.Raw(Json.Serialize(ViewBag.WidgetZoneGroups));

    // Add a meta and default group for user-defined zones.
    groups.unshift({
        name: 'Meta',
        zones: [],
    });
    groups.push({
        name: @T("Admin.WidgetZones.UserDefined").JsValue,
        zones: []
    });

    $(function () {
        const zoneList = document.querySelector('.wz-zone-list');

        // Add div's to '#wz-menu .wz-zone-list' for each element in groups.
        groups.forEach(group => {
            let groupContainer = $(`<div class="wz-zone-group d-flex flex-column mt-2 d-none" data-group="${group.name}"><h6 class="text-white my-2">${group.name}</h6></div>`);
            groupContainer.data('groups', group.zones.join(' '))
            $(zoneList).append(groupContainer);
        });

        const devTools = new DevTools();
        devTools.initialize();

        // Add translations
        devTools.Res = {
            @foreach (var key in translationKeys)
            {
                <text>"@(Html.Raw(key))": @(T(key).JsValue), </text>
            }
        };

        const zones = $('.wz-preview');
        zones.each(function() {
            const el = $(this);
            if (el.is('meta')) {
                devTools.registerWidgetZone({
                    name: el.attr('content'),
                    previewTagName: 'meta'
                });
            }
            else {
                devTools.registerWidgetZone({
                    name: el.attr('title'),
                    previewTagName: el[0].tagName.toLowerCase()
                });
            }
        });
    });
</script>