<!DOCTYPE html>
<html sm-language-attributes-for="@WorkContext.WorkingLanguage" data-pnotify-firstpos1="0">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, viewport-fit=cover, shrink-to-fit=no" />
    <meta name="HandheldFriendly" content="true">
    <meta name="description" content="@(AssetBuilder.GetMetaDescription())" />
    <meta name="keywords" content="@(AssetBuilder.GetMetaKeywords())" />
    <meta property="sm:root" content="@Url.Content("~/")" />

    <title itemprop="name">SmartstoreCorePlayground - @AssetBuilder.GetDocumentTitle(true)</title>

    <partial name="_HeadScripts" />

    <zone sm-zone-name="head_stylesheets">
        <link rel="stylesheet" href="~/bundles/css/common.css" />
        <link rel="stylesheet" href="~/bundles/css/theme.css" />
    </zone>

    <zone sm-zone-name="head_scripts">
        <script src="~/bundles/js/common.js"></script>
    </zone>

    <partial name="_GlobalizationScripts" />

    <script src="~/js/smartstore.globalization.adapter.js"></script>

    <zone sm-zone-name="head_canonical"></zone>
    <zone sm-zone-name="head_links"></zone>
    <zone sm-zone-name="head"></zone>

    <mini-profiler />
</head>

<body class="lyt-cols-1">
    <zone sm-zone-name="start" />
    <zone sm-zone-name="body_start_html_tag_after" /> @* Legacy compat *@
    @RenderBody()
    <zone sm-zone-name="aftercontent" />

    <zone sm-zone-name="scripts">
        <script src="~/bundles/js/site.js"></script>
        <script src="~/lib/select2/js/i18n/{lang}.js" sm-locale-for="WorkContext.WorkingLanguage"></script>
        <script src="~/lib/moment/locale/{lang}.js" sm-locale-for="WorkContext.WorkingLanguage"></script>
    </zone>
    <zone sm-zone-name="end" />
</body>
</html>
