@inject Smartstore.Core.Stores.IStoreContext StoreContext

@{ 
    Layout = "_Document";
}

<div id="page">
    <div class="canvas-blocker canvas-slidable"></div>

    <div class="page-main canvas-slidable">
        <header id="header">
            <div class="menubar-section d-none d-lg-block @(Display.GetThemeVariable<bool>("inverse-menubar") ? "menubar-inverse" : "menubar-light")">
                <div class="container menubar-container">
                    @await Component.InvokeAsync("TopBar")
                </div>
            </div>
            <div class="shopbar-section @(Display.GetThemeVariable<bool>("inverse-shopbar") ? "shopbar-inverse" : "shopbar-light")">
                <div class="container shopbar-container">
                    @await Component.InvokeAsync("ShopBar")
                </div>
            </div>
            <div class="megamenu-section d-none d-lg-block">
                <nav class="navbar @(Display.GetThemeVariable<bool>("inverse-navbar") ? "navbar-inverse" : "navbar-light")">
                    <div class="container megamenu-container">
                        <menu name="Main" template="Main" />
                    </div>
                </nav>
            </div>
        </header>

        <zone name="content-before"></zone>

        <div id="content-wrapper">
            <section id="content" class="container">
                <div class="d-none d-md-flex flex-wrap">
                    <h5 class="text-muted">@Context.Request.PathBase.Value - @Context.Request.Path.Value</h5>
                </div>

                <zone name="teaser"></zone>

                <partial name="Breadcrumb" />

                <div id="content-body" class="row">
                    <div id="content-center" class="col-lg-12">
                        <zone name="main_column_before"></zone>
                        <div class="page">
                            <div class="page-body">
                                @RenderBody()
                            </div>
                        </div>
                        <zone name="main_column_after"></zone>
                    </div>
                </div>
            </section>
        </div>

        <zone name="content-after"></zone>

        @await Component.InvokeAsync("Footer")
    </div>

    <a href="#" id="scroll-top" class="scrollto d-flex align-items-center justify-content-center shadow-sm">
        <i class="fa fa-lg fa-angle-up"></i>
    </a>
</div>