@using Smartstore.Admin.Models.Tax

@model IEnumerable<TaxProviderModel>

@{
    ViewBag.Title = T("Admin.Configuration.Tax.Providers").Value;
}

<div class="section-header">
    <div class="title">
        @ViewBag.Title
    </div>
</div>

<div>
    @(await Html.ProviderList(Model,
        buttonTemplate: @<a href="@Url.Action("ActivateProvider", new { systemName = item.SystemName })"
			data-systemname="@item.SystemName" data-activate="@(!item.IsPrimaryTaxProvider ? "true" : "false")"
            class="activate-provider btn btn-sm @(item.IsPrimaryTaxProvider ? "btn-outline-dark disabled" : "btn-success")">
            <bootstrap-icon name="check-lg" attr-class='(item.IsPrimaryTaxProvider, "d-none")' />
			@if (item.IsPrimaryTaxProvider)
			{
				<span>@T("Admin.Configuration.Tax.Providers.Fields.IsPrimaryTaxProvider")</span>
			}
			else
			{
				<span>@T("Admin.Configuration.Tax.Providers.Fields.MarkAsPrimaryProvider")</span>
			}
		</a>)
	)
</div>
