@using Smartstore.Web.Models.Common;
@using Smartstore.Core.Identity;

@model CookieManagerModel

@{
    Layout = "";

    var requiredCookieInfos = new List<CookieInfo>();
    var analyticsCookieInfos = new List<CookieInfo>();
    var thirdPartyCookieInfos = new List<CookieInfo>();
    var consentAdUserData = new List<CookieInfo>();
    var consentAdPersonalization = new List<CookieInfo>();

    if (Model.CookiesInfos != null)
    {
        requiredCookieInfos = Model.CookiesInfos.Where(x => x.CookieType == CookieType.Required).ToList();
        analyticsCookieInfos = Model.CookiesInfos.Where(x => x.CookieType == CookieType.Analytics).ToList();
        thirdPartyCookieInfos = Model.CookiesInfos.Where(x => x.CookieType == CookieType.ThirdParty).ToList();
        consentAdUserData = Model.CookiesInfos.Where(x => x.CookieType == CookieType.ConsentAdUserData).ToList();
        consentAdPersonalization = Model.CookiesInfos.Where(x => x.CookieType == CookieType.ConsentAdPersonalization).ToList();
    }
}

<modal id="cookie-manager-window"
       sm-backdrop="@(Model.ModalCookieConsent ? ModalBackdrop.Static : ModalBackdrop.Show)"
       sm-close-on-escape-press="!Model.ModalCookieConsent"
       sm-render-at-page-end="false">
    <modal-header>
        <h4 class="modal-title">@T("CookieManager.Dialog.Heading")</h4>
        <button sm-if="!Model.ModalCookieConsent" type="button" class="btn-close" data-dismiss="modal"></button>
    </modal-header>
    <modal-body>
        <form id="cookie-manager-consent" sm-ajax asp-action="SetCookieManagerConsent" asp-controller="Common" asp-antiforgery="false" method="post" sm-oncomplete="OnConsented">
            <input asp-for="AcceptAll" type="hidden" />

            <div id="cookie-manager">
                <p class="cm-intro mb-3">
                    @Html.Raw(T("CookieManager.Dialog.Intro", Url.Action("Info", "Customer"), await Url.TopicAsync("PrivacyInfo")))
                </p>

                <div class="cm-consent">
                    <div class="nav-toggler align-items-center row g-0 px-0">
                        <div class="cm-consent-switch col col-auto">
                            <input type="checkbox" asp-for="RequiredConsent" disabled sm-switch="true" />
                        </div>
                        <h5 class="cm-consent-title collapsed col m-0 pl-3" data-toggle="collapse" data-target="#required-cookies" aria-controls="required-cookies" aria-expanded="false">
                            @T("CookieManager.Dialog.Required.Heading")
                            <i class="fas fa-angle-up collapse-chevron"></i>
                        </h5>
                    </div>

                    <div id="required-cookies" class="collapse nav-collapse small" data-parent="#cookie-manager">
                        <p class="cm-consent-intro">
                            @T("CookieManager.Dialog.Required.Intro")
                        </p>
                        <table sm-if="requiredCookieInfos.Any()" class="cm-info-table table table-striped fs-xs m-0">
                            @foreach (var info in requiredCookieInfos)
                            {
                                <tr>
                                    <th scope="row">@info.Name</th>
                                    <td>@info.Description</td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>

                <div class="cm-consent">
                    <div class="row nav-toggler align-items-center g-0 px-0">
                        <div class="cm-consent-switch col col-auto">
                            <input type="checkbox" asp-for="AnalyticsConsent" sm-switch="true" />
                        </div>
                        <h5 class="cm-consent-title collapsed col m-0 pl-3" data-toggle="collapse" data-target="#analytics-cookies" aria-controls="analytics-cookies" aria-expanded="false">
                            @T("CookieManager.Dialog.Analytics.Heading")
                            <i class="fas fa-angle-up collapse-chevron"></i>
                        </h5>
                    </div>

                    <div id="analytics-cookies" class="collapse nav-collapse small" data-parent="#cookie-manager">
                        <p class="cm-consent-intro">
                            @T("CookieManager.Dialog.Analytics.Intro")
                        </p>
                        <table sm-if="analyticsCookieInfos.Any()" class="cm-info-table table table-striped fs-xs m-0">
                            @foreach (var info in analyticsCookieInfos)
                            {
                                <tr>
                                    <th scope="row">@info.Name</th>
                                    <td>@info.Description</td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>

                <div sm-if="thirdPartyCookieInfos.Any()" class="cm-consent">
                    <div class="row nav-toggler align-items-center g-0 px-0">
                        <div class="cm-consent-switch col col-auto">
                            <input type="checkbox" asp-for="ThirdPartyConsent" sm-switch="true" />
                        </div>
                        <h5 class="cm-consent-title collapsed col m-0 pl-3" data-toggle="collapse" data-target="#third-party-cookies" aria-controls="third-party-cookies" aria-expanded="false">
                            @T("CookieManager.Dialog.ThirdParty.Heading")
                            <i class="fas fa-angle-up collapse-chevron"></i>
                        </h5>
                    </div>

                    <div id="third-party-cookies" class="collapse nav-collapse small" data-parent="#cookie-manager">
                        <p class="cm-consent-intro">
                            @T("CookieManager.Dialog.ThirdParty.Intro")
                        </p>

                        <table class="cm-info-table table table-striped fs-xs m-0">
                            @foreach (var info in thirdPartyCookieInfos)
                            {
                                <tr>
                                    <th scope="row">@info.Name</th>
                                    <td>@info.Description</td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>

                <div sm-if="consentAdUserData.Any()" class="cm-consent">
                    <div class="row nav-toggler align-items-center g-0 px-0">
                        <div class="cm-consent-switch col col-auto">
                            <input type="checkbox" asp-for="AdUserDataConsent" sm-switch="true" />
                        </div>
                        <h5 class="cm-consent-title collapsed col m-0 pl-3" data-toggle="collapse" data-target="#ad-user-data-consent" aria-controls="ad-user-data-consent" aria-expanded="false">
                            @T("CookieManager.Dialog.AdUserDataConsent.Heading")
                            <i class="fas fa-angle-up collapse-chevron"></i>
                        </h5>
                    </div>

                    <div id="ad-user-data-consent" class="collapse nav-collapse small" data-parent="#cookie-manager">
                        <p class="cm-consent-intro">
                            @T("CookieManager.Dialog.AdUserDataConsent.Intro")
                        </p>
                        <table class="cm-info-table table table-striped fs-xs m-0">
                            @foreach (var info in consentAdUserData)
                            {
                                <tr>
                                    <th scope="row">@info.Name</th>
                                    <td>@info.Description</td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>

                <div sm-if="consentAdPersonalization.Any()" class="cm-consent">
                    <div class="row nav-toggler align-items-center g-0 px-0">
                        <div class="cm-consent-switch col col-auto">
                            <input type="checkbox" asp-for="AdPersonalizationConsent" sm-switch="true" />
                        </div>
                        <h5 class="cm-consent-title collapsed col m-0 pl-3" data-toggle="collapse" data-target="#ad-personalization-consent" aria-controls="ad-personalization-consent" aria-expanded="false">
                            @T("CookieManager.Dialog.AdPersonalizationConsent.Heading")
                            <i class="fas fa-angle-up collapse-chevron"></i>
                        </h5>
                    </div>

                    <div id="ad-personalization-consent" class="collapse nav-collapse small" data-parent="#cookie-manager">
                        <p class="cm-consent-intro">
                            @T("CookieManager.Dialog.AdPersonalizationConsent.Intro")
                        </p>
                        <table class="cm-info-table table table-striped fs-xs m-0">
                            @foreach (var info in consentAdPersonalization)
                            {
                                <tr>
                                    <th scope="row">@info.Name</th>
                                    <td>@info.Description</td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>
        </form>

        <div class="cm-footer mt-3">
            <div class="row g-2">
                <div class="col-sm-6">
                    <button type="submit" id="accept-selected" name="accept-selected" class="btn btn-block rounded-pill btn-secondary submit-consent">
                        @T("CookieManager.Dialog.Button.AcceptSelected")
                    </button>
                </div>
                <div class="col-sm-6">
                    <button type="submit" id="accept-all" name="accept-all" class="btn btn-block rounded-pill btn-primary submit-consent">
                        @T("CookieManager.Dialog.Button.AcceptAll")
                    </button>
                </div>
            </div>
        </div>
    </modal-body>
</modal>

@*INFO: No sm-target-zone here, because this component is loaded via AJAX*@
<script>
	$(function () {
        $('#cookie-manager-window').modal('show');

        $(".submit-consent").on("click", function () {
            var acceptAll = $(this).attr("id") == "accept-all";
            var elem = $("#@Html.IdFor(x => x.AcceptAll)");
			elem.val(acceptAll ? "True" : "False");

            if (acceptAll) {
				// Set all options of CookieManager view to true.
                updateCheckboxUIState($("#@Html.IdFor(x => x.AnalyticsConsent)"));
                updateCheckboxUIState($("#@Html.IdFor(x => x.ThirdPartyConsent)"));
                updateCheckboxUIState($("#@Html.IdFor(x => x.AdUserDataConsent)"));
                updateCheckboxUIState($("#@Html.IdFor(x => x.AdPersonalizationConsent)"));
            }

            $("#cookie-manager-consent").submit();
        });
    });

    function OnConsented() {
        $('#cookie-manager-window').modal('hide');
    };

    function updateCheckboxUIState (elem) {
        var checked = elem.is(":checked");

        if (!checked) {
            elem.trigger("click");
        }
    }
</script>