@using Smartstore.Core.Web

@model IUserAgent
@inject IUserAgent2 ua2

@{
    ViewBag.Title = "User Agent Tester";
    var ua = Model;
}

<div class="section-header">
    <div class="title">
        <i class="fa fa-mobile-alt"></i>
        <span>User Agent Tester</span>
    </div>
</div>

<div style="max-width: 800px">
    <form method="get">
        <div>
            <textarea name="ua" id="ua" class="form-control">@ua.RawValue</textarea>
            <button type="submit" class="btn btn-secondary mt-3">Test</button>
        </div>

        <div class="row mt-4">
            <div class="col-auto">
                OS: <strong>@ua.OS.Family</strong> (@ua.OS)<br />
                User Agent: <strong>@ua.UserAgent.Family</strong>, (@ua.UserAgent)<br />
                Device: <strong>@ua.Device.Family</strong>, (@ua.Device)<br />
                <br />
                IsBot: <span style='font-weight:@(ua.IsBot ? "bold" : "normal")'>@ua.IsBot</span><br />
                IsMobileDevice: <span style='font-weight:@(ua.IsMobileDevice ? "bold" : "normal")'>@ua.IsMobileDevice</span><br />
                IsTablet: <span style='font-weight:@(ua.IsTablet ? "bold" : "normal")'>@ua.IsTablet</span><br />
                IsPdfConverter: <span style='font-weight:@(ua.IsPdfConverter ? "bold" : "normal")'>@ua.IsPdfConverter</span><br />
            </div>
            <div class="col-auto">
                <div>Platform: <strong>@ua2.Platform.Name.NaIfEmpty()</strong> (Family: @ua2.Platform.Family.ToString())</div>
                <div>User Agent: <strong>@ua2.Name</strong> <span sm-if="ua2.Version != null">@ua2.Version.ToString()</span> (Type: @ua2.Type.ToString())</div>
                <div>Device: <strong>@ua2.Device.Name</strong> (Type: @ua2.Device.Type.ToString())</div>
                <br />
                <div>IsBot: <span style='font-weight:@(ua2.IsBot() ? "bold" : "normal")'>@ua2.IsBot()</span></div>
                <div>IsMobileDevice: <span style='font-weight:@(ua2.IsMobileDevice() ? "bold" : "normal")'>@ua2.IsMobileDevice()</span></div>
                <div>IsTablet: <span style='font-weight:@(ua2.IsTablet() ? "bold" : "normal")'>@ua2.IsTablet()</span></div>
                <div>IsPdfConverter: <span style='font-weight:@(ua2.IsPdfConverter() ? "bold" : "normal")'>@ua2.IsPdfConverter()</span></div>
            </div>
        </div>
@*        <div class="mt-4">
            OS: <strong>@ua.OS.Family</strong> (@ua.OS)<br />
            User Agent: <strong>@ua.UserAgent.Family</strong>, (@ua.UserAgent)<br />
            Device: <strong>@ua.Device.Family</strong>, (@ua.Device)<br />
            <br />
            IsBot: <span style='font-weight:@(ua.IsBot ? "bold" : "normal")'>@ua.IsBot</span><br />
            IsMobileDevice: <span style='font-weight:@(ua.IsMobileDevice ? "bold" : "normal")'>@ua.IsMobileDevice</span><br />
            IsTablet: <span style='font-weight:@(ua.IsTablet ? "bold" : "normal")'>@ua.IsTablet</span><br />
            IsPdfConverter: <span style='font-weight:@(ua.IsPdfConverter ? "bold" : "normal")'>@ua.IsPdfConverter</span><br />
        </div>*@
    </form>
</div>





