@using Smartstore.Core.Web

@model IUserAgent

@{
    ViewBag.Title = "User Agent Tester";
    var ua = Model;
}

<div class="section-header">
    <div class="title">
        <i class="fa fa-mobile-alt"></i>
        <span>User Agent Tester</span>
    </div>
</div>

<div style="max-width: 800px">
    <form method="get">
        <div>
            <textarea name="ua" id="ua" class="form-control">@ua.UserAgent</textarea>
            <button type="submit" class="btn btn-secondary mt-3">Test</button>
        </div>

        <div class="mt-4">
            <div>User Agent: <strong>@ua.Name</strong> <span sm-if="ua.Version != null">@ua.Version.ToString()</span> (Type: @ua.Type.ToString())</div>
            <div>Device: <strong>@ua.Device.Name</strong> (Type: @ua.Device.Type.ToString())</div>
            <div>Platform: <strong>@ua.Platform.Name.NaIfEmpty()</strong> (Family: @ua.Platform.Family.ToString())</div>
            <div>Supports WebP: <span style='font-weight:@(ua.SupportsWebP() ? "bold" : "normal")'>@ua.SupportsWebP()</span></div>
            <br />
            <div>IsBot: <span style='font-weight:@(ua.IsBot() ? "bold" : "normal")'>@ua.IsBot()</span></div>
            <div>IsMobileDevice: <span style='font-weight:@(ua.IsMobileDevice() ? "bold" : "normal")'>@ua.IsMobileDevice()</span></div>
            <div>IsTablet: <span style='font-weight:@(ua.IsTablet() ? "bold" : "normal")'>@ua.IsTablet()</span></div>
            <div>IsPdfConverter: <span style='font-weight:@(ua.IsPdfConverter() ? "bold" : "normal")'>@ua.IsPdfConverter()</span></div>
        </div>
    </form>
</div>





