@model KlarnaConfigurationModel

@{
    Layout = "_AdminLayout";
    ViewBag.Title = T("Plugins.Payment.Klarna.Admin.Configure").Value;
    var storeScope = Model.ActiveStoreScopeConfiguration;
}

<form asp-action="Configure" asp-controller="KlarnaAdmin" method="post">
    <div class="section-header">
        <div class="title">
            <i class="far fa-credit-card"></i>
            <span>@ViewBag.Title</span>
        </div>
        <div class="options">
            @if (storeScope > 0)
            {
                <button type="submit" name="save" class="btn btn-primary">
                    <i class="fa fa-check"></i>
                    <span>@T("Admin.Common.Save")</span>
                </button>
                <button type="submit" name="delete-scope-settings" class="btn btn-secondary"
                        data-modal-confirm="@T("Admin.Configuration.Settings.DeleteScopeConfirm")" data-modal-title="@T("Admin.Common.Confirm")">
                    <i class="fa fa-trash"></i>
                    <span>@T("Admin.Configuration.Settings.DeleteScope")</span>
                </button>
            }
            else
            {
                 <button type="submit" name="save" class="btn btn-primary">
                    <i class="fa fa-check"></i>
                    <span>@T("Admin.Common.Save")</span>
                </button>
            }
        </div>
    </div>

    <div asp-validation-summary="All" class="message-error"></div>

    <div class="content">
        <div class="form-horizontal">
            <partial name="_StoreScopeSelector" model="Model.ActiveStoreScopeConfiguration" />
            <div class="cards-group">
                <div class="card card-default">
                    <div class="card-body">
                        <div class="form-group row">
                            <div class="col-md-3">
                                <admin-label asp-for="ApiKey" />
                            </div>
                            <div class="col-md-9">
                                <admin-input asp-for="ApiKey" />
                                <span asp-validation-for="ApiKey"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <admin-label asp-for="ApiSecret" />
                            </div>
                            <div class="col-md-9">
                                <admin-input asp-for="ApiSecret" type="password" />
                                <span asp-validation-for="ApiSecret"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <admin-label asp-for="UseSandbox" />
                            </div>
                            <div class="col-md-9">
                                <admin-checkbox asp-for="UseSandbox" />
                                <span asp-validation-for="UseSandbox"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <admin-label asp-for="Region" />
                            </div>
                            <div class="col-md-9">
                                 <admin-select asp-for="Region" asp-items="new SelectList(new[] { new { Value = "EU", Text = "Europe" }, new { Value = "NA", Text = "North America" }, new { Value = "OC", Text = "Oceania" } }, "Value", "Text")" />
                                <span asp-validation-for="Region"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
