@model ApiKeysModel

@{
    async Task RenderBody()
    {
        <div class="adminContent" data-enabled="@Model.Enabled">
            <div class="adminRow">
                <div class="adminTitle">
                    <smart-label asp-for="CustomerName" />
                </div>
                <div class="adminData">
                    <div class="form-control-plaintext">
                        @Model.CustomerName
                    </div>
                </div>
            </div>
            <div class="adminRow">
                <div class="adminTitle">
                    <smart-label asp-for="PublicKey" />
                </div>
                <div class="adminData">
                    <div class="d-flex">
                        <div class="form-control-plaintext">
                            @Model.PublicKey
                        </div>
                        <button id="webapi-copy-publickey" type="button" class="btn btn-sm btn-secondary" data-apikey="@Model.PublicKey">
                            <i class="far fa-clipboard"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="adminRow">
                <div class="adminTitle">
                    <smart-label asp-for="SecretKey" />
                </div>
                <div class="adminData">
                    <div class="d-flex">
                        <div class="form-control-plaintext">
                            @Model.SecretKey
                        </div>
                        <button id="webapi-copy-secretkey" type="button" class="btn btn-sm btn-secondary" data-apikey="@Model.SecretKey">
                            <i class="far fa-clipboard"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    }

    if ((ViewBag.BodyOnly as bool?) ?? false)
    {
        await RenderBody();
        return;
    }
}

<modal id="webapi-keys-dialog" sm-render-at-page-end="true" sm-size="FlexSmall">
    <modal-header sm-title="@T("Plugins.Api.WebApi.ApiAccess")"></modal-header>
    <modal-body>
        @{ await RenderBody(); }
    </modal-body>
    <modal-footer>
        <button class="btn btn-secondary btn-flat" data-dismiss="modal" aria-hidden="true">
            <span>@T("Common.Close")</span>
        </button>
    </modal-footer>
</modal>
