@using Smartstore.Blog.Blocks


@model BlogBlock


<div class="adminContent">
    <div class="adminRow">
        <div class="adminTitle">
            @Html.SmartLabelFor(model => model.RenderHeading)
        </div>
        <div class="adminData">
            @Html.CheckBoxFor(model => model.RenderHeading, new { data_toggler_for = ".blog-heading" })
        </div>
    </div>
    <div class="blog-heading">
        <div class="adminRow">
            <div class="adminTitle"></div>
            <div class="adminData text-muted">
                <span>@T("Plugins.SmartStore.PageBuilder.Blog.AltHeading.Hint")</span>
            </div>
        </div>
    </div>
    <div class="adminRow">
        <div class="adminTitle">
            @Html.SmartLabelFor(model => model.DisableCommentCount)
        </div>
        <div class="adminData">
            @Html.EditorFor(model => model.DisableCommentCount)
        </div>
    </div>
    <div class="adminRow">
        <div class="adminTitle">
            @Html.SmartLabelFor(model => model.MaxPostAmount)
        </div>
        <div class="adminData">
            @Html.EditorFor(model => model.MaxPostAmount)
            @Html.ValidationMessageFor(model => model.MaxPostAmount)
        </div>
    </div>
    <div class="adminRow">
        <div class="adminTitle">
            @Html.SmartLabelFor(model => model.MaxAgeInDays)
        </div>
        <div class="adminData">
            @Html.EditorFor(model => model.MaxAgeInDays, null, new { postfix = T("Time.Days").Value })
            @Html.ValidationMessageFor(model => model.MaxAgeInDays)
        </div>
    </div>
    <div class="adminRow">
        <div class="adminTitle">
            @Html.SmartLabelFor(model => model.PostsWithTag)
        </div>
        <div class="adminData">
            @Html.DropDownListFor(model => model.PostsWithTag, Model.AvailableTags, T("Common.Unspecified"))
            @Html.ValidationMessageFor(model => model.PostsWithTag)
        </div>
    </div>
</div>