@using Smartstore.Web.Models.Catalog

@model BrandNavigationModel

<div class="manufacturer-grid block">
    <div class="heading heading-center">
        <h3 class="heading-title fs-h1">@T("Homepage.TopBrands")</h3>
    </div>

    <div class="artlist artlist-grid artlist-6-cols artlist-boxed block-body pt-3">
        @foreach (var item in Model.Brands)
        {
            var url = Url.RouteUrl("Manufacturer", new { SeName = item.SeName });
            <article class="art" data-id="@item.Id">
                <div sm-if="Model.DisplayImages && item.Image != null && item.Image.HasImage()" class="art-picture-block">
                    <a href="@url" class="art-picture img-center-container">
                        <img sm-model="item.Image" loading="lazy" />
                    </a>
                </div>
                <div class="art-genericname">
                    <a href="@url" title="@item.Name">
                        <span sm-language-attributes-for="item.Name">@item.Name</span>
                    </a>
                </div>
            </article>
        }

        <div sm-if="Model.DisplayAllBrandsLink" class="art show-all-items d-flex p-0">
            <a asp-route="ManufacturerList" class="show-all-items-link">
                <i class="fa fa-ellipsis-h fa-lg"></i>
                <span>@T("Homepage.Brands.ShowAll")</span>
            </a>
        </div>
    </div>
</div>