@model PrivateMessageListModel

<div class="table-responsive">
	<table id="pm-inbox-list" class="table" cellspacing="0" cellpadding="4">
		<thead>
			<tr class="pm-grid-header-style">
				<th class="text-center" style="width: 5%;">
					<input type="checkbox" id="select-all-inbox" />
				</th>
				<th style="width: 20%;">
					@T("PrivateMessages.Inbox.FromColumn")
				</th>
				<th style="width: 50%;">
					@T("PrivateMessages.Inbox.SubjectColumn")
				</th>
				<th style="width: 25%;">
					@T("Common.Date")
				</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var pm in Model.InboxMessages)
			{
				var readClass = pm.IsRead ? "pm-read" : "pm-unread";
				<tr class="@readClass">
					<td class="text-center">
						<input type="checkbox" name="pm@(pm.Id)" class="rowcheckbox" />
					</td>
					<td>
						@if (pm.HasCustomerProfile)
						{
                            <a asp-route="CustomerProfile" asp-route-id="@pm.FromCustomerId">
                                @pm.CustomerFromName.NaIfEmpty()
                            </a>
						}
						else
						{
							@pm.CustomerFromName
						}
					</td>
					<td dir="auto">
                        <a asp-action="View" asp-controller="PrivateMessages" asp-route-id="@pm.Id" class="@readClass">
                            @pm.Subject
                        </a>
					</td>
					<td>
						@pm.CreatedOn.ToNativeString()
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>

@if (Model.InboxMessages.TotalPages > 1)
{
	<pagination sm-list-items="Model.InboxMessages" sm-query-param="inboxPage" />
}

<div class="buttons row xs-gutters">
	<div class="col col-lg-auto col-12 mt-2">
		<button class="btn btn-danger btn-block" name="delete-inbox" value="delete-inbox" type="submit">
			<i class="far fa-trash-alt"></i>
			<span>@T("PrivateMessages.Inbox.DeleteSelected")</span>
		</button>
	</div>
	<div class="col col-lg-auto col-12 mt-2">
		<button class="btn btn-secondary btn-block" name="mark-unread" value="mark-unread" type="submit">
			@T("PrivateMessages.Inbox.MarkAsUnread")
		</button>
	</div>
</div>

<script sm-target-zone="scripts" data-origin="pm-sent">
	$(function () {
        $('#select-all-inbox').click(function () {
            $('#pm-inbox-list .rowcheckbox').attr('checked', $(this).is(':checked')).change();
        });

        $(document).on('change', '#pm-inbox-list .rowcheckbox', function (e) {
            var numChkBoxes = $('#pm-inbox-list .rowcheckbox').length;
            var numChkBoxesChecked = $('#pm-inbox-list .rowcheckbox:checked').length;
            $('#select-all-inbox').attr('checked', numChkBoxes == numChkBoxesChecked && numChkBoxes > 0);
        });
    });
</script>
