@model PrivateMessageListModel

@{
	Layout = "_MyAccount";

	Assets.AppendTitleParts(T("PageTitle.PrivateMessages"));

	ViewBag.PageClassToken = "privatemessages";
	ViewBag.PageTitle = T("PrivateMessages.PrivateMessages").Value;
}

<tabstrip id="pm-tabs" sm-nav-style="Material" sm-smart-tab-selection="false" sm-breakpoint="&lt;md" class="pm-tabs">
    <tab-content-header>
        <a href="javascript:void()" class="btn btn-secondary btn-no-border btn-flat offcanvas-closer rounded-0" title="@T("Common.Close")">
            <i class="fa fa-chevron-left"></i>
            <span>@T("Common.Close")</span>
        </a>
    </tab-content-header>
    <tab sm-title="@T("PrivateMessages.Inbox")" sm-selected="!Model.SentMessagesSelected">
        <div class="private-messages-box">
            @if (Model.InboxMessages.Any())
            {
                <form asp-action="InboxUpdate" asp-controller="PrivateMessages">
                    <partial name="_InboxMessages" />
                </form>
            }
            else
            {
                <div class="no-items text-center p-5">
                    <h4 class="no-item-title">
                        @T("PrivateMessages.NoInboxItems.Title")
                    </h4>
                    <p class="no-item-icon">
                        <i class="fa fa-inbox fa-4x"></i>
                    </p>
                    <p class="no-item-info text-muted">
                        @T("PrivateMessages.NoInboxItems.Info")
                    </p>
                </div>
            }
        </div>
	</tab>
    <tab sm-title="@T("PrivateMessages.SentItems")" sm-selected="Model.SentMessagesSelected">
        <div class="private-messages-box">
            @if (Model.SentMessages.Any())
            {
                <form asp-action="SentUpdate" asp-controller="PrivateMessages">
                    <partial name="_SentMessages" />
                </form>
            }
            else
            {
                <div class="no-items text-center p-5">
                    <h4 class="no-item-title">
                        @T("PrivateMessages.NoSentItems.Title")
                    </h4>
                    <p class="no-item-icon">
                        <i class="fa fa-inbox fa-4x"></i>
                    </p>
                    <p class="no-item-info text-muted">
                        @T("PrivateMessages.NoSentItems.Info")
                    </p>
                </div>
            }
        </div>
	</tab>
</tabstrip>