@using Smartstore.Web.Infrastructure.Installation;

@model InstallationModel
@inherits RazorPage<InstallationModel>
@removeTagHelper Smartstore.Web.TagHelpers.*, Smartstore.Web.Common
@addTagHelper Smartstore.Web.TagHelpers.Shared.AjaxFormTagHelper, Smartstore.Web.Common
@inject IInstallationService InstallService

@{
    // TODO: (core) Install: Apply language attributes to <html> tag
    // TODO: (core) Install: Define css and js assets properly

    Layout = null;
    var availableLanguages = ViewBag.AvailableInstallationLanguages as IList<SelectListItem>;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>@InstallService.GetResource("Title")</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, viewport-fit=cover, shrink-to-fit=no">
    <meta property="sm:root" content="@Url.Content("~/")" />

    <script>
        window.Res = {
            "Common.Notification": "@InstallService.GetResource("Common.Notification").EncodeJsString()",
        }
    </script>

    <link rel="stylesheet" href="~/bundles/css/common.css" />
    <link rel="stylesheet" href="~/bundles/css/install.css" />

    <script src="~/bundles/js/common.js"></script>

    <style>
        .content {
            max-width: 990px !important;
            margin-left: auto !important;
            margin-right: auto !important;
        }
    </style>
</head>
<body>
    <div id="page">
        <div class="page-main">

            <header id="header">
                <nav id="navbar" class="navbar navbar-dark navbar-expand-sm content p-0">
                    <a class="navbar-brand mx-0 mr-3" href="https://www.smartstore.com">
                        <img class="navbar-img" src="~/images/smartstore.svg" alt="Smartstore" />
                    </a>
                    <div class="navbar-text h5 p-0 m-0 pl-1" style="height: 20px; vertical-align: bottom">
                        @InstallService.GetResource("Title")
                    </div>

                    <div class="collapse navbar-collapse ml-auto">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle navbar-tool" href="javascript:void(0)" title="Deutsch" data-toggle="dropdown" style="max-width: none">
                                    <i class="icm icm-earth navbar-icon pr-1"></i>
                                    <span style="text-transform: uppercase">@availableLanguages.First(x => x.Selected).Text</span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    @foreach (var lang in availableLanguages)
                                    {
                                        <a class="dropdown-item" href="@lang.Value">
                                            <i class="icm icm-check@(!lang.Selected ? " invisible" : "")"></i>
                                            <span>@lang.Text</span>
                                        </a>
                                    }
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link navbar-tool" asp-action="RestartInstall" title="@InstallService.GetResource("RestartInstallation")" rel="nofollow">
                                    <i class="icm icm-refresh navbar-icon"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>

            <div id="content" class="content" style="padding: 3rem !important">
                <div class="cph">
                    <form asp-action="Install" method="post" class="form-horizontal" autocomplete="on" id="install-form" sm-ajax
                          sm-confirm="@InstallService.GetResource("ConfirmInstall")"
                          sm-onbegin="Installation.onStart"
                          sm-oncomplete="Installation.onComplete"
                          sm-onfailure="Installation.onFailure"
                          sm-onsuccess="Installation.onSuccess">

                        <div class="install-panel">
                            <div class="install-content">
                                <p class="fs-h6 text-muted">
                                    @InstallService.GetResource("Tooltip1").
                                </p>
                                <p class="fs-h6 text-muted mb-5">
                                    @InstallService.GetResource("Tooltip2").
                                </p>

                                <!-- General -->
                                <fieldset class="mb-5">
                                    <div class="heading mb-3">
                                        <h2 class="heading-title text-muted">@InstallService.GetResource("StoreInformation")</h2>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 col-form-label" asp-for="AdminEmail">@InstallService.GetResource("AdminEmail")</label>
                                        <div class="col-md-9">
                                            <input asp-for="AdminEmail" class="form-control remember" />
                                            <span asp-validation-for="AdminEmail"></span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 col-form-label" asp-for="AdminPassword">@InstallService.GetResource("AdminPassword")</label>
                                        <div class="col-md-9">
                                            <input asp-for="AdminPassword" class="form-control" />
                                            <span asp-validation-for="AdminPassword"></span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 col-form-label" asp-for="ConfirmPassword">@InstallService.GetResource("ConfirmPassword")</label>
                                        <div class="col-md-9">
                                            <input asp-for="ConfirmPassword" class="form-control" />
                                            <span asp-validation-for="ConfirmPassword"></span>
                                        </div>
                                    </div>
                                </fieldset>

                                <!-- Database -->
                                <fieldset class="mb-5">
                                    <div class="heading mb-3">
                                        <h2 class="heading-title text-muted">@InstallService.GetResource("DatabaseInformation")</h2>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 col-form-label" asp-for="DataProvider">@InstallService.GetResource("Database")</label>
                                        <div class="col-md-9">
                                            <select name="DataProvider" id="DataProvider" class="form-control remember">
                                                <option value="sqlserver">@InstallService.GetResource("UseSqlServer")</option>
                                                <option value="mysql">@InstallService.GetResource("UseMySql")</option>
                                            </select>
                                            <span asp-validation-for="DataProvider"></span>
                                        </div>
                                    </div>
                                    <div id="sqlConnectionInfo" style="display: none">
                                        <div class="form-group row">
                                            <label class="col-md-3 col-form-label" asp-for="DataProvider">@InstallService.GetResource("Connection")</label>
                                            <div class="col-md-9">
                                                <select name="SqlConnectionInfo" id="SqlConnectionInfo" class="form-control remember">
                                                    <option value="sqlconnectioninfo_values">@InstallService.GetResource("ConnectionStringValues")</option>
                                                    <option value="sqlconnectioninfo_raw">@InstallService.GetResource("RawConnectionString")</option>
                                                </select>
                                                <span asp-validation-for="SqlConnectionInfo"></span>
                                            </div>
                                        </div>

                                        <div id="sqlDatabaseInfo">
                                            <div class="form-group row">
                                                <label class="col-md-3 col-form-label" asp-for="SqlServerName">@InstallService.GetResource("SqlServerName")</label>
                                                <div class="col-md-9">
                                                    <input asp-for="SqlServerName" class="form-control remember" />
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-md-3 col-form-label" asp-for="SqlDatabaseName">@InstallService.GetResource("DatabaseName")</label>
                                                <div class="col-md-9">
                                                    <div class="form-row">
                                                        <div class="col">
                                                            <input asp-for="SqlDatabaseName" class="form-control remember" />
                                                        </div>
                                                        <div class="col-auto">
                                                            <div class="form-check form-control-plaintext">
                                                                <input type="checkbox" asp-for="CreateDatabase" class="form-check-input remember" />
                                                                <label class="form-check-label" asp-for="CreateDatabase">@InstallService.GetResource("CreateDatabaseIfDoesNotExist")</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-md-3 col-form-label" asp-for="SqlAuthenticationType">@InstallService.GetResource("Authentication")</label>
                                                <div class="col-md-9">
                                                    <select name="SqlAuthenticationType" id="SqlAuthenticationType" class="form-control remember">
                                                        <option value="sqlauthentication">@InstallService.GetResource("SqlAuthentication")</option>
                                                        <option value="windowsauthentication">@InstallService.GetResource("WindowsAuthentication")</option>
                                                    </select>
                                                    <span asp-validation-for="SqlAuthenticationType"></span>
                                                </div>
                                            </div>
                                            <div id="pnlSqlAuth">
                                                <div class="form-group row">
                                                    <div class="col-md-9 offset-md-3">
                                                        <div class="form-row">
                                                            <div class="col-6">
                                                                <div class="has-icon">
                                                                    <input asp-for="SqlServerUsername" class="form-control" placeholder="@InstallService.GetResource("SqlServerUsername")" />
                                                                    <span class="input-group-icon text-muted"><i class="icm icm-user" style="line-height: inherit"></i></span>
                                                                </div>
                                                            </div>
                                                            <div class="col-6">
                                                                <div class="has-icon">
                                                                    <input asp-for="SqlServerPassword" class="form-control" placeholder="@InstallService.GetResource("SqlServerPassword")" />
                                                                    <span class="input-group-icon text-muted"><i class="icm icm-shield" style="line-height: inherit"></i></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        <div id="sqlDatabaseConnectionString">
                                            <div class="form-group row">
                                                <label class="col-md-3 col-form-label" asp-for="DatabaseConnectionString">@InstallService.GetResource("ConnectionString")</label>
                                                <div class="col-md-9">
                                                    <textarea asp-for="DatabaseConnectionString" rows="3" class="form-control remember" />
                                                    <small class="form-text text-muted mt-2">
                                                        @InstallService.GetResource("Example"):
                                                        Data Source=sqlServerName;Initial Catalog=dbName;Persist Security Info=True;User
                                                        ID=userName;Password=password
                                                        <br />
                                                        Find more info <a href="http://www.connectionstrings.com/" rel="nofollow" target="_blank">here</a>
                                                    </small>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <div class="col-12">
                                                <hr />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-9 offset-md-3">
                                                <div class="form-check mb-2">
                                                    <input type="checkbox" asp-for="UseCustomCollation" class="form-check-input remember" />
                                                    <label class="form-check-label" asp-for="UseCustomCollation">@InstallService.GetResource("CustomCollation")</label>
                                                </div>
                                                <input asp-for="Collation" class="form-control remember" disabled />
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>

                                <!-- Options -->
                                <fieldset class="mb-5">
                                    <div class="heading mb-3">
                                        <h2 class="heading-title text-muted">@InstallService.GetResource("InstallOptions")</h2>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 col-form-label" asp-for="PrimaryLanguage">@InstallService.GetResource("PrimaryLanguage")</label>
                                        <div class="col-md-9">
                                            <select asp-for="PrimaryLanguage" asp-items="ViewBag.AvailableAppLanguages" class="form-control remember"></select>
                                            <span asp-validation-for="PrimaryLanguage"></span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 col-form-label" asp-for="MediaStorage">@InstallService.GetResource("MediaStorage.Label")</label>
                                        <div class="col-md-9">
                                            <select asp-for="MediaStorage" asp-items="ViewBag.AvailableMediaStorages" class="form-control remember"></select>
                                            <span asp-validation-for="MediaStorage"></span>
                                            <small class="form-text text-muted mt-2">
                                                @InstallService.GetResource("MediaStorage.Hint")
                                            </small>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-9 offset-md-3">
                                            <div class="form-check">
                                                <input type="checkbox" asp-for="InstallSampleData" class="form-check-input remember" />
                                                <label class="form-check-label" asp-for="InstallSampleData">@InstallService.GetResource("CreateSampleData")</label>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>

                                <div class="form-group row">
                                    <div class="col-md-9 offset-md-3">
                                        <div id="messages" class="alert alert-danger hide">
                                            <ul>
                                                <!-- AJAX -->
                                            </ul>
                                        </div>
                                        <button type="submit" id="install-button" class="btn btn-primary btn-lg btn-block btn-install fs-h4 font-weight-normal">
                                            <i class="icm icm-download2"></i>
                                            <span>@InstallService.GetResource("Install")</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="~/bundles/js/site.js"></script>

    <script>
		function hide(el, thenShow) {
			$(el).slideUp(300, "ease-in-out", function () {
				if (thenShow) {
					show($(thenShow));
				}
			});
		}

		function show(el) {
			$(el).slideDown(300, "ease-in-out");
		}

		function toggleProvider(e) {
			var selectedProvider = $(this).val();
			if (selectedProvider == 'mysql') {
				hide('#sqlConnectionInfo');
			}
			else if (selectedProvider == 'sqlserver') {
				show('#sqlConnectionInfo');
			}
		}

		function toggleSqlConnectionInfo(e) {
			var selectedProvider = $(this).val();
			if (selectedProvider == 'sqlconnectioninfo_values') {
				hide('#sqlDatabaseConnectionString', '#sqlDatabaseInfo');
			}
			else if (selectedProvider == 'sqlconnectioninfo_raw') {
				hide('#sqlDatabaseInfo', '#sqlDatabaseConnectionString');
			}
		}

		function toggleSqlAuthenticationType(e) {
			var selectedProvider = $(this).val();
			if (selectedProvider == 'sqlauthentication') {
				$('#pnlSqlAuth input').removeAttr("disabled");
			}
			else if (selectedProvider == 'windowsauthentication') {
				$('#pnlSqlAuth input').attr("disabled", "disabled");
			}
		}

		function toggleCollation(e) {
			if ($('#UseCustomCollation').is(':checked')) {
				$('#Collation').removeAttr("disabled");
			}
			else {
				$('#Collation').attr("disabled", "disabled");
			}
		}

		$(function () {
			$('#DataProvider').on('change', toggleProvider).trigger('change');
			$('#SqlConnectionInfo').on('change', toggleSqlConnectionInfo).trigger('change');
			$('#SqlAuthenticationType').on('change', toggleSqlAuthenticationType).trigger('change');
			$("#UseCustomCollation").on('click', toggleCollation);

            setRememberedFormFields("installPrefs");
		});

        var Installation = (function () {
            var progressIntervall;

            function checkProgress() {
                $.ajax({
                    url: '@Url.Action("Progress", "Install")',
                    dataType: "json",
                    async: true,
                    type: "POST",
                    cache: false,
                    success: function (data, status) {
                        console.log(data);

                        if (!data.Completed) {
							if (data.ProgressMessage !== undefined && _.isString(data.ProgressMessage) && data.ProgressMessage) {
								console.log(data.ProgressMessage);
                        		$("#install-progress").html(data.ProgressMessage);
                        	}
                        }
                        else {
                        	$("#install-progress").html("");
                        }
                    },
                    error: function () {
                        console.log("ERROR");
                        handleError(arguments[0].responseText);
                    }
                });
            }

            function finalizeInstallation(success) {
                $.ajax({
                    url: '@Url.Action("Finalize", "Install")',
                    data: { restart: success },
                    dataType: "json",
                    async: false,
                    type: "POST"
                });
            }

			function handleError(errors) {
                var validationSummary = $("#messages");
                var ul = validationSummary.find("ul");
                ul.html("");

                if ($.isArray(errors)) {
                    for (i = 0; i < errors.length; i++) {
                        ul.append("<li class='last-mb-0'>" + errors[i] + "</li>");
                    }
                }
                else {
					ul.append("<li class='last-mb-0'>" + errors + "</li>");
                }
                validationSummary.removeClass("hide");
                $.scrollTo(validationSummary, 400, { offset: -10 });
                $("#install-button").removeAttr("disabled");

                $("#install-progress").html("");
            }

            return {

                onStart: function (context) {
                    rememberFormFields("install-form", "installPrefs");

                    $.throbber.show({
                        message: '<div id="install-message">@InstallService.GetResource("Installing")</div><div id="install-progress" style="font-size: 16px; font-weight: 400; margin: 10px 0 30px 0"></div>',
                    });

                    // start the checkprogress interval
                    progressIntervall = window.setInterval(checkProgress, 1500);

                    $("#install-button").attr("disabled", "disabled");
                },

                onSuccess: function (data) {
                    finalizeInstallation(data.Success);

                    if (data.Success) {
                    	$("#install-message").html("@InstallService.GetResource("Common.StartShop")");
                        $("#install-progress").html("");
                        window.location = data.RedirectUrl;
                    }
                    else {
                        $.throbber.hide();
                        if (data.HasErrors) {
                            handleError(data.Errors);
                        }
                    }
                },

                onFailure: function (context) {
                    handleError(context);
                },

                onComplete: function () {
                	window.clearInterval(progressIntervall);
                    $("#install-button").removeAttr("disabled");
                    $("#install-progress").html("");
                }
            };
        })();
    </script>
</body>
</html>
