@model PollModel

<div asp-validation-summary="All"></div>
<input type="hidden" asp-for="Id" />

<tabstrip id="poll-edit" sm-nav-style="Material">
    <tab sm-title="@T("Admin.ContentManagement.Polls.Info")" sm-selected="true">
        <div class="adminContent">
            <div class="adminRow">
                <div class="adminTitle">
                    <smart-label asp-for="LanguageId" />
                </div>
                <div class="adminData">
                    <select asp-for="LanguageId" asp-items="ViewBag.AvailableLanguages"></select>
                    <span asp-validation-for="LanguageId"></span>
                </div>
            </div>
            <div class="adminRow">
                <div class="adminTitle">
                    <smart-label asp-for="Name" />
                </div>
                <div class="adminData">
                    <input asp-for="Name" />
                    <span asp-validation-for="Name"></span>
                </div>
            </div>
            <div class="adminRow">
                <div class="adminTitle">
                    <smart-label asp-for="SystemKeyword" />
                </div>
                <div class="adminData">
                    <input asp-for="SystemKeyword" />
                    <span asp-validation-for="SystemKeyword"></span>
                </div>
            </div>
            <div class="adminRow">
                <div class="adminTitle">
                    <smart-label asp-for="Published" />
                </div>
                <div class="adminData">
                    <input asp-for="Published" />
                    <span asp-validation-for="Published"></span>
                </div>
            </div>
            <div class="adminRow">
                <div class="adminTitle">
                    <smart-label asp-for="ShowOnHomePage" />
                </div>
                <div class="adminData">
                    <input asp-for="ShowOnHomePage" />
                    <span asp-validation-for="ShowOnHomePage"></span>
                </div>
            </div>
            <div class="adminRow">
                <div class="adminTitle">
                    <smart-label asp-for="AllowGuestsToVote" />
                </div>
                <div class="adminData">
                    <input asp-for="AllowGuestsToVote" />
                    <span asp-validation-for="AllowGuestsToVote"></span>
                </div>
            </div>
            <div class="adminRow">
                <div class="adminTitle">
                    <smart-label asp-for="DisplayOrder" />
                </div>
                <div class="adminData">
                    <editor asp-for="DisplayOrder" />
                    <span asp-validation-for="DisplayOrder"></span>
                </div>
            </div>
            <div class="adminRow">
                <div class="adminTitle">
                    <smart-label asp-for="StartDate" />
                </div>
                <div class="adminData">
                    <editor asp-for="StartDate" />
                    <span asp-validation-for="StartDate"></span>
                </div>
            </div>
            <div class="adminRow">
                <div class="adminTitle">
                    <smart-label asp-for="EndDate" />
                </div>
                <div class="adminData">
                    <editor asp-for="EndDate" />
                    <span asp-validation-for="EndDate"></span>
                </div>
            </div>
            <div class="adminRow">
                <div class="adminTitle">
                    <smart-label asp-for="SelectedStoreIds" />
                </div>
                <div class="adminData">
                    <editor asp-for="SelectedStoreIds" />
                    <span asp-validation-for="SelectedStoreIds"></span>
                </div>
            </div>
        </div>
    </tab>
    <tab sm-title="@T("Admin.ContentManagement.Polls.Answers")">
        @if (Model.Id > 0)
        {
            <partial name="_Grid.PollAnswers" model="null" />
        }
        else
        {
            @T("Admin.ContentManagement.Polls.Answers.SaveBeforeEdit")
        }
    </tab>
    <tab sm-title="@T("Common.Voting")">
        @if (Model.Id > 0)
        {
            <partial name="_Grid.PollVotings" model="null" />
        }
        else
        {
            @T("Admin.ContentManagement.Polls.Answers.SaveBeforeEdit")
        }
    </tab>
</tabstrip>