@model PollModel

@{
    var isSingleLanguageMode = (bool)ViewBag.IsSingleLanguageMode;
}

<datagrid id="polls-grid"
          allow-resize="true"
          allow-column-reordering="true"
          allow-row-selection="true"
          onrowclass="pollGrid_onRowClass">
    <datasource read="@Url.Action("PollList")" delete="@Url.Action("PollDelete")" />
    <paging position="Bottom" page-index="1" show-size-chooser="true" />
    <sorting allow-unsort="true" allow-multisort="false">
        <sort by="DisplayOrder" />
    </sorting>
    <toolbar>
        <toolbar-group>
            <a asp-action="Create" class="btn btn-primary btn-flat">
                <i class="fa fa-plus"></i>
                <span>@T("Admin.Common.AddNew")…</span>
            </a>
        </toolbar-group>
        <toolbar-group class="omega">
            <button datagrid-action="DataGridToolAction.DeleteSelectedRows" type="button" class="btn btn-danger no-anims btn-flat">
                <i class="far fa-trash-alt"></i>
                <span>@T("Admin.Common.Delete.Selected")</span>
            </button>
        </toolbar-group>
        <zone name="datagrid_toolbar_after"></zone>
    </toolbar>
    <columns>
        <column for="Name" hideable="false" width="2fr">
            <display-template>
                <div class="text-truncate"><a :href="item.row.EditUrl" class="text-truncate">{{ item.value }}</a></div>
            </display-template>
        </column>
        <column for="Published" halign="center" />
        <column for="ShowOnHomePage" halign="center" />
        @if (!isSingleLanguageMode)
        {
            <column for="LanguageName" entity-member="LanguageId" readonly="true" />
        }
        <column for="StartDate" entity-member="StartDateUtc" />
        <column for="EndDate" entity-member="EndDateUtc" />
        <column for="DisplayOrder" halign="center" />
    </columns>
    <row-commands>
        <a datarow-action="DataRowAction.Custom" :href="item.row.EditUrl">@T("Common.Edit")</a>
        <a datarow-action="DataRowAction.Delete">@T("Common.Delete")</a>
    </row-commands>
</datagrid>

<script sm-target-zone="scripts" data-origin="poll-grid">
    function pollGrid_onRowClass(row) {
        return {
            "text-muted": !row.Published
        };
    }
</script>