@using Smartstore.Web.Models.Identity

@model ChangePasswordModel

@inject CustomerSettings CustomerSettings

@{
    Assets.AppendTitleParts(T("PageTitle.Account"));

    Layout = "_MyAccount";
    ViewBag.PageClassToken = "changepassword";
    ViewBag.PageTitle = T("Account.ChangePassword");

    var passwordValidatorRes = (Dictionary<string, LocalizedString>)ViewBag.PasswordValidatorRes;
}

<form asp-action="ChangePassword" asp-controller="Identity" method="post" class="form-horizontal">
    @if (ViewContext.ViewData.ModelState.ContainsKey(""))
    {
        <div asp-validation-summary="ModelOnly"></div>
    }

    <div sm-if="Model.Result.HasValue()" class="alert alert-info" role="alert">
        @Model.Result
    </div>

    <div class="form-group row">
        <label asp-for="OldPassword" class="col-lg-4 col-form-label required"></label>
        <div class="col-lg-8">
            <input asp-for="OldPassword" sm-required="true" autocomplete="current-password" />
            <span asp-validation-for="OldPassword"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="NewPassword" class="col-lg-4 col-form-label required"></label>
        <div class="col-lg-8 pwd-container">
            <input asp-for="NewPassword" 
                   type="password"
                   sm-required="true" 
                   autocomplete="new-password"
                   data-min-length="@CustomerSettings.PasswordMinLength"
                   data-require-lower="@CustomerSettings.PasswordRequireLowercase"
                   data-require-upper="@CustomerSettings.PasswordRequireUppercase"
                   data-require-digit="@CustomerSettings.PasswordRequireDigit"
                   data-require-nonalpha="@CustomerSettings.PasswordRequireNonAlphanumeric"
                   data-uniquechars="@CustomerSettings.PasswordRequiredUniqueChars" />
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="ConfirmNewPassword" class="col-lg-4 col-form-label required"></label>
        <div class="col-lg-8">
            <input asp-for="ConfirmNewPassword" type="password" sm-required="true" autocomplete="new-password" />
            <span asp-validation-for="ConfirmNewPassword"></span>
        </div>
    </div>

    <div class="form-group row">
        <div class="col col-sm-auto offset-lg-4 text-muted">
            @T("Common.FormFields.Required.Hint")
        </div>
    </div>

    <div class="form-group row">
        <div class="col">
            <button type="submit" class="btn btn-lg btn-primary">
                <i class="fa fa-check" aria-hidden="true"></i>
                <span>@T("Account.ChangePassword.Button")</span>
            </button>
        </div>
    </div>
</form>

<script sm-target-zone="scripts" data-origin="change-password" type="module">
    import { PasswordValidator } from "@(Url.Content("~/js/smartstore.passwordvalidator.js"))";

    const validator = new PasswordValidator('#@Html.IdFor(x => x.NewPassword)', {
        @foreach (var (key, val) in passwordValidatorRes)
        {
            <text>"@Html.Raw(key)": @Html.Raw(val.ToString().EncodeJsString()),</text>
        }
    });
</script>