@using Smartstore.Web.Models.Identity;

@model PasswordRecoveryModel

@{
    Assets.AppendTitleParts(T("PageTitle.PasswordRecovery"));
}

<div class="page password-recovery-page" role="main" aria-labelledby="page-title">
    <div class="page-title">
        <h1 id="page-title">@T("Account.PasswordRecovery")</h1>
    </div>

    <div class="page-body">
        <div sm-if="Model.ResultMessage.HasValue()" class="alert alert-success" role="alert">
            @Model.ResultMessage
        </div>
        <p id="password-recovery-hint" class="lead" attr-class='(Model.ResultMessage.HasValue(), "sr-only")'>
            @T("Account.PasswordRecovery.Tooltip")
        </p>

        <form asp-route="PasswordRecovery" method="post">
            <div asp-validation-summary="ModelOnly"></div>
            <captcha sm-enabled="Model.DisplayCaptcha" class="form-group" />

            <div class="form-group row">
                <div class="col-12 col-lg-8 col-xl-7">
                    <div class="input-group input-group-lg has-icon">
                        <input asp-for="Email" 
                               type="email"
                               class="email" 
                               autocomplete="email" 
                               placeholder="@Html.DisplayNameFor(m => m.Email)"
                               aria-label="@T("Account.PasswordRecovery.Email")"
                               aria-describedby="password-recovery-hint" />
                        <span class="input-group-icon text-muted">
                            <i class="icm icm-envelope-open" style="line-height: inherit" aria-hidden="true"></i>
                        </span>
                        <span class="input-group-append">
                            <input type="submit" name="send-email" id="send-email" class="btn btn-primary password-recovery-button" value="@T("Common.Submit")" />
                        </span>
                    </div>
                    <span asp-validation-for="Email"></span>
                </div>
            </div>
        </form>
    </div>
</div>

