@using Smartstore.Web.Models.Catalog
@using Smartstore.Web.Razor;

@model ProductDetailsModel
@inject IRazorViewInvoker RazorViewInvoker

@{
    var specificationAttributes = await RazorViewInvoker.InvokeViewAsync("Product.Specs", Model.SpecificationAttributes);
}

<tabstrip id="pd-tabs" class="pd-tabs" sm-nav-style="Material" sm-hide-single-item="true" sm-responsive="true" sm-breakpoint="&lt;md">
    <tab-content-header>
        <a href="javascript:void()" class="btn btn-secondary btn-flat btn-no-border offcanvas-closer rounded-0" title="@T("Common.Close")">
            <i class="fa fa-chevron-left"></i>
            <span>@T("Common.Close")</span>
        </a>
    </tab-content-header>
    @if (Model.FullDescription.Value.HasValue())
    {
        var summary = Model.FullDescription.Value.RemoveHtml().Truncate(300, "...");
        <tab sm-title="@T("Products.Details")" sm-summary="@summary" sm-selected="true">
            <div sm-language-attributes-for="Model.FullDescription" itemprop="description" class="long-text html-editor-content">
                <collapsed-content>
                    @Html.Raw(Model.FullDescription)
                </collapsed-content>
            </div>
        </tab>
    }

    @if (specificationAttributes.HasValue())
    {
        <tab sm-title="@T("Products.Specs")" sm-selected="!Model.FullDescription.HasValue()">
            @Html.Raw(specificationAttributes)
        </tab>
    }

    @if (Model.DisplayProductReviews)
    {
        <tab sm-title="@T("Reviews")" sm-selected="!Model.FullDescription.HasValue() && !specificationAttributes.HasValue()" sm-badge-text="@Model.ReviewCount.ToString()" sm-badge-style="@Model.ReviewCount > 0 ? BadgeStyle.Warning : BadgeStyle.Secondary">
            <p class="mb-4">
                <a asp-action="Reviews" asp-controller="Product" asp-route-id="@Model.Id" class="btn btn-warning">
                    <span>@T($"Reviews.Overview.{(Model.ProductReviews.TotalReviewsCount > 0 ? "AddNew" : "First")}")</span>
                </a>
            </p>
            <partial name="Product.Reviews" model="Model.ProductReviews" />
        </tab>
    }
</tabstrip>