@{
    if (ViewBag.AvailablePaymentMethods == null || ViewBag.AvailablePaymentMethods.Count == 0)
    {
        return;
    }
}

<div class="mt-4">
    <h4 class="pd-payment-icons-heading fs-h6 pb-2">@T("Products.PaymentOptions.Heading")</h4>
    <p class="pd-payment-icons-intro fs-sm text-muted">@T("Products.PaymentOptions.Intro")</p>
</div>

<div class="pd-available-payment-methods">
    @foreach (var brand in ViewBag.AvailablePaymentMethods)
    {
        <div class="payment-brand">
            <img class="img-fluid" src="@Url.Content(brand.Item2)" title="@brand.Item1" alt="@brand.Item1" />
        </div>
    }
</div>