@using Smartstore.Web.Models.Catalog

@model ProductDetailsModel

@{
    var brand = Model.Brands == null ? null : Model.Brands.FirstOrDefault();
    var hasBrandImage = brand?.Image?.HasImage() ?? false;
}

<div class="pd-info pd-group">
    <!-- Brand -->
    <div sm-if="brand != null" class="pd-brand-block">
        @{
            Assets.JsonLd.Product.Obj("brand", "Brand", new { name = brand.Name.Value });
        }
        <a class="pd-brand" asp-route="Manufacturer" asp-route-SeName="@brand.SeName" attr-aria-label='(hasBrandImage, brand.Image?.Title)'>
            @if (hasBrandImage)
            {
                <img sm-model="brand.Image" class="pd-brand-picture" />
            }
            else
            {
                <span sm-language-attributes-for="brand.Name">@brand.Name</span>
            }
        </a>
    </div>

    <!-- Title -->
    <div class="page-title">
        <h1 sm-language-attributes-for="Model.Name" class="pd-name" itemprop="name">
            @if (Model.IsAssociatedProduct && Model.VisibleIndividually)
            {
                <a asp-route="Product" asp-route-SeName="@Model.SeName" title="@T("Products.Details")">@Html.Raw(Model.Name)</a>
            }
            else
            {
                @Html.Raw(Model.Name)
            }
        </h1>
    </div>

    <!-- Short description -->
    @if (Model.ShortDescription.Value.HasValue())
    {
        Assets.JsonLd.Product.Prop("description", Model.ShortDescription.Value.RemoveHtml());
        <div sm-language-attributes-for="Model.ShortDescription" class="pd-description" attr-itemprop='(Model.HasShortDescriptionSchemaProperty, "description")'>
            @Html.Raw(Model.ShortDescription)
        </div>
    }
</div>

<!-- Review Overview -->
@if (!Model.IsAssociatedProduct && Model.DisplayProductReviews)
{
    <partial name="Product.ReviewSummary" model="Model.ReviewOverview" />
}
