@using Smartstore.Web.Models.Catalog

@model ProductDetailsModel

@{
    // TODO: (mh) (core) Fire event. But why don't we fire the event more generically in Taghelper? RE: we do already?

    // TODO: (mh) (core) Viewcomponent or Partial? RE: partial please.
    //var specificationAttributes = Html.Action("ProductSpecifications", new { productId = Model.Id }).ToString();
    var specificationAttributes = string.Empty;
}

<tabstrip id="pd-tabs" class="pd-tabs" sm-nav-style="Material" sm-hide-single-item="true" sm-responsive="true" sm-breakpoint="&lt;md">
    <tab-content-header>
        <a href="javascript:void()" class="btn btn-secondary btn-flat btn-no-border offcanvas-closer rounded-0" title="@T("Common.Close")">
            <i class="fa fa-chevron-left"></i>
            <span>@T("Common.Close")</span>
        </a>
    </tab-content-header>
    @if (Model.FullDescription.Value.HasValue())
    {
        var summary = Model.FullDescription.Value.RemoveHtml().Truncate(300, "...");
        <tab sm-title="@T("Products.Details")" sm-summary="@summary" sm-selected="true">
            <div sm-language-attributes-for="Model.FullDescription" itemprop="description" class="long-text html-editor-content">
                <collapsed-content>
                    @Html.Raw(Model.FullDescription)
                </collapsed-content>
            </div>
        </tab>
    }

    @if (specificationAttributes.HasValue())
    {
        // INFO: (mh) (core) I'm not sure how sm-if behaves with complex tag helpers. Better not use it here.
        <tab sm-title="@T("Products.Specs")" sm-selected="!Model.FullDescription.HasValue()">
            @*TODO: (mh) (core) Viewcomponent or Partial? RE: partial please. *@
        </tab>
    }

    @if (Model.DisplayProductReviews)
    {
        <tab sm-title="@T("Reviews")" sm-selected="!Model.FullDescription.HasValue() && !specificationAttributes.HasValue()" sm-badge-text="@Model.ReviewCount.ToString()" sm-badge-style="@Model.ReviewCount > 0 ? BadgeStyle.Warning : BadgeStyle.Secondary">
            @*TODO: (mh) (core) Viewcomponent or Partial? *@
        </tab>
    }
</tabstrip>


    