@using Smartstore.Web.Models.Catalog
@using Smartstore.Utilities.Html

@model ProductDetailsModel

@{
    var hasSpecificationAttributes = Model.SpecificationAttributes.Count > 0;
    var hasFullDescription = Model.FullDescription.HasValue();

    if (Model.HasFullDescriptionSchemaProperty)
    {
        var url = Model.CanonicalUrl ?? Request.ToAbsoluteUrl();
        Assets.JsonLd.Product.Prop("description", HtmlUtility.StripTags(Model.FullDescription).Truncate(200));
    }
}

<tabstrip id="pd-tabs" class="pd-tabs" sm-nav-style="Material" sm-hide-single-item="true" sm-responsive="true">
    <tab sm-if="hasFullDescription" sm-title="@T("Products.Details")" sm-name="pd-full-desc" sm-selected="true">
        <div sm-language-attributes-for="Model.FullDescription" id="product-full-desc" class="prose html-editor-content">
            <collapsed-content>
                @Html.Raw(Model.FullDescription)
                <zone name="productdetail_fulldescription_after"></zone>
            </collapsed-content>
        </div>
    </tab>

    <tab sm-if="hasSpecificationAttributes" sm-title="@T("Products.Specs")" sm-name="pd-spec-attrs" sm-selected="!hasFullDescription">
        <partial name="Product.Specs" model="Model.SpecificationAttributes" />
    </tab>

    <tab sm-if="Model.DisplayProductReviews" 
            sm-title="@T("Reviews")" 
            sm-name="pd-reviews"
            sm-selected="!hasFullDescription && !hasSpecificationAttributes"
            sm-badge-text="@(Model.ReviewCount == 0 ? string.Empty : Model.ReviewCount.ToString())"
            sm-badge-style="Warning">
        <p class="mb-4">
            <a asp-action="Reviews" asp-controller="Product" asp-route-id="@Model.Id" class="btn btn-warning">
                <span>@T($"Reviews.Overview.{(Model.ProductReviews.TotalReviewsCount > 0 ? "AddNew" : "First")}")</span>
            </a>
        </p>
        <partial name="Product.Reviews" model="Model.ProductReviews" />
    </tab>
</tabstrip>