@model ConfigurationModel

@{
    Layout = "_ConfigureModule";
}

@await Component.InvokeAsync("StoreScope")

<widget target-zone="admin_button_toolbar_before">
    <button id="SaveConfigButton" type="submit" name="save" class="btn btn-warning" value="save">
        <i class="fa fa-check"></i>
        <span>@T("Admin.Common.Save")</span>
    </button>
</widget>

<div class="plugin-configuration">
    <div>
        <div class="alert alert-info alert-dismissible">
            @Html.Raw(@T("Plugins.Feed.Froogle.AdminInstruction"))
            <button class="btn-close" data-dismiss="alert"></button>
        </div>
    </div>
    <div>
        <a href="http://www.google.com/merchants/" rel="nofollow" target="_blank">
            <img src="@Url.Content("~/Modules/Smartstore.Google.MerchantCenter/branding.png")" alt="Google Merchant Center" />
        </a>
    </div>
</div>

<tabstrip id="gmc-config" sm-nav-style="Material" sm-nav-position="Top">
    <tab sm-title="@T("Plugins.Feed.Froogle.TabTitleGrid")" sm-selected="true">
        <partial name="_Grid.GoogleProducts" model="null" />
    </tab>
    <tab sm-title="@T("Plugins.Feed.Froogle.TabTitleProfiles")">
        @await Component.InvokeAsync("ExportProfileInfo", new { providerSystemName = "Feeds.GoogleMerchantCenterProductXml", returnUrl = Url.Action("Configure", "GoogleMerchantCenter") })
    </tab>
</tabstrip>