@model PublicForumGroupModel

<div class="forum-group table-responsive">
    <div class="group-title">
        <h1 class="fs-h3" sm-language-attributes-for="Model.Name">
            <a asp-route="ForumGroupBySlug" asp-route-id="@Model.Id" asp-route-slug="@Model.Slug">
                @Model.Name.Value
            </a>
        </h1>
    </div>
    <table class="table">
        <thead>
            <tr class="group-header">
                <th></th>
                <th class="forum-name">
                    @T("Forum.Forum")
                </th>
                <th class="topics d-none d-md-table-cell text-center">
                    @T("Forum.Topics")
                </th>
                <th class="posts d-none d-md-table-cell text-center">
                    @T("Forum.Posts")
                </th>
                <th class="last-post d-none d-md-table-cell">
                    @T("Forum.LatestPost")
                </th>
            </tr>
        </thead>
        @foreach (var forum in Model.Forums)
        {
            <tr class="forum">
                <td class="image">
                    <i class="fa fa-folder-open"></i>
                </td>
                <td class="forum-name">
                    <div class="forum-title">
                        <a asp-route="ForumBySlug" asp-route-id="@forum.Id" asp-route-slug="@forum.Slug">
                            @forum.Name
                        </a>
                    </div>
                    <div class="forum-description" sm-language-attributes-for="forum.Description">
                        @forum.Description
                    </div>
                </td>
                <td class="topics d-none d-md-table-cell text-center">
                    @forum.NumTopics.ToString("N0")
                </td>
                <td class="posts d-none d-md-table-cell text-center">
                    @forum.NumPosts.ToString("N0")
                </td>
                <td class="last-post d-none d-md-table-cell">
                    <partial name="LastPost" model="forum.LastPost" />
                </td>
            </tr>
        }
    </table>
</div>