@using Smartstore.Web.Models.Catalog
@using Smartstore.Core.Catalog
@using Smartstore.Web.Infrastructure.Hooks
@using Microsoft.AspNetCore.Http.Extensions

@model CategoryModel

@{
    var categoryName = Model.FullName.Value.HasValue() ? Model.FullName : Model.Name;

    Assets.AppendTitleParts(Model.MetaTitle.HasValue() ? Model.MetaTitle : Model.Name);
    Assets.AppendMetaDescriptionParts(Model.MetaDescription);
    Assets.AppendMetaKeywordsParts(Model.MetaKeywords);

    if (Model.CanonicalUrl.HasValue())
    {
        Assets.AppendCanonicalUrlParts(Model.CanonicalUrl);
    }
    
    ViewBag.HideLeftCol = true; // ...on mobile

    async Task SubCategoryList()
    {
        <div class="artlist artlist-grid artlist-4-cols artlist-boxed artlist-sub-categories" 
             attr-class='(Model.SubCategoryDisplayType == SubCategoryDisplayType.AboveProductList, "hide-on-active-filter")'
             role="list">
            @foreach (var item in Model.SubCategories)
            {
                var image = item.Image;
                var linkTitle = T("Media.Category.ImageLinkTitleFormat", item.Name);

                <div class="art" data-id="@item.Id" role="listitem">
                    <div class="art-picture-block">
                        @if (image.HasImage())
                        {
                            <a class="art-picture img-center-container" href="@item.Url" title="@linkTitle" aria-hidden="true" tabindex="-1">
                                <img sm-model="image" loading="lazy" attr-alt='(image.Alt.IsEmpty(), item.Name)' />
                            </a>
                        }
                    </div>
                    <div class="art-genericname">
                        <a class="art-name-link" href="@item.Url" title="@linkTitle">
                            <span sm-language-attributes-for="item.Name">@item.Name</span>
                        </a>
                    </div>
                </div>
            }
        </div>
    }
}

<partial name="MetaProperties" model="Model.MetaProperties" />

<widget target-zone="left">
    <menu name="Main" template="Categories" /> 
    <partial name="Search.Filters" model="Model.Products" />
</widget>

<div class="page category-page" itemscope itemtype="https://schema.org/CollectionPage">
    <div class="page-title">
        <h1 sm-language-attributes-for="categoryName" class="h3" itemprop="name">
            @Html.Raw(categoryName)
        </h1>
        @if (Model.SearchResult.TotalHitsCount > 0)
        {
            <partial name="SearchResultHitsCount" model="Model.SearchResult" />
        }
    </div>
    <div class="page-body">
        <zone name="categorydetails_top" />

        @* Description *@
        @if (Model.Description.Value.HasValue())
        {
            <div sm-language-attributes-for="Model.Description" 
                 id="category-description-top"
                 class="category-description lead hide-on-active-filter html-editor-content" 
                 itemprop="description">
                <collapsed-content>
                    @Html.Raw(Model.Description)
                </collapsed-content>
            </div>
        }

        @* Subcategories *@
        @if (Model.SubCategories.Count > 0 && Model.SubCategoryDisplayType == SubCategoryDisplayType.AboveProductList)
        {
            <zone name="categorydetails_before_subcategories" />
            await SubCategoryList();
        }

        @* Featured products *@
        @if (Model.FeaturedProducts != null && Model.FeaturedProducts.Items.Count > 0)
        {
            <zone name="categorydetails_before_featured_products" />

            <div role="region" aria-labelledby="featured-products-title" class="product-grid featured-product-grid block hide-on-active-filter">
                <div class="heading heading-center">
                    <h3 id="featured-products-title" class="heading-title fs-h1">@T("Products.FeaturedProducts")</h3>
                </div>
                <div id="featured-product-list" class="block-body pt-3 artlist-no-separators">
                    <partial name="Product.List" model="Model.FeaturedProducts" />
                </div>
            </div>
        }

        @* Product list *@
        <zone name="categorydetails_before_product_list" />

        <div id="main-product-list" class="product-list-container">
            @if (Model.Products != null)
            {
                <partial name="Product.List" model="Model.Products" />
            }
        </div>

        @if (Model.BottomDescription.Value.HasValue())
        {
            <div sm-language-attributes-for="Model.BottomDescription" class="category-description lead html-editor-content">
                <collapsed-content>
                    @Html.Raw(Model.BottomDescription)
                </collapsed-content>
            </div>
        }

        @* Subcategories *@
        @if (Model.SubCategories.Count > 0 && Model.SubCategoryDisplayType == SubCategoryDisplayType.Bottom)
        {
            <zone name="categorydetails_before_subcategories" />
            await SubCategoryList();
        }

        @* TODO: (mc) find more intelligent way of rendering RecentlyViewedProducts globally *@
        @await Component.InvokeAsync("RecentlyViewedProducts")
        <zone name="categorydetails_bottom" />
    </div>
</div>

@{
    // Build JSON-LD for the category CollectionPage including featured and regular product lists.
    var url = Model.CanonicalUrl.NullEmpty();

    Assets.JsonLd.CollectionPage
        .Prop("@id", url + "#webpage")
        .Prop("url", url)
        .Prop("name", @categoryName);

    if (Model.Products != null && Model.Products.Items.Count > 0)
    {
        Assets.JsonLd.CollectionPage.Prop("mainEntity", new Dictionary<string, string> { ["@id"] = url + "#main-product-list" });

        JsonLdHelper.BuildProductItemList(Assets.JsonLd, Url, Model.Products.Items, @categoryName, url + "#main-product-list", url);
    }

    if (Model.Description.Value.HasValue())
    {
        Assets.JsonLd.CollectionPage.Prop("description", new Dictionary<string, string> { ["@id"] = url + "#category-description-top" });
    }

    if (Model.FeaturedProducts != null && Model.FeaturedProducts.Items.Count > 0)
    {
        Assets.JsonLd.CollectionPage.Prop("hasPart", new Dictionary<string, string> { ["@id"] = url + "#featured-product-list" });

        // TODO: (jsonld) This also needs to build json ld but currently we have no way of distinguishing featured vs regular products in the list.
        // Shortcoming of JsonLdBuilder
        // JsonLdHelper.BuildProductItemList(Assets.JsonLd, Model.Products.Items, @categoryName, url);
    }
}