@using Smartstore.Web.Models.Cart
@using Smartstore.Core.Catalog.Products
@using Smartstore.Core.Checkout.Cart

@model ShoppingCartModel

@{
    var parentViewData = new ViewDataDictionary(ViewData);
    parentViewData["Parent"] = Model;
}

@foreach (var item in Model.Items)
{
    <div class="cart-row@(!item.Active ? " cart-item-inactive" : string.Empty)" data-key="@item.Id" data-parent-key="@item.Id">
        <div class="row">
            <div sm-if="Model.AllowActivatableCartItems && Model.IsEditable" class="select-cart-item col-auto">
                <input name="SelectCartItem@(item.Id)" type="checkbox" 
                       class="form-check-input select-cart-item-checkbox" 
                       attr-checked='(item.Active, "checked")' />
            </div>
            @* Image *@
            <div sm-if="Model.ShowProductImages && item.Image != null && item.Image.HasImage()" class="cart-item-img col-3">
                <img sm-model="item.Image" class="img-fluid" />
            </div>

            @* Data *@
            <div class="cart-item-data col">
                <partial name="CartItem.Details" model="item" view-data="parentViewData" />

                @* User Agreement & ESD *@
                <div sm-if="!Model.IsEditable && ((item.IsDownload && item.HasUserAgreement) || (Model.DisplayEsdRevocationWaiverBox && item.IsEsd))"
                        class="alert alert-warning cart-item-group">
                    <div sm-if="item.IsDownload && item.HasUserAgreement" class="download-agreement form-check">
                        <input type="checkbox" id="AgreeUserAgreement@(item.ProductId)" name="AgreeUserAgreement@(item.ProductId)" class="form-check-input" />
                        <label class="form-check-label" for="AgreeUserAgreement@(item.ProductId)">
                            <span>@T("DownloadableProducts.UserAgreementConfirmation", item.ProductId)</span>
                        </label>
                    </div>
                    <div sm-if="Model.DisplayEsdRevocationWaiverBox && item.IsEsd" class="esd-revocation-waiver form-check">
                        <input type="checkbox" id="AgreeEsdRevocationWaiver@(item.ProductId)" name="AgreeEsdRevocationWaiver@(item.ProductId)" class="form-check-input" />
                        <label class="form-check-label" for="AgreeEsdRevocationWaiver@(item.ProductId)">
                            <span>@T("Checkout.EsdRevocationWaiverConfirmation")</span>
                        </label>
                    </div>
                </div>

                @* Warnings *@
                <div sm-if="item.Warnings.Count > 0" class="alert alert-danger cart-item-group">
                    @foreach (var warning in item.Warnings)
                    {
                        <p>@Html.Raw(warning)</p>
                    }
                </div>

                @* Custom zone *@
                <zone name="cartitem_data_after" model="item.Id"></zone>

                @* Actions *@
                <div sm-if="Model.IsEditable" class="cart-item-actions hstack flex-wrap pt-2">
                    <a class="btn btn-secondary btn-to-danger btn-sm btn-icon ajax-action-link"
                        title="@T("Common.Remove")"
                        href="#"
                        rel="nofollow"
                        data-href='@Url.Action("DeleteCartItem", "ShoppingCart", new { cartItemId = item.Id })'
                        data-name="@item.ProductName"
                        data-type="cart"
                        data-id="@item.Id"
                        data-action="remove">
                        <i class="far fa-trash-can"></i>
                        <span class="d-none">@T("Common.Remove")</span>
                    </a>

                    <div class="cart-item-qty">
                        @Html.EditorFor(x => item, "QtyInput", new
                        {
                            size = ControlSize.Small,
                            htmlAttributes = new
                            {
                                data_href = Url.Action("UpdateCartItem", "ShoppingCart", new { cartItemId = item.Id, isCartPage = true }),
                                data_sci_item = item.Id,
                                id = $"itemquantity{item.Id}",
                                name = $"itemquantity{item.Id}"
                            }
                        })

                        <span class="field-validation-valid" data-valmsg-for="itemquantity@(item.Id)" data-valmsg-replace="true"></span>

                        <script>
                        $(function () {
                            // Disable incorrect jquery validation of the step attribute for quantity inputs.
                            setTimeout(function () {
                                $('#itemquantity@(item.Id)').rules('add', { step: 1 });
                            }, 10);
                        });
                        </script>
                    </div>

                    <a sm-if="Model.DisplayMoveToWishlistButton && !item.DisableWishlistButton" class="btn btn-secondary btn-sm ajax-action-link"
                        title="@T("ShoppingCart.MoveToWishlist")"
                        href="#"
                        rel="nofollow"
                        data-href='@Url.Action("MoveItemBetweenCartAndWishlist", "ShoppingCart", new { cartItemId = item.Id, cartType = ShoppingCartType.ShoppingCart, isCartPage = true })'
                        data-name="@item.ProductName"
                        data-type="wishlist"
                        data-action="addfromcart">
                        <i class="fal fa-heart"></i>
                        <span class="d-none d-md-inline fwn">@T("ShoppingCart.MoveToWishlist")</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    @if (item.ProductType == ProductType.BundledProduct)
    {
        <partial name="CartItem.BundleItems" model="item.ChildItems" view-data="parentViewData" />
    }
}