@using Smartstore.Web.Models.Orders
@using Smartstore.Core.Catalog.Products

@model OrderDetailsModel.BundleItemModel

@{
    var parentModel = ViewData["Parent"] as OrderDetailsModel;
    var bundleItemThumbSize = Math.Min(parentModel.BundleThumbSize, 60);
    var itemIndex = Model.Parent.BundleItems.IndexOf(Model);
}

<div class="cart-row cart-row-child">
    <div class="row">
        @* Spacer for image *@
        <div class="cart-item-img col-3 col-xl-2 d-none d-md-flex d-lg-none d-xl-flex text-start">
            @if (itemIndex == 0)
            {
                <span class="fwm pt-1">@T("Products.Bundle.BundleIncludes"):</span>
            }
            else
            {
                <span>&nbsp;</span>
            }
        </div>

        @* Data *@
        <div class="cart-item-data col">
            @* Title & Description *@
            <div class="cart-item-group">
                @* Title *@
                <div class="cart-item-title">
                    @if (parentModel.ShowProductBundleImages)
                    {
                        <span class="cart-item-bundle-img mr-1" style="width: @(bundleItemThumbSize)px; height: @(bundleItemThumbSize)px;">
                            @if (Model.Image != null && Model.Image.HasImage() && !Model.HideThumbnail)
                            {
                                <img sm-model="Model.Image" class="img-fluid" attr-alt='(Model.Image.Alt.IsEmpty(), Model.ProductName)' />
                            }
                        </span>
                    }

                    <span sm-if="Model.Quantity > 1 && Model.Parent.BundlePerItemShoppingCart" class="badge badge-secondary">
                        @(Model.Quantity)&nbsp;&#215;
                    </span>

                    @if (Model.VisibleIndividually && Model.ProductUrl.HasValue())
                    {
                        <a class="cart-item-link" href="@Model.ProductUrl" title="@T("Products.Details")" sm-language-attributes-for="Model.ProductName">
                            @Model.ProductName
                        </a>
                    }
                    else
                    {
                        <span class="product-name" sm-language-attributes-for="Model.ProductName">@Model.ProductName</span>
                    }
                </div>
            </div>

            @* Attributes *@
            <div sm-if="Model.AttributeInfo.HasValue()" class="cart-item-attrs cart-item-group">
                @Html.Raw(Model.AttributeInfo)
            </div>

            @* Price *@
            <div sm-if="Model.PriceWithDiscount > 0" class="cart-item-price-group cart-item-group">
                <div class="pd-finalprice">
                    <data asp-for="@Model.PriceWithDiscount" class="pd-finalprice-amount"></data>
                </div>
            </div>
        </div>
    </div>
</div>