@using Smartstore.Web.Models.Orders
@using Smartstore.Core.Catalog.Products

@model OrderDetailsModel.OrderItemModel

@{
    var parentModel = ViewData["Parent"] as OrderDetailsModel;
}

<div class="cart-row">
    <div class="row">
        @* Image *@
        <div class="cart-item-img col-3 col-xl-2" sm-if="parentModel.ShowProductImages && Model.Image != null && Model.Image.HasImage()">
            <img sm-model="Model.Image" class="img-fluid" attr-alt='(Model.Image.Alt.IsEmpty(), Model.ProductName)' />
        </div>

        @* Data *@
        <div class="cart-item-data col">

            @* Title *@
            <div class="cart-item-group">
                <div class="cart-item-title">
                    @if (Model.ProductUrl.HasValue())
                    {
                        <a class="cart-item-link" href="@Model.ProductUrl" title="@T("Products.Details")" sm-language-attributes-for="Model.ProductName">@Model.ProductName</a>
                    }
                    else
                    {
                        <span sm-language-attributes-for="Model.ProductName">@Model.ProductName</span>
                    }
                </div>
            </div>

            @* Attributes & Variants *@
            <div class="cart-item-attrs cart-item-group fs-sm" sm-suppress-if-empty>
                @if (parentModel.ShowSku && Model.Sku.HasValue())
                {
                    <span>@T("Order.Product(s).SKU"):</span>
                    <span>@Model.Sku</span>
                }
                @if (Model.AttributeInfo.HasValue())
                {
                    @Html.Raw(Model.AttributeInfo)
                }
            </div>

            @* Single unit price *@
            <div class="pd-finalprice">
                <data asp-for="@Model.UnitPrice" class="pd-finalprice-amount"></data>
            </div>

            @* Quantity *@
            <div class="cart-item-qty pd-muted">
                <span>@T("Order.Product(s).Quantity"):</span> <span>@Model.Quantity @Model.QuantityUnit</span>
            </div>

            @* Subtotal *@
            <div sm-if="Model.UnitPrice != Model.SubTotal" class="pd-subtotal pd-muted">
                <span class="pd-subtotal-label">@T("Order.Product(s).Total"):</span>
                <data asp-for="@Model.SubTotal" class="pd-subtotal-amount fwm"></data>
            </div>
        </div>
    </div>
</div>