@using Smartstore.Web.Models.Orders

@model ReturnCaseItemsModel

@{
    var returnAll = Model.ReturnAllItems;
}

@if (Model.IsEditable)
{
    <div class="btn-group btn-group-toggle mb-3" data-toggle="buttons">
        <label class="btn btn-secondary active">
            <input type="radio" 
                   asp-for="ReturnAllItems" 
                   sm-ignore-label="true" 
                   id="ReturnAllItems" 
                   value="true" 
                   attr-checked='(Model.ReturnAllItems, "checked")'
                   class="form-check-input">
            @T("ReturnCase.EntireOrder")
        </label>
        <label class="btn btn-secondary">
            <input type="radio" 
                   asp-for="ReturnAllItems" 
                   sm-ignore-label="true" 
                   id="ReturnSelectedItems" 
                   value="false" 
                   attr-checked='(!Model.ReturnAllItems, "checked")'
                   class="form-check-input">
            @T("ReturnCase.CertainItems")
        </label>
    </div>
}
else
{
    <div>
        @T(returnAll ? "ReturnCase.WithdrawEntireOrder" : "ReturnCase.WithdrawItems")
    </div>
}

<div id="cart-items" class="cart mt-2">
    <div class="cart-body">
        @foreach (var item in Model.Items)
        {
            var quantityId = $"orderitem-quantity{item.Id}";
            <div class="cart-row return-item">
                <div class="row">
                    @if (Model.IsEditable)
                    {
                        <div class="select-cart-item col-auto">
                            <input name="orderitem-select@(item.Id)"
                                   type="checkbox"
                                   class="form-check-input select-cart-item-checkbox return-item-checkbox"
                                   attr-checked='(returnAll || item.Selected, "checked")'
                                   attr-aria-disabled='(returnAll, "true")'
                                   attr-disabled='(returnAll, "disabled")' />
                        </div>
                    }
                    <div class="cart-item-img col-2" sm-if="item.Image != null && item.Image.HasImage()">
                        <img sm-model="item.Image" class="img-fluid" attr-alt='(item.Image.Alt.IsEmpty(), item.ProductName)' />
                    </div>
                    <div class="cart-item-data col">
                        <div class="cart-item-group cart-item-title" role="heading" aria-level="3">
                            @if (item.ProductUrl.HasValue())
                            {
                                <a href="@item.ProductUrl" class="cart-item-link" sm-language-attributes-for="item.ProductName">
                                    @item.ProductName
                                </a>
                            }
                            else
                            {
                                <span class="product-name" sm-language-attributes-for="item.ProductName">@item.ProductName</span>
                            }
                        </div>
                        <div sm-if="item.AttributeInfo.HasValue()" class="cart-item-attrs cart-item-group fs-sm">
                            @Html.Raw(item.AttributeInfo)
                        </div>
                        <div class="cart-item-price-group mt-2">
                            <span>@T("ReturnRequests.Products.Price"):</span>
                            <data asp-for="@item.UnitPrice" class="pd-finalprice-amount"></data>
                        </div>
                        <div class="cart-item-qty pd-muted">
                            <span>@T("Order.Product(s).OrderedQuantity"):</span> <span>@item.Quantity.ToString("N0") @item.QuantityUnit</span>
                        </div>
                        <div class="cart-item-return-qty mt-2">
                            @if (!Model.IsEditable)
                            {
                                <span>@T("ReturnRequests.Products.Quantity"):</span> <span>@item.SelectedReturnQuantity.ToString("N0")</span>
                            }
                            else if (item.MaxReturnQuantity > 0)
                            {
                                var qtyDisabled = returnAll || (!returnAll && !item.Selected);
                                <label for="@quantityId" class="mb-1">@T("ReturnRequests.Products.Quantity"):</label>
                                <select id="@quantityId" 
                                        name="@quantityId" 
                                        class="form-control form-control-sm return-item-quantity noskin" 
                                        style="max-width: 120px;"
                                        data-max-quantity="@item.MaxReturnQuantity"
                                        attr-aria-disabled='(qtyDisabled, "true")'
                                        attr-disabled='(qtyDisabled, "disabled")'>
                                    @for (var i = 0; i <= item.MaxReturnQuantity; i++)
                                    {
                                        var selected = (returnAll && i == item.MaxReturnQuantity) || (!returnAll && i == item.SelectedReturnQuantity);
                                        <option value="@(i)" attr-selected='(selected, "selected")'>@(i)</option>
                                    }
                                </select>
                            }

                            <div sm-if="Model.IsEditable && item.ReturnCases.Count > 0" class="alert alert-info small mt-2 mb-0" role="status" aria-live="polite">
                                <p>@T("ReturnRequests.Products.RequestAlreadyExists")</p>
                                @foreach (var rr in item.ReturnCases)
                                {
                                    <dl class="row">
                                        <dt class="col-sm-2">@T("ReturnRequests.Products.Quantity")</dt>
                                        <dd class="col-sm-10 mb-0">@rr.Quantity</dd>
                                        <dt class="col-sm-2">@T("Common.Status")</dt>
                                        <dd class="col-sm-10 mb-0">@rr.ReturnCaseStatus</dd>
                                        <dt class="col-sm-2">@T("Account.CustomerReturnRequests.Date")</dt>
                                        <dd class="col-sm-10 mb-0">
                                            <time asp-for="@rr.CreatedOn" sm-format="f"></time>
                                        </dd>
                                    </dl>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@if(!Model.IsEditable)
{
    return;
}

<script sm-target-zone="scripts" data-origin="returncase-items">
    $(function () {
        $('input[name="@(Html.NameFor(x => x.ReturnAllItems))"]').on('change', (e) => {
            const returnAll = toBool($(e.currentTarget).val());
            const $elContainer = $('#cart-items');

            $elContainer.find('.return-item-checkbox')
                .prop('checked', returnAll)
                .prop('disabled', returnAll)
                .aria('disabled', returnAll);

            $elContainer.find('.return-item-quantity')
                .prop('disabled', true)
                .aria('disabled', true)
                .each((_, el) => {
                    $(el).val(returnAll ? $(el).data('max-quantity') : 0);
                });
        });

        $('.return-item-checkbox').on('change', (e) => {
            const $el = $(e.currentTarget);
            const $sel = $el.closest('.return-item').find('.return-item-quantity');
            const selected = $el.is(':checked');

            $sel.prop('disabled', !selected);
            if (!selected) {
                $sel.val(0);
            }
        });
    });
</script>