@using Smartstore.Blog.Domain
 
@model BlogPostModel

<div asp-validation-summary="All"></div>
<input type="hidden" asp-for="Id" />

<tabstrip id="blogpost-edit" sm-nav-style="Material">
    <tab sm-title="@T("Admin.ContentManagement.Blog.BlogPosts.Info")" sm-selected="true">

        @(Html.LocalizedEditor<BlogPostModel, BlogPostLocalizedModel>("blogpost-info-localized",
            @<div class="adminContent">
                <div class="adminRow">
                    <div class="adminTitle">
                        <smart-label asp-for="Locales[item].Title" />
                    </div>
                    <div class="adminData">
                        @*IMPORTANT: Do not delete, this hidden element contains the id to assign localized values to the corresponding language *@
                        <input type="hidden" asp-for="Locales[item].LanguageId" />

                        <input asp-for="Locales[item].Title" />
                        <span asp-validation-for="Locales[item].Title"></span>
                    </div>
                </div>
                <div class="adminRow">
                    <div class="adminTitle">
                        <smart-label asp-for="Locales[item].Intro" />
                    </div>
                    <div class="adminData wide">
                        <editor asp-for="Locales[item].Intro" />
                        <span asp-validation-for="Locales[item].Intro"></span>
                    </div>
                </div>
                <div class="adminRow">
                    <div class="adminTitle">
                        <smart-label asp-for="Locales[item].Body" />
                    </div>
                    <div class="adminData wide">
                        <editor asp-for="Locales[item].Body" />
                        <span asp-validation-for="Locales[item].Body"></span>
                    </div>
                </div>
            </div>
            ,
            @<div class="adminContent">
                <div class="adminRow">
                    <div class="adminTitle">
                        <smart-label asp-for="Title" />
                    </div>
                    <div class="adminData">
                        <input asp-for="Title" />
                        <span asp-validation-for="Title"></span>
                    </div>
                </div>
                <div class="adminRow">
                    <div class="adminTitle">
                        <smart-label asp-for="Intro" />
                    </div>
                    <div class="adminData wide">
                        <editor asp-for="Intro" />
                        <span asp-validation-for="Intro"></span>
                    </div>
                </div>
                <div class="adminRow">
                    <div class="adminTitle">
                        <smart-label asp-for="Body" />
                    </div>
                    <div class="adminData wide">
                        <editor asp-for="Body" />
                        <span asp-validation-for="Body"></span>
                    </div>
                </div>
            </div>
        ))

        <div class="adminContent">
            <div class="adminRow">
                <div class="adminTitle">
                    <smart-label asp-for="Tags" />
                </div>
                <div class="adminData">
                    <select asp-for="Tags" asp-items="Model.AvailableTags" multiple="multiple" data-tags="true"></select>
                    <span asp-validation-for="Tags"></span>
                </div>
            </div>
            <div class="adminRow">
                <div class="admin-config-group">
                    <div class="head">@T("Admin.ContentManagement.Blog.Heading.Publish")</div>
                </div>
            </div>
            <div class="adminRow">
                <div class="adminTitle">
                    <smart-label asp-for="IsPublished" />
                </div>
                <div class="adminData">
                    <input asp-for="IsPublished" />
                    <span asp-validation-for="IsPublished"></span>
                </div>
            </div>
            <div sm-if="!ViewBag.IsSingleLanguageMode" class="adminRow">
                <div class="adminTitle">
                    <smart-label asp-for="LanguageId" />
                </div>
                <div class="adminData">
                    <select asp-for="LanguageId" asp-items="ViewBag.AvailableLanguages">
                        <option>@T("Common.International")</option>
                    </select>
                    <span asp-validation-for="LanguageId"></span>
                </div>
            </div>
            <div class="adminRow">
                <div class="adminTitle">
                    <smart-label asp-for="SelectedStoreIds" />
                </div>
                <div class="adminData">
                    <editor asp-for="SelectedStoreIds" />
                    <span asp-validation-for="SelectedStoreIds"></span>
                </div>
            </div>
            <div class="adminRow">
                <div class="adminTitle">
                    <smart-label asp-for="StartDateUtc" />
                </div>
                <div class="adminData">
                    <editor asp-for="StartDateUtc" />
                    <span asp-validation-for="StartDateUtc"></span>
                </div>
            </div>
            <div class="adminRow">
                <div class="adminTitle">
                    <smart-label asp-for="EndDateUtc" />
                </div>
                <div class="adminData">
                    <editor asp-for="EndDateUtc" />
                    <span asp-validation-for="EndDateUtc"></span>
                </div>
            </div>
            <div class="adminRow">
                <div class="adminTitle">
                    <smart-label asp-for="CreatedOnUtc" />
                </div>
                <div class="adminData">
                    <editor asp-for="CreatedOnUtc" />
                    <span asp-validation-for="CreatedOnUtc"></span>
                </div>
            </div>
            <div class="adminRow">
                <div class="admin-config-group">
                    <div class="head">@T("Admin.ContentManagement.Blog.Heading.Display")</div>
                </div>
            </div>
            <div class="adminRow">
                <div class="adminTitle">
                    <smart-label asp-for="PreviewDisplayType" />
                </div>
                <div class="adminData">
                    <select asp-for="PreviewDisplayType" asp-items="Html.GetLocalizedEnumSelectList(typeof(PreviewDisplayType))"></select>
                    <span asp-validation-for="PreviewDisplayType"></span>
                </div>
            </div>
            <div class="adminRow">
                <div class="adminTitle">
                    <smart-label asp-for="PictureId" />
                </div>
                <div class="adminData">
                    <editor asp-for="PictureId" />
                    <span asp-validation-for="PictureId"></span>
                </div>
            </div>
            <div class="adminRow" id="pnlPreviewPicture">
                <div class="adminTitle">
                    <smart-label asp-for="PreviewPictureId" />
                </div>
                <div class="adminData">
                    <editor asp-for="PreviewPictureId" />
                    <span asp-validation-for="PreviewPictureId"></span>
                </div>
            </div>
            <div class="adminRow" id="pnlSectionBg">
                <div class="adminTitle">
                    <smart-label asp-for="SectionBg" />
                </div>
                <div class="adminData">
                    @{
                        var brandColors = Display.GetThemeVariable<string>("brand-colors")
                            .Trim()
                            .SplitSafe(",")
                            .Select(x => x.TrimSafe())
                            .Select(x => new SelectListItem { Text = x, Value = x })
                            .ToList();
                    }

                    <select asp-for="SectionBg" asp-items="brandColors">
                        <option>@T("Common.Unspecified")</option>
                    </select>
                    <span asp-validation-for="SectionBg"></span>
                </div>
            </div>
            <div class="adminRow">
                <div class="adminTitle">
                    <smart-label asp-for="AllowComments" />
                </div>
                <div class="adminData">
                    <input asp-for="AllowComments" />
                    <span asp-validation-for="AllowComments"></span>
                </div>
            </div>
            <div class="adminRow">
                <div class="adminTitle">
                    <smart-label asp-for="DisplayTagsInPreview" />
                </div>
                <div class="adminData">
                    <input asp-for="DisplayTagsInPreview" />
                    <span asp-validation-for="DisplayTagsInPreview"></span>
                </div>
            </div>
        </div>
    </tab>
    <tab sm-title="@T("Admin.Common.SEO")">
        @(Html.LocalizedEditor<BlogPostModel, BlogPostLocalizedModel>("blogpost-seo-localized",
            @<div class="adminContent">
                <div class="adminRow">
                    <div class="adminTitle">
                        <smart-label asp-for="Locales[item].MetaTitle" />
                    </div>
                    <div class="adminData">
                        @*IMPORTANT: Do not delete, this hidden element contains the id to assign localized values to the corresponding language *@
                        <input type="hidden" asp-for="Locales[item].LanguageId" />

                        <editor asp-for="Locales[item].MetaTitle" />
                        <span asp-validation-for="Locales[item].MetaTitle"></span>
                    </div>
                </div>
                <div class="adminRow">
                    <div class="adminTitle">
                        <smart-label asp-for="Locales[item].MetaDescription" />
                    </div>
                    <div class="adminData">
                        <editor asp-for="Locales[item].MetaDescription" />
                        <span asp-validation-for="Locales[item].MetaDescription"></span>
                    </div>
                </div>
                <div class="adminRow">
                    <div class="adminTitle">
                        <smart-label asp-for="Locales[item].MetaKeywords" />
                    </div>
                    <div class="adminData">
                        <input asp-for="Locales[item].MetaKeywords" />
                        <span asp-validation-for="Locales[item].MetaKeywords"></span>
                    </div>
                </div>
                <div class="adminRow">
                    <div class="adminTitle">
                        <smart-label asp-for="Locales[item].SeName" />
                    </div>
                    <div class="adminData">
                        <input asp-for="Locales[item].SeName" />
                        <span asp-validation-for="Locales[item].SeName"></span>
                    </div>
                </div>
            </div>
            ,
            @<div class="adminContent">
                <div class="adminRow">
                    <div class="adminTitle">
                        <smart-label asp-for="MetaTitle" />
                    </div>
                    <div class="adminData">
                        <editor asp-for="MetaTitle" />
                        <span asp-validation-for="MetaTitle"></span>
                    </div>
                </div>
                <div class="adminRow">
                    <div class="adminTitle">
                        <smart-label asp-for="MetaDescription" />
                    </div>
                    <div class="adminData">
                        <editor asp-for="MetaDescription" />
                        <span asp-validation-for="MetaDescription"></span>
                    </div>
                </div>
                <div class="adminRow">
                    <div class="adminTitle">
                        <smart-label asp-for="MetaKeywords" />
                    </div>
                    <div class="adminData">
                        <input asp-for="MetaKeywords" />
                        <span asp-validation-for="MetaKeywords"></span>
                    </div>
                </div>
                <div class="adminRow">
                    <div class="adminTitle">
                        <smart-label asp-for="SeName" />
                    </div>
                    <div class="adminData">
                        <input asp-for="SeName" />
                        @if (Model.Id != 0)
                        {
                            @await Component.InvokeAsync("NamesPerEntity", new { entityName = "BlogPost", entityId = Model.Id })
                        }
                        <span asp-validation-for="SeName"></span>
                    </div>
                </div>
            </div>
        ))
    </tab>
</tabstrip>