@model BlogPostModel

@{
    ViewBag.Title = T("Admin.ContentManagement.Blog.BlogPosts.EditBlogPostDetails").Value;
}

<form asp-action="Edit">
    <div class="section-header">
        <div class="title">
            @T("Admin.ContentManagement.Blog.BlogPosts.EditBlogPostDetails") - @Model.Title
            <a asp-action="List">(@T("Admin.ContentManagement.Blog.BlogPosts.BackToList"))</a>
        </div>
        <div class="options">
            <zone name="admin_button_toolbar_before" />

            <button type="submit" name="preview" value="preview" onclick="javascript:openWindow('@Url.RouteUrl("BlogPost", new { SeName = Model.SeName })', 1000, 600, true); return false;" class="btn btn-secondary">
                <i class="far fa-eye"></i>
                <span>@T("Admin.Common.Preview")</span>
            </button>
            <button type="submit" name="save" value="save" class="btn btn-warning">
                <i class="fa fa-check"></i>
                <span>@T("Admin.Common.Save")</span>
            </button>
            <button type="submit" name="save" value="save-continue" class="btn btn-secondary">
                <span>@T("Admin.Common.SaveContinue")</span>
            </button>
            <button type="submit" name="blogpost-delete" id="blogpost-delete" class="btn btn-danger">
                <i class="far fa-trash-alt"></i>
                <span>@T("Admin.Common.Delete")</span>
            </button>

            <confirm button-id="blogpost-delete" />

            <zone name="admin_button_toolbar_after" />
        </div>
    </div>
    <partial name="_CreateOrUpdate" />
</form>