@model BlogSettingsModel

@{
    Layout = "_SettingLayout";
}

<form asp-action="Settings">
    <div class="section-header">
        <div class="title">
            <i class="far fa-edit"></i>
            @T("Admin.Configuration.Settings.Blog")
        </div>
        <div class="options">
            <button type="submit" name="save" value="save" class="btn btn-warning">
                <i class="fa fa-check"></i>
                <span>@T("Admin.Common.Save")</span>
            </button>
        </div>
    </div>

    @await Component.InvokeAsync("StoreScope")

    <div asp-validation-summary="All"></div>

    <tabstrip id="blogsettings-edit" sm-nav-style="Material" sm-nav-position="Top">
        <tab sm-title="@T("Admin.Configuration.Settings.Blog")" sm-selected="true">
            <div class="adminContent">
                <div class="adminRow">
                    <div class="adminTitle">
                        <smart-label asp-for="Enabled" />
                    </div>
                    <div class="adminData">
                        <setting-editor asp-for="Enabled" data-toggler-for="#pnlBlogEnabled"></setting-editor>
                        <span asp-validation-for="Enabled"></span>
                    </div>
                </div>
            </div>

            <div id="pnlBlogEnabled" class="adminContent">
                <div class="adminRow">
                    <div class="adminTitle">
                        <smart-label asp-for="PostsPageSize" />
                    </div>
                    <div class="adminData">
                        <setting-editor asp-for="PostsPageSize"></setting-editor>
                        <span asp-validation-for="PostsPageSize"></span>
                    </div>
                </div>
                <div class="adminRow">
                    <div class="adminTitle">
                        <smart-label asp-for="AllowNotRegisteredUsersToLeaveComments" />
                    </div>
                    <div class="adminData">
                        <setting-editor asp-for="AllowNotRegisteredUsersToLeaveComments"></setting-editor>
                        <span asp-validation-for="AllowNotRegisteredUsersToLeaveComments"></span>
                    </div>
                </div>
                <div class="adminRow">
                    <div class="adminTitle">
                        <smart-label asp-for="NotifyAboutNewBlogComments" />
                    </div>
                    <div class="adminData">
                        <setting-editor asp-for="NotifyAboutNewBlogComments"></setting-editor>
                        <span asp-validation-for="NotifyAboutNewBlogComments"></span>
                    </div>
                </div>
                <div class="adminRow">
                    <div class="adminTitle">
                        <smart-label asp-for="NumberOfTags" />
                    </div>
                    <div class="adminData">
                        <setting-editor asp-for="NumberOfTags"></setting-editor>
                        <span asp-validation-for="NumberOfTags"></span>
                    </div>
                </div>
                <div class="adminRow">
                    <div class="adminTitle">
                        <smart-label asp-for="MaxAgeInDays" />
                    </div>
                    <div class="adminData">
                        <setting-editor asp-for="MaxAgeInDays"></setting-editor>
                        <span asp-validation-for="MaxAgeInDays"></span>
                    </div>
                </div>
                <div class="adminRow">
                    <div class="adminTitle">
                        <smart-label asp-for="ShowHeaderRssUrl" />
                    </div>
                    <div class="adminData">
                        <setting-editor asp-for="ShowHeaderRssUrl"></setting-editor>
                        <span asp-validation-for="ShowHeaderRssUrl"></span>
                    </div>
                </div>
            </div>
        </tab>
        <tab sm-title="@T("Admin.Configuration.SeoTab.Title")">
            @Html.EditorFor(model => model, "SeoModel")
        </tab>
    </tabstrip>
</form>