@model PublicEditForumTopicModel

@{
    var cancelUrl = Model.Id == 0 
        ? Url.RouteUrl("ForumBySlug", new { id = Model.ForumId, slug = Model.ForumSlug })
        : Url.RouteUrl("ForumTopicBySlug", new { id = Model.Id, slug = Model.Slug });
}

<input type="hidden" asp-for="Id" />
<input type="hidden" asp-for="ForumId" />

<div class="page post-edit">
    <div class="page-title">
        <h2>@T(Model.Id == 0 ? "Forum.NewTopic" : "Forum.EditTopic")</h2>
    </div>
    <div class="message-error">
        <div asp-validation-summary="ModelOnly"></div>
    </div>
    <div class="form-group row pt-3">
        <label asp-for="ForumName" class="col-sm-3">@T("Forum.ForumName"):</label>
        <div class="col-sm-9" sm-language-attributes-for="Model.ForumName">
            <a asp-route="ForumBySlug" asp-route-id="@Model.ForumId" asp-route-slug="@Model.ForumSlug" class="forum-link">
                @Model.ForumName
            </a>
        </div>
    </div>
    <div class="form-group">
        <label class="col-form-label">@T("Forum.TopicTitle")</label>
        <input asp-for="Subject" class="form-control" />
        <span asp-validation-for="Subject"></span>
    </div>
    <div class="row">
        <div class="col" dir="auto">
            @if (Model.ForumEditor == EditorType.BBCodeEditor)
            {
                <script src="~/lib/editors/BBEditor/ed.js"></script>
                <script>edToolbar('Text');</script>
            }
            <textarea asp-for="Text" class="form-control forum-post-text" rows="8" textmode="MultiLine"></textarea>
            <span asp-validation-for="Text"></span>
        </div>
    </div>
    <div sm-if="Model.IsModerator" class="form-group row">
        <label class="col-sm-3 col-form-label">@T("Forum.Priority")</label>
        <div class="col-sm-9">
            <select asp-for="TopicTypeId" asp-items="ViewBag.ForumTopicTypes" class="form-control"></select>
        </div>
    </div>
    <div sm-if="Model.IsModerator" class="row">
        <div class="col">
            <input asp-for="Published" type="checkbox" />
			<label asp-for="Published" class="pl-1">@T("Common.Published")</label>
        </div>
    </div>
    <div sm-if="Model.IsModerator" class="row">
        <div class="col">
            <input asp-for="IsSubscribed" type="checkbox" />
			<label asp-for="IsSubscribed" class="pl-1">@T("Forum.NotifyWhenSomeonePostsInThisTopic")</label>
        </div>
    </div>

	<div class="row">
		<div class="col">
			<zone name="gdpr_consent" />
		</div>
	</div>

    <captcha sm-enabled="Model.DisplayCaptcha" class="form-group row" />

    <div class="row">
        <div class="col my-3">
            <button type="submit" class="btn btn-primary btn-lg">
				<i class="fa fa-reply"></i>
                <span>@T("Forum.Submit")</span>
			</button>
            <a href="@cancelUrl" class="btn btn-secondary btn-lg">
                <span>@T("Forum.Cancel")</span>
            </a>
        </div>
    </div>    
</div>