@model PublicEditForumPostModel

@{
    var cancelUrl = Url.RouteUrl("ForumTopicBySlug", new { id = Model.ForumTopicId, slug = Model.ForumTopicSlug });
    if (Model.Id != 0)
    {
        cancelUrl += "#" + Model.Id;
    }
}

<input type="hidden" asp-for="Id" />
<input type="hidden" asp-for="ForumTopicId" />

<div class="page post-edit">
    <div class="page-title">
        <h2>@T(Model.Id == 0 ? "Forum.NewPost" : "Forum.EditPost")</h2>
    </div>
    <div class="message-error">
        <div asp-validation-summary="ModelOnly"></div>
    </div>
    <div class="form-group row pt-3">
        <div class="col" dir="auto">
            <label class="pr-1">@T("Forum.ForumName"):</label>
            <a asp-route="ForumBySlug" asp-route-id="@Model.ForumId" asp-route-slug="@Model.ForumSlug" class="forum-link">
                @Model.ForumName
            </a>
        </div>
    </div>
    <div class="form-group row">
        <div class="col" dir="auto">
            <label class="pr-1">@T("Forum.TopicSubject"):</label>
            <a asp-route="ForumTopicBySlug" asp-route-id="@Model.ForumTopicId" asp-route-slug="@Model.ForumTopicSlug" class="forum-link">
                @Model.ForumTopicSubject
            </a>
        </div>
    </div>
    <div class="form-group row">
        <div class="col" dir="auto">
            @if (Model.ForumEditor == EditorType.BBCodeEditor)
            {
                <script src="~/lib/editors/BBEditor/ed.js"></script>
                <script>edToolbar('Text');</script>
            }
            <textarea asp-for="Text" class="form-control forum-post-text" rows="8" textmode="MultiLine"></textarea>
            <span asp-validation-for="Text"></span>
        </div>
    </div>
    <div sm-if="Model.IsModerator && !Model.IsFirstPost" class="row align-items-center no-gutters">
        <div class="col col-auto pr-2">
            <input asp-for="Published" type="checkbox" />
        </div>
        <div class="col">
            <label asp-for="Published" class="mb-0">@T("Common.Published")</label>
        </div>
    </div>
    <div sm-if="Model.CanSubscribe" class="row align-items-center no-gutters">
        <div class="col col-auto pr-2">
            <input asp-for="IsSubscribed" type="checkbox" />
        </div>
        <div class="col">
            <label asp-for="IsSubscribed" class="mb-0">@T("Forum.NotifyWhenSomeonePostsInThisTopic")</label>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <zone name="gdpr_consent" />
        </div>
    </div>

    <div class="form-group row">
        <captcha sm-enabled="Model.DisplayCaptcha" class="col" />
    </div>

    <div class="row">
        <div class="col my-3">
            <button type="submit" class="btn btn-primary btn-lg">
                <i class="fa fa-reply"></i>
                <span>@T("Forum.Submit")</span>
            </button>
            <a href="@cancelUrl" class="btn btn-secondary btn-lg">
                <span>@T("Forum.Cancel")</span>
            </a>
            @if (Model.CanDeletePost && Model.Id > 0)
            {
                <a asp-action="PostDelete" asp-controller="Boards" asp-route-id="@Model.Id" id="delete-post" class="delete-post btn btn-secondary btn-to-danger btn-lg">
                    <i class="fa fa-times"></i>
                    <span>@T("Forum.DeletePost")</span>
                </a>
            }
        </div>
    </div>
</div>

@if (Model.Id > 0)
{
<script sm-target-zone="scripts" data-origin="forum-post-create-or-update">
    $(function () {
        $('#delete-post').on('click', function(e) {
            e.preventDefault();

            $(this).postData({
                ask: @(T("Admin.Common.DeleteConfirmation").JsValue),
                iconType: "delete"
            });

            return false;
        });
    });
</script>
}