@model PublicEditForumPostModel

@{
    var cancelUrl = Url.RouteUrl("ForumTopicBySlug", new { id = Model.ForumTopicId, slug = Model.ForumTopicSlug });
    if (Model.Id != 0)
    {
        cancelUrl += "#" + Model.Id;
    }
}

<input type="hidden" asp-for="Id" />
<input type="hidden" asp-for="ForumTopicId" />

<div class="page post-edit">
    <div class="page-title">
        <h2>@T(Model.Id == 0 ? "Forum.NewPost" : "Forum.EditPost")</h2>
    </div>
    <div class="message-error">
        <div asp-validation-summary="ModelOnly"></div>
    </div>
    <div class="form-group row pt-3">
        <label class="col-sm-3">@T("Forum.ForumName"):</label>
        <div class="col-sm-9" dir="auto">
            <a asp-route="ForumBySlug" asp-route-id="@Model.ForumId" asp-route-slug="@Model.ForumSlug" class="forum-link">
                @Model.ForumName
            </a>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3">@T("Forum.TopicSubject"):</label>
        <div class="col-sm-9" dir="auto">
            <a asp-route="ForumTopicBySlug" asp-route-id="@Model.ForumTopicId" asp-route-slug="@Model.ForumTopicSlug" class="forum-link">
                @Model.ForumTopicSubject
            </a>
        </div>
    </div>
    <div class="form-group row">
        <div class="col mt-3" dir="auto">
            @if (Model.ForumEditor == EditorType.BBCodeEditor)
            {
                <script src="~/lib/editors/BBEditor/ed.js"></script>
                <script>edToolbar('Text');</script>
            }
            <textarea asp-for="Text" class="form-control forum-post-text" rows="8" textmode="MultiLine"></textarea>
            <span asp-validation-for="Text"></span>
        </div>
    </div>
    <div sm-if="Model.IsModerator && !Model.IsFirstPost" class="row">
        <div class="col">
            <input asp-for="Published" type="checkbox" />
			<label asp-for="Published" class="pl-1">@T("Common.Published")</label>
        </div>
    </div>
    <div sm-if="Model.CanSubscribe" class="row">
        <div class="col">
            <input asp-for="IsSubscribed" type="checkbox" />
			<label asp-for="IsSubscribed" class="pl-1">@T("Forum.NotifyWhenSomeonePostsInThisTopic")</label>
        </div>
    </div>

	<div class="row">
		<div class="col">
			<zone name="gdpr_consent" />
		</div>
	</div>

    <captcha sm-enabled="Model.DisplayCaptcha" class="form-group row" />

    <div class="row">
        <div class="col my-3">
            <button type="submit" class="btn btn-primary btn-lg">
                <i class="fa fa-reply"></i>
                <span>@T("Forum.Submit")</span>
            </button>
            <a href="@cancelUrl" class="btn btn-secondary btn-lg">
                <span>@T("Forum.Cancel")</span>
            </a>
        </div>
    </div>
</div>
