@model PublicForumGroupModel

@{ 
    var lastPostViewData = new ViewDataDictionary(ViewData) { { "ShowTopic", true } };
}

<div class="forum-group table-responsive">
    <div class="group-title">
        <h1 class="fs-h3" sm-language-attributes-for="Model.Name">
            <a asp-route="ForumGroupBySlug" asp-route-id="@Model.Id" asp-route-slug="@Model.Slug" class="forum-table-link">
                @Model.Name.Value
            </a>
        </h1>
    </div>
    <table sm-if="Model.Forums.Any()" class="table forum-table">
        <thead>
            <tr class="group-header">
                <th></th>
                <th class="forum-name">
                    @T("Forum.Forum")
                </th>
                <th class="topics">
                    @T("Forum.Topics")
                </th>
                <th class="posts">
                    @T("Forum.Posts")
                </th>
                <th class="last-post">
                    @T("Forum.LatestPost")
                </th>
            </tr>
        </thead>
        @foreach (var forum in Model.Forums)
        {
            <tr class="forum">
                <td class="image">
                    <i class="fa fa-folder-open"></i>
                </td>
                <td class="forum-name">
                    <div class="forum-title">
                        <a asp-route="ForumBySlug" asp-route-id="@forum.Id" asp-route-slug="@forum.Slug" class="forum-table-link">
                            @forum.Name
                        </a>
                    </div>
                    <div class="forum-description" sm-language-attributes-for="forum.Description">
                        @forum.Description
                    </div>
                </td>
                <td class="topics">
                    @forum.NumTopics.ToString("N0")
                </td>
                <td class="posts">
                    @forum.NumPosts.ToString("N0")
                </td>
                <td class="last-post">
                    <partial name="_LastPost" model="forum.LastPost" view-data="lastPostViewData" />
                </td>
            </tr>
        }
    </table>
</div>