@model PublicForumGroupModel

@{ 
    var lastPostViewData = new ViewDataDictionary(ViewData) { { "ShowTopic", true } };
}

<div class="forum-group card mb-4 x-shadow-sm">
    <div class="card-header group-title">
        <h2 class="fs-h4 m-0" sm-language-attributes-for="Model.Name">
            <a asp-route="ForumGroupBySlug" asp-route-id="@Model.Id" asp-route-slug="@Model.Slug" class="forum-link">
                @Model.Name.Value
            </a>
        </h2>
    </div>
    <div class="card-body p-0">
        <ul class="list-group list-group-flush forum-list">
            @foreach (var forum in Model.Forums)
            {
                <li class="list-group-item">
                    <div class="row flex-nowrap align-items-center sm-gutters">

                        <div class="col forum-info text-truncate">
                            <div class="d-flex flex-nowrap align-items-center">
                                <div class="forum-image mr-3">
                                    <i class="fa fa-fw fa-folder-open fa-2x text-success"></i>
                                </div>
                                <div class="forum-name">
                                    <div class="forum-title text-truncate">
                                        <a asp-route="ForumBySlug" asp-route-id="@forum.Id" asp-route-slug="@forum.Slug" class="forum-link fwm fs-h6 text-truncate">
                                            @forum.Name
                                        </a>
                                    </div>
                                    <div class="forum-description text-muted text-truncate" sm-language-attributes-for="forum.Description">
                                        @forum.Description
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col forum-numtopics text-center text-truncate">
                            <div class="text-muted small">@T("Forum.Topics")</div>
                            <div class="fs-h5 fwm">@forum.NumTopics.ToString("N0")</div>
                        </div>

                        <div class="col forum-numposts text-center text-truncate">
                            <div class="text-muted small">@T("Forum.Posts")</div>
                            <div class="fs-h5 fwm">@forum.NumPosts.ToString("N0")</div>
                        </div>

                        <div class="col forum-lastpost text-truncate">
                            <partial name="_LastPost" model="forum.LastPost" view-data="lastPostViewData" />
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>