@model PublicForumPostModel

@{
    var showTopic = ViewBag.ShowTopic == true;
}

<div sm-if="Model?.Id > 0" class="last-post d-flex align-items-center">
    <div class="mr-2">
        <partial name="Customer.Avatar" model="Model.Avatar" />
    </div>
    <div class="text-truncate">
        <div class="post-summary text-truncate" sm-if="Model.CustomerId > 0" attr-class='(!showTopic, "no-topic")'>
            <div class="text-truncate small">
                <span class="createdon text-muted">@Model.PostCreatedOnStr</span>
                @if (Model.CustomerId > 0)
                {
                    <span class="seperator">&nbsp;·&nbsp;</span>
                    @if (Model.HasCustomerProfile)
                    {
                        <a asp-route="CustomerProfile" asp-route-id="@Model.CustomerId" class="text-truncate pretty-link">
                            @Model.CustomerName.NaIfEmpty()
                        </a>
                    }
                    else
                    {
                        <span class="text-truncate">@Model.CustomerName</span>
                    }
                }
            </div>
            <div sm-if="showTopic" class="text-truncate">
                <a asp-route="ForumTopicBySlug" asp-route-id="@Model.ForumTopicId" asp-route-slug="@Model.ForumTopicSlug" title="@Model.ForumTopicSubject" class="text-truncate">
                    @Model.ForumTopicSubject
                </a>
            </div>
        </div>
    </div>
</div>
<div sm-if="Model == null" class="nopost text-muted small">
    @T("Forum.NoPosts")
</div>