@model PublicForumTopicPageModel

<div class="topic-options row xs-gutters my-2">
    <div sm-if="Model.CanCreatePosts" class="col col-lg-auto mb-2 mb-lg-0">
        <a asp-action="PostCreate" asp-route-id="@Model.Id" class="btn btn-success btn-block">
            <i class="fa fa-share"></i>
            <span>@T("Forum.Reply")</span>
        </a>
    </div>
    <div sm-if="Model.CanSubscribe" class="col col-lg-auto mb-2 mb-lg-0">
        <form sm-ajax="true" method="post" asp-action="TopicWatch" asp-controller="Boards" sm-oncomplete="onWatchTopicCompleted">
            <input type="hidden" asp-for="Id" />

            <button type="submit" class="btn btn-block watch-topic-link-button @(Model.IsSubscribed ? "btn-primary" : "btn-secondary")">
                <i class="fa-bell @(Model.IsSubscribed ? "fas" : "far")"></i>
                <span class="watch-topic-text">@T(Model.IsSubscribed ? "Forum.UnwatchTopic" : "Forum.WatchTopic")</span>
            </button>
        </form>
    </div>
    <div class="col">
        <div class="row no-gutters justify-content-end">
            <div sm-if="Model.ForumPosts.TotalPages > 1" class="col">
                <pagination sm-list-items="Model.ForumPosts" sm-alignment="Right" />
            </div>
            <div class="col col-auto">
                <div sm-if="Model.CanEditTopic || Model.CanDeleteTopic || Model.CanMoveTopic" class="manage dropdown ml-2">
                    <button type="button" class="btn btn-primary btn-icon dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-cog"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        @if (Model.CanEditTopic)
                        {
                            <a asp-action="TopicEdit" asp-controller="Boards" asp-route-id="@Model.Id" class="dropdown-item" rel="nofollow">
                                <i class="far fa-edit"></i>
                                <span>@T("Forum.EditTopic")</span>
                            </a>
                        }
                        @if (Model.CanMoveTopic)
                        {
                            <a asp-action="TopicMove" asp-controller="Boards" asp-route-id="@Model.Id" class="dropdown-item" rel="nofollow">
                                <i class="fa fa-arrows-alt"></i>
                                <span>@T("Forum.MoveTopic")</span>
                            </a>
                        }
                        @if (Model.CanDeleteTopic)
                        {
                            <a asp-action="TopicDelete" asp-controller="Boards" asp-route-id="@Model.Id" class="dropdown-item delete-topic" rel="nofollow">
                                <i class="far fa-trash-alt"></i>
                                <span>@T("Forum.DeleteTopic")</span>
                            </a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
