@using Smartstore.Core.Search.Facets;

@model ForumSearchResultModel

@{
	var templateProvider = ViewBag.TemplateProvider as IFacetTemplateProvider;
	var facetGroups = Model.SearchResult.Facets.Select(x => x.Value).OrderBy(x => x.DisplayOrder);
	var i = 0;
}

<div class="faceted-search-container">
	<div class="faceted-search" id="faceted-search">
		@foreach (var group in facetGroups)
		{
			i++;
			var selectedFilters = group.SelectedFacets.ToArray();
			var selectedCount = selectedFilters.Length;
			var expanded = i <= 3 || selectedCount > 0;

			<div class="facet-group d-inline-block align-top mr-5" data-key="@group.Key" style="border-bottom: none;">
				<a class="facet-group-header facet-toggle@(!expanded ? " collapsed" : "")@(selectedCount > 0 ? " has-selection" : "")" 
				   data-toggle="collapse" 
				   href="#facet-body-@(group.Key)" 
				   aria-expanded="@expanded" 
				   aria-controls="facet-body-@(group.Key)"
				   attr-data-selections="(selectedCount > 0, selectedCount.ToString())">

				   <span sm-if="selectedCount > 0" class="facet-selection">@T("Search.Facet.SelectedCount", selectedCount)</span>
					@(group.Label ?? group.Key)
				</a>
				<div id="facet-body-@(group.Key)" class="facet-body collapse@(expanded ? " show" : "")" aria-expanded="@expanded">
					@await templateProvider.GetTemplateWidget(group).InvokeAsync(ViewContext)
					@if (selectedCount > 0)
					{
						<a href="@Url.FacetRemove(selectedFilters)" class="btn-remove-group-filters">
							@T("Search.Facet.RemoveGroupFilters")
						</a>
					}
				</div>
                <div sm-if="group.Kind == FacetGroupKind.Date && group.Facets.Any()">
                    <select class="facet-switch-range form-control form-control-sm noskin" data-qname="@Url.GetFacetQueryName(group.Facets.First())">
                        <option value="">@T("Search.Facet.Date.Newer")</option>
                        <option value="upper" attr-selected='(group.Facets.First().Value.UpperValue != null, "selected")'>@T("Search.Facet.Date.Older")</option>
                    </select>
                </div>
			</div>
		}
	</div>
</div>