@model CustomerForumSubscriptionsModel

@{
	Layout = "_MyAccount";

	Assets.AppendTitleParts(T("PageTitle.ForumSubscriptions"));

	ViewBag.PageClassToken = "forumsubscriptions";
	ViewBag.PageTitle = T("Account.ForumSubscriptions").Value;
}

@if (Model.ForumSubscriptions.Count == 0)
{
	<div class="alert alert-warning">
		@T("Account.ForumSubscriptions.NoSubscriptions")
	</div>
	return;
}

<div class="alert alert-success mb-0">
    @T("Account.ForumSubscriptions.Description")
</div>

<form asp-action="CustomerSubscriptions">
	<div id="subscription-list" class="subscription-list mt-3">
		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th style="width: 30px">
							<input type="checkbox" id="select-all-subscriptions" />
						</th>
						<th>
							@T("Account.ForumSubscriptions.InfoColumn")
						</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model.ForumSubscriptions)
					{
						<tr>
							<td style="width: 30px">
								<input type="checkbox" name="fs@(item.Id)" class="rowcheckbox" />
							</td>
							<td dir="auto">
								<a sm-if="item.TopicSubscription" asp-route="ForumTopicBySlug" asp-route-id="@item.ForumTopicId" asp-route-slug="@item.Slug">
									@item.Title
								</a>
								<a sm-if="!item.TopicSubscription" asp-route="ForumBySlug" asp-route-id="@item.ForumId" asp-route-slug="@item.Slug">
									@item.Title
								</a>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
		
		@if (Model.ForumSubscriptions.TotalPages > 1)
		{
			<pagination sm-list-items="Model.ForumSubscriptions" />
		}
                
		<div class="buttons mt-3">
			<button id="btn-subscriptions-delete" class="btn btn-danger btn-lg disabled" type="submit" value="delete-subs" disabled>
				@T("Account.ForumSubscriptions.DeleteSelected")
			</button>
		</div>
	</div>
</form>

<script sm-target-zone="scripts" data-origin="customer-subscriptions">
    $(function () {
        $('#select-all-subscriptions').on('click', function () {
            $('#subscription-list .rowcheckbox').prop('checked', $(this).is(':checked')).trigger('change');
    	});

    	$(document).on('change', '#subscription-list .rowcheckbox', function () {
    		var numChkBoxes = $('#subscription-list .rowcheckbox').length;
			var numChkBoxesChecked = $('#subscription-list .rowcheckbox:checked').length;
            var buttons = $('#btn-subscriptions-delete');

            $('#select-all-subscriptions').prop('checked', numChkBoxes == numChkBoxesChecked && numChkBoxes > 0);

            if (numChkBoxesChecked > 0) {
                buttons.prop('disabled', false).removeClass('disabled');
            }
            else {
                buttons.addClass('disabled').prop('disabled', true);
            }
    	});
    });
</script>
