@model PublicForumPageModel

@{
    Assets.AppendTitleParts(Model.Name);
    Assets.AppendMetaDescriptionParts(Model.Name);

    if (ViewBag.CanonicalUrlsEnabled)
    {
        var forumUrl = Url.RouteUrl("Boards", new { SeName = Model.Slug }, this.Request.Scheme);
        Assets.AppendCanonicalUrlParts(forumUrl);
    }
}

<div class="page forum">
    <div class="mt-2 w-75">
        @await Component.InvokeAsync("ForumSearchBox")
    </div>
    <div class="row mt-5">
        <div class="col">
            <div class="heading mb-4">
                <h1 class="heading-title fs-h2" sm-language-attributes-for="Model.Name">@Model.Name</h1>
            </div>
        </div>
        <div class="col col-auto">
            @if (Model.ForumFeedsEnabled)
            {
                <a asp-action="ForumRss" asp-controller="Boards" asp-route-id="@Model.Id" class="btn btn-warning" title="@T("Forum.ForumRSSLinkTitle")">
                    <i class="fa fa-rss"></i>
                    <span>@T("Forum.RSS")</span>
                </a>
            }
        </div>
    </div>

    <p class="lead" sm-language-attributes-for="Model.Description">@Model.Description</p>

    <div class="actions row sm-gutters mb-2">
        <div class="col col-sm-auto">
            <a asp-action="TopicCreate" asp-controller="Boards" asp-route-id="@Model.Id" class="btn btn-primary newtopic btn-block" rel="nofollow">
                <i class="fa fa-plus"></i>
                <span>@T("Forum.NewTopic")</span>
            </a>
        </div>
        <div sm-if="Model.CanSubscribe" class="col col-sm-auto">
            <form id="watch-forum-form" sm-ajax="true" method="post" asp-action="ForumWatch" asp-controller="Boards" sm-oncomplete="onWatchForumCompleted">
                <input type="hidden" asp-for="Id" />

                <button type="submit" id="watch-forum" class="btn btn-outline-primary btn-block watch-forum">
                    <i class="fa fa-bookmark"></i>
                    <span class="watch-forum-text">@T(Model.IsSubscribed ? "Forum.UnwatchForum" : "Forum.WatchForum")</span>
                </button>
            </form>
        </div>
        <div class="col">
            <pagination sm-list-items="Model.ForumTopics" sm-alignment="Right" />
        </div>
    </div>

    <div class="topics-group card">
        <div class="card-body p-0">
            <ul class="list-group list-group-flush forum-list">
                @foreach (var topic in Model.ForumTopics)
                {
                    <li class="list-group-item">
                        <div class="row flex-nowrap align-items-center sm-gutters" attr-class='(!topic.Published, "disabled")'>

                            <div class="col topic-info text-truncate">
                                <div class="d-flex flex-nowrap align-items-center">
                                    <div class="topic-name">
                                        <div class="topic-subject text-truncate">
                                            <span sm-if="topic.ForumTopicType == ForumTopicType.Sticky" class="topic-type">
                                                <label class="badge badge-success">@T("Forum.Sticky")</label>
                                            </span>
                                            <span sm-if="topic.ForumTopicType == ForumTopicType.Announcement" class="topic-type">
                                                <label class="badge badge-info">@T("Forum.Announcement")</label>
                                            </span>
                                            <a asp-route="ForumTopicBySlug" asp-route-id="@topic.Id" asp-route-slug="@topic.Slug" class="forum-link fwm fs-h6 text-truncate">
                                                @topic.Subject
                                            </a>
                                        </div>
                                        <div sm-if="topic.CustomerId > 0" class="topic-author text-truncate text-muted small">
                                            <span>@T("Forum.Author"):</span>
                                            @if (topic.HasCustomerProfile)
                                            {
                                                <a asp-route="CustomerProfile" asp-route-id="@topic.CustomerId" class="forum-link">
                                                    @topic.CustomerName.NaIfEmpty()
                                                </a>
                                            }
                                            else
                                            {
                                                <span>@topic.CustomerName</span>
                                            }
                                        </div>
                                        <div sm-if="topic.PostsPages.TotalPages > 1">
                                            <forumtopic-pagination class="topics-pager mt-1"
                                                sm-list-items="topic.PostsPages"
                                                sm-topic-id="topic.Id"
                                                sm-topic-slug="@topic.Slug"
                                                sm-show-previous="false"
                                                sm-show-next="false"
                                                sm-item-title-format-string="@T("Forum.Topics.GotoPostPager")"
                                                sm-alignment="Left"
                                                sm-size="Small" />                                            
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col topic-replies text-center text-truncate">
                                <div class="text-muted small">@T("Forum.Replies")</div>
                                <div class="fs-h5 fwm">@topic.NumReplies.ToString("N0")</div>
                            </div>

                            <div class="col topic-views text-center text-truncate">
                                <div class="text-muted small">@T("Forum.Views")</div>
                                <div class="fs-h5 fwm">@topic.Views.ToString("N0")</div>
                            </div>

                            <div class="col topic-lastpost text-truncate">
                                <partial name="_LastPost" model="topic.LastPost" />
                            </div>

                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
    <pagination sm-list-items="Model.ForumTopics" sm-alignment="Right" class="mt-3" />
</div>

<script sm-target-zone="scripts" data-origin="forum">
    function onWatchForumCompleted(data) {
        var response = data.responseJSON;
        var btn = $('#watch-forum');
        btn.toggleClass('btn-outline-warning', !response.Subscribed);
        btn.find('.watch-forum-text').html(response.Text);
    }
</script>