@model CustomerProfilePostsModel

<div sm-if="!Model.LatestPosts.Any()" class="alert alert-info">
    @T("Profile.LatestPosts.NoPosts")
</div>

<div class="user-last-posts mb-3">
    @foreach (var post in Model.LatestPosts)
    {
        <div class="card mt-3">
            <div class="card-header d-flex flex-wrap justify-content-between">
                <div>
                    <span>@T("Profile.Topic"):</span>
                    <a asp-route="ForumTopicBySlug" asp-route-id="@post.ForumTopicId" asp-route-slug="@post.ForumTopicSlug">
                        @post.ForumTopicSubject
                    </a>
                </div>
                <div class="text-muted">
                    <span>@T("Profile.PostedOn"):</span>
                    <span>@post.PostCreatedOnStr</span>
                </div>
            </div>
            <div class="card-body" dir="auto">
                @Html.Raw(post.ForumPostText)
            </div>
        </div>
    }
</div>

@if (Model.LatestPosts.TotalPages > 1)
{
    <latestposts-pagination sm-list-items="Model.LatestPosts" sm-customer-id="@Model.Id" />
}
