@model NewsItemModel

<div asp-validation-summary="All"></div>
<input type="hidden" asp-for="Id" />

<tabstrip id="news-edit" sm-nav-style="Material">
    <tab sm-title="@T("Admin.Common.Info")" sm-selected="true">

        @(Html.LocalizedEditor<NewsItemModel, NewsItemLocalizedModel>("newsitem-info-localized",
            @<div class="adminContent">
                <div class="adminRow">
                    <div class="adminTitle">
                        <smart-label asp-for="Locales[item].Title" />
                    </div>
                    <div class="adminData">
                        @*IMPORTANT: Do not delete, this hidden element contains the id to assign localized values to the corresponding language *@
                        <input type="hidden" asp-for="Locales[item].LanguageId" />

                        <input asp-for="Locales[item].Title" />
                        <span asp-validation-for="Locales[item].Title"></span>
                    </div>
                </div>
                <div class="adminRow">
                    <div class="adminTitle">
                        <smart-label asp-for="Locales[item].Short" />
                    </div>
                    <div class="adminData wide">
                        <editor asp-for="Locales[item].Short" />
                        <span asp-validation-for="Locales[item].Short"></span>
                    </div>
                </div>
                <div class="adminRow">
                    <div class="adminTitle">
                        <smart-label asp-for="Locales[item].Full" />
                    </div>
                    <div class="adminData wide">
                        <editor asp-for="Locales[item].Full" />
                        <span asp-validation-for="Locales[item].Full"></span>
                    </div>
                </div>
            </div>
            ,
            @<div class="adminContent">
                <div class="adminRow">
                    <div class="adminTitle">
                        <smart-label asp-for="Title" />
                    </div>
                    <div class="adminData">
                        <input asp-for="Title" />
                        <span asp-validation-for="Title"></span>
                    </div>
                </div>
                <div class="adminRow">
                    <div class="adminTitle">
                        <smart-label asp-for="Short" />
                    </div>
                    <div class="adminData wide">
                        <editor asp-for="Short" />
                        <span asp-validation-for="Short"></span>
                    </div>
                </div>
                <div class="adminRow">
                    <div class="adminTitle">
                        <smart-label asp-for="Full" />
                    </div>
                    <div class="adminData wide">
                        <editor asp-for="Full" />
                        <span asp-validation-for="Full"></span>
                    </div>
                </div>
            </div>
        ))

        <div class="adminContent">
            <div class="adminRow">
                <div class="adminTitle">
                    <smart-label asp-for="PictureId" />
                </div>
                <div class="adminData">
                    <editor asp-for="PictureId" />
                    <span asp-validation-for="PictureId"></span>
                </div>
            </div>
            <div class="adminRow" id="pnlPreviewPicture">
                <div class="adminTitle">
                    <smart-label asp-for="PreviewPictureId" />
                </div>
                <div class="adminData">
                    <editor asp-for="PreviewPictureId" />
                    <span asp-validation-for="PreviewPictureId"></span>
                </div>
            </div>
            <div class="adminRow">
                <div class="admin-config-group">
                    <div class="head">@T("Admin.ContentManagement.News.Heading.Publish")</div>
                </div>
            </div>
            <div class="adminRow">
                <div class="adminTitle">
                    <smart-label asp-for="Published" />
                </div>
                <div class="adminData">
                    <input asp-for="Published" />
                    <span asp-validation-for="Published"></span>
                </div>
            </div>
            <div sm-if="!ViewBag.IsSingleLanguageMode" class="adminRow">
                <div class="adminTitle">
                    <smart-label asp-for="LanguageId" />
                </div>
                <div class="adminData">
                    <select asp-for="LanguageId" asp-items="ViewBag.AvailableLanguages">
                        <option>@T("Common.International")</option>
                    </select>
                    <span asp-validation-for="LanguageId"></span>
                </div>
            </div>
            <div class="adminRow">
                <div class="adminTitle">
                    <smart-label asp-for="SelectedStoreIds" />
                </div>
                <div class="adminData">
                    <editor asp-for="SelectedStoreIds" />
                    <span asp-validation-for="SelectedStoreIds"></span>
                </div>
            </div>
            <div class="adminRow">
                <div class="adminTitle">
                    <smart-label asp-for="CreatedOn" />
                </div>
                <div class="adminData">
                    <editor asp-for="CreatedOn" />
                    <span asp-validation-for="CreatedOn"></span>
                </div>
            </div>
            <div class="adminRow">
                <div class="adminTitle">
                    <smart-label asp-for="StartDate" />
                </div>
                <div class="adminData">
                    <editor asp-for="StartDate" />
                    <span asp-validation-for="StartDate"></span>
                </div>
            </div>
            <div class="adminRow">
                <div class="adminTitle">
                    <smart-label asp-for="EndDate" />
                </div>
                <div class="adminData">
                    <editor asp-for="EndDate" />
                    <span asp-validation-for="EndDate"></span>
                </div>
            </div>
            <div class="adminRow">
                <div class="adminSeparator"><hr /></div>
            </div>
            <div class="adminRow">
                <div class="adminTitle">
                    <smart-label asp-for="AllowComments" />
                </div>
                <div class="adminData">
                    <input asp-for="AllowComments" />
                    <span asp-validation-for="AllowComments"></span>
                </div>
            </div>
        </div>
    </tab>
    <tab sm-title="@T("Admin.Common.SEO")">
        @(Html.LocalizedEditor<NewsItemModel, NewsItemLocalizedModel>("newsitem-seo-localized",
            @<div class="adminContent">
                <div class="adminRow">
                    <div class="adminTitle">
                        <smart-label asp-for="Locales[item].MetaTitle" />
                    </div>
                    <div class="adminData">
                        @*IMPORTANT: Do not delete, this hidden element contains the id to assign localized values to the corresponding language *@
                        <input type="hidden" asp-for="Locales[item].LanguageId" />

                        <editor asp-for="Locales[item].MetaTitle" />
                        <span asp-validation-for="Locales[item].MetaTitle"></span>
                    </div>
                </div>
                <div class="adminRow">
                    <div class="adminTitle">
                        <smart-label asp-for="Locales[item].MetaDescription" />
                    </div>
                    <div class="adminData">
                        <editor asp-for="Locales[item].MetaDescription" />
                        <span asp-validation-for="Locales[item].MetaDescription"></span>
                    </div>
                </div>
                <div class="adminRow">
                    <div class="adminTitle">
                        <smart-label asp-for="Locales[item].MetaKeywords" />
                    </div>
                    <div class="adminData">
                        <input asp-for="Locales[item].MetaKeywords" />
                        <span asp-validation-for="Locales[item].MetaKeywords"></span>
                    </div>
                </div>
                <div class="adminRow">
                    <div class="adminTitle">
                        <smart-label asp-for="Locales[item].SeName" />
                    </div>
                    <div class="adminData">
                        <input asp-for="Locales[item].SeName" />
                        <span asp-validation-for="Locales[item].SeName"></span>
                    </div>
                </div>
            </div>
            ,
            @<div class="adminContent">
                <div class="adminRow">
                    <div class="adminTitle">
                        <smart-label asp-for="MetaTitle" />
                    </div>
                    <div class="adminData">
                        <editor asp-for="MetaTitle" />
                        <span asp-validation-for="MetaTitle"></span>
                    </div>
                </div>
                <div class="adminRow">
                    <div class="adminTitle">
                        <smart-label asp-for="MetaDescription" />
                    </div>
                    <div class="adminData">
                        <editor asp-for="MetaDescription" />
                        <span asp-validation-for="MetaDescription"></span>
                    </div>
                </div>
                <div class="adminRow">
                    <div class="adminTitle">
                        <smart-label asp-for="MetaKeywords" />
                    </div>
                    <div class="adminData">
                        <input asp-for="MetaKeywords" />
                        <span asp-validation-for="MetaKeywords"></span>
                    </div>
                </div>
                <div class="adminRow">
                    <div class="adminTitle">
                        <smart-label asp-for="SeName" />
                    </div>
                    <div class="adminData">
                        <input asp-for="SeName" />
                        @if (Model.Id != 0)
                        {
                            @await Component.InvokeAsync("NamesPerEntity", new { entityName = "NewsItem", entityId = Model.Id })
                        }
                        <span asp-validation-for="SeName"></span>
                    </div>
                </div>
            </div>
        ))
    </tab>
</tabstrip>