@model ProductModel.RelatedProductModel

@{
    var parentModel = ViewData["Parent"] as ProductModel;
}

<datagrid id="relatedproducts-grid"
          allow-resize="true"
          allow-row-selection="true"
          allow-edit="true"
          max-height="500px"
          onrowclass="relatedProducts_onRowClass">
    <datasource read="@Url.Action("RelatedProductList", new { productId = parentModel.Id })"
                delete="@Url.Action("RelatedProductDelete")"
                update="@Url.Action("RelatedProductUpdate")" />
    <paging position="Bottom" page-index="1" show-size-chooser="false" />
    <sorting enabled="true">
        <sort by="DisplayOrder" />
    </sorting>
    <toolbar>
        <toolbar-group>
            <button id="pick-related-products" type="button" class="btn btn-primary btn-flat no-anims">
                <i class="fa fa-plus"></i>
                <span>@T("Common.AddNew")</span>
            </button>
            <button type="button"
                    id="btnCreateMutuallyRelatedProducts"
                    data-url="@Url.Action("CreateAllMutuallyRelatedProducts", new { productId = parentModel.Id })"
                    data-ask="@T("Admin.Common.AskCreateMutuallyAssociations")"
                    class="btn btn-light btn-flat">
                <i class="fa fa-random"></i>
                <span>@T("Admin.Common.CreateMutuallyAssociations")</span>
            </button>
            <button datagrid-action="DataGridToolAction.SaveChanges" type="button" class="btn btn-warning no-anims btn-flat">
                <i class="fa fa-check"></i>
                <span>@T("Admin.Common.SaveChanges")</span>
            </button>
            <button datagrid-action="DataGridToolAction.CancelEdit" type="button" class="btn btn-light btn-flat mr-auto">
                <span>@T("Common.Cancel")</span>
            </button>
        </toolbar-group>
        <zone name="datagrid_toolbar_alpha"></zone>
        <toolbar-group class="omega"></toolbar-group>
        <zone name="datagrid_toolbar_omega"></zone>
        <toolbar-group>
            <button datagrid-action="DataGridToolAction.DeleteSelectedRows" type="button" class="btn btn-danger no-anims btn-flat">
                <i class="far fa-trash-can"></i>
                <span>@T("Admin.Common.Delete.Selected")</span>
            </button>
        </toolbar-group>
    </toolbar>
    <columns>
        <column for="Product2Name" hideable="false" width="4fr" readonly sortable="false">
            <display-template>
                @Html.LabeledProductName()
            </display-template>
        </column>
        <column for="Product2Sku" width="2fr" readonly sortable="false" />
        <column for="Product2Published" halign="center" readonly sortable="false" />
        <column for="DisplayOrder" halign="center" />
    </columns>
    <row-commands>
        <a datarow-action="DataRowAction.InlineEdit">@T("Common.Edit")</a>
        <a datarow-action="DataRowAction.Delete">@T("Common.Delete")</a>
    </row-commands>
</datagrid>

<entity-picker icon-css-class="fa fa-plus"
               caption='@T("Admin.Common.Search")'
               dialog-title='@T("Admin.Catalog.Products.RelatedProducts.AddNew")'
               onselectioncompleted="PickRelatedProducts_Completed"
               class="related-product-picker"
               style="display:none" />

<script>
    $(function () {
        // Call hidden entity picker.
        $(document).on("click", "#pick-related-products", function (e) {
            $(".related-product-picker").trigger("click");
            return false;
        });

        // Mutually create related products.
        $(document).on("click", "#btnCreateMutuallyRelatedProducts", function () {
            $(this).ajax({
                success: function (resp) {
                    alert2(resp.Message);
                }
            });
        });
    });

    function PickRelatedProducts_Completed(ids) {
        $({}).ajax({
            url: '@Url.Action("RelatedProductAdd")',
            data: {
                "productId": @parentModel.Id,
                "selectedProductIds": ids
            },
            success: function () {
                window["relatedproducts-grid"].$children[0].read();
            }
        });
        return true;
    };

    function relatedProducts_onRowClass(row) {
        if (!row.Product2Published) {
            return { 'text-muted': true };
        }
    }
</script>