@using Smartstore.Utilities

@model string

@{
    // TODO: (mh) (core) Add scripts & styles once bundles are available.

    //Html.AddScriptParts("~/bundles/codemirror");
    //Html.AddCssFileParts("~/css/codemirror");

    //Html.AddScriptParts("~/bundles/summernote");
    //Html.AppendCssFileParts(true, "~/Content/editors/summernote/summernote-bs4.css");

    var lazy = ViewData["lazy"].Convert<bool?>() ?? true;
    var id = Html.IdForModel();
    var html = ((string)ViewData.TemplateInfo.FormattedModelValue);
    var htmlIsEmpty = !html.HasValue() || html == "<p></p>" || html == "<p>&nbsp;</p>" || html == "<p><br></p>";

    // Find summernote localization file
    string culture = null;
    //var locFile = base.ResolveLocalizationFile(WorkContext.WorkingLanguage.LanguageCulture, "~/Content/editors/summernote/lang", "summernote-*.js", null);
    //if (locFile != null)
    //{
    //    culture = locFile.Culture;
    //    Html.AddScriptParts(true, locFile.VirtualPath);
    //}

    //// Find custom plugins localization file
    //locFile = base.ResolveLocalizationFile(WorkContext.WorkingLanguage.LanguageCulture, "~/Content/editors/summernote/plugins/lang", "*.js", null);
    //if (locFile != null)
    //{
    //    Html.AddScriptParts(true, locFile.VirtualPath);
    //}

    //Html.AddBodyAttribute("data-file-manager-url", base.FileManagerUrl);

    var attributes = new AttributeDictionary().Merge(CommonHelper.ObjectToDictionary(ViewData["htmlAttributes"] ?? new object()));
}

@*TODO: (mh) (core) Implement RoxyFileManager > ProcessRequest.*@
<div class="html-editor-root initialize-template"
     data-summernote-image-upload-url="@Html.Raw(Url.Action("ProcessRequest", "RoxyFileManager"))"
     data-editor-template="html"
     data-lazy="@lazy"
     data-lang="@Html.Raw(culture != null ? $"'{culture}'" : "null")">

    <textarea asp-for="@Model"
              id="@id"
              name="@Html.NameForModel()"
              class="summernote-editor"
              attr-value='(html.HasValue(), html)'
              attr-class='(lazy, "d-none")'>
    </textarea>

    @if (lazy)
    {
        <div class="note-editor-preview" attr-class='(htmlIsEmpty, "empty")' data-target="#@id" attr-data-lang="(culture != null, culture)">
            @if (htmlIsEmpty)
            {
                <div>
                    <i class="fab fa-html5 mr-1"></i>
                    <span class="text-muted">@T("HtmlEditor.ClickToEdit")</span>
                </div>
            }
            else
            {
                @Html.Raw(html)
            }
        </div>
    }
</div>