@using Smartstore.Utilities

@model string

@{
    <script src="~/bundle/js/codemirror.js" sm-target-zone="scripts"></script>
    <link rel="stylesheet" href="~/bundle/css/codemirror.css" />

    <script src="~/bundle/js/summernote.js" sm-target-zone="scripts"></script>
    <link rel="stylesheet" href="~/lib/editors/summernote/summernote-bs4.css" />

    // Find summernote localization file
    <script src="~/Content/editors/summernote/lang/summernote-{lang}.js" sm-locale-for="WorkContext.WorkingLanguage"></script>
    <script src="~/Content/editors/summernote/plugins/lang/{lang}.js" sm-locale-for="WorkContext.WorkingLanguage"></script>

    var lazy = ViewData["lazy"].Convert<bool?>() ?? true;
    var id = Html.IdForModel();
    var html = ((string)ViewData.TemplateInfo.FormattedModelValue);
    var htmlIsEmpty = !html.HasValue() || html == "<p></p>" || html == "<p>&nbsp;</p>" || html == "<p><br></p>";
    string culture = WorkContext.WorkingLanguage.LanguageCulture;

    //Html.AddBodyAttribute("data-file-manager-url", base.FileManagerUrl);

    var attributes = new AttributeDictionary().Merge(CommonHelper.ObjectToDictionary(ViewData["htmlAttributes"] ?? new object()));
}

@*TODO: (mh) (core) Implement RoxyFileManager > ProcessRequest.*@
<div class="html-editor-root edit-control"
     data-summernote-image-upload-url="@Html.Raw(Url.Action("ProcessRequest", "RoxyFileManager"))"
     data-editor="html"
     data-lazy="@lazy"
     data-lang="@Html.Raw(culture != null ? $"'{culture}'" : "null")">

    <textarea asp-for="@Model"
              id="@id"
              name="@Html.NameForModel()"
              class="summernote-editor"
              attr-value='(html.HasValue(), html)'
              attr-class='(lazy, "d-none")'>
    </textarea>

    @if (lazy)
    {
        <div class="note-editor-preview" attr-class='(htmlIsEmpty, "empty")' data-target="#@id" attr-data-lang="(culture != null, culture)">
            @if (htmlIsEmpty)
            {
                <div>
                    <i class="fab fa-html5 mr-1"></i>
                    <span class="text-muted">@T("HtmlEditor.ClickToEdit")</span>
                </div>
            }
            else
            {
                @Html.Raw(html)
            }
        </div>
    }
</div>