@using Smartstore.Utilities

@* TODO: (core) Refactor for new link provider system (widgets etc.) *@
@* TODO: (mh) (core) Restructure CSS (or script) in a way that the last visible button always is rounded right. *@

@functions
{
    private string Value => ViewData.Model != null ? Convert.ToString(ViewData.Model) : null;
}

@{
    Assets.AppendScriptFiles("~/js/smartstore.linkbuilder.js");

    var rtl = WorkContext.WorkingLanguage.Rtl;
    var rnd = CommonHelper.GenerateRandomInteger();
    var id = Html.IdForModel();
    var metadata = LinkResolver.GetBuilderMetadata().ToDictionary(x => x.Schema);
    var link = await LinkResolver.ResolveAsync(Value);
    var expression = link.Expression;
    var hideQueryString = GetMetadata<bool>("hideQueryString");
    var arr = GetMetadata<string>("allowedTypes").SplitSafe(',');
    var allowedTypes = arr.Any() ? arr : metadata.Keys;
}

<div id="link-builder-@rnd" class="link-builder edit-control"
     data-field-id="@id"
     data-editor="link"
     data-current-type="@(Value != null ? expression.Schema : string.Empty)"
     attr-data-product-picker-callback='(allowedTypes.Contains(DefaultLinkProvider.SchemaProduct), "lbPickerSelectionCompleted" + rnd.ToString())'>

    @* Template control that receives the link expression. *@
    <input asp-for="@Model" type="hidden" value="@Value" />

    <div class="row flex-nowrap xs-gutters">

        @* 1. prepend type selector. *@
        <div class="link-type-container col-auto">
            <button type="button" class="btn btn-secondary btn-linktype btn-icon dropdown-toggle" data-toggle="dropdown" title="">
                <i class="fa fa-link"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-@(rtl ? "right" : "left")">
                @foreach (var type in allowedTypes)
                {
                    var info = metadata[type];
                    <a class="dropdown-item link-type" href="#" data-type="@type">
                        <i class="fa-fw @info.Icon"></i>
                        <span>@T(info.ResKey)</span>
                    </a>
                }
            </div>
        </div>

        @* 2. main control. *@
        @foreach (var type in allowedTypes)
        {
            var label = expression.Schema == type ? link.Label : string.Empty;
            var value = expression.Schema == expression.Target;

            <div class="link-control col" attr-class='(expression.Schema != type, "hide")' data-type="@type">
                @if (type == DefaultLinkProvider.SchemaProduct)
                {
                    <div class="input-group">
                        <input type="text" class="form-control resettable product-picker-input bg-white text-muted" value="@label" readonly />
                        <div class="input-group-append">
                            <entity-picker max-items="1"
                                            append-mode="false"
                                            dialog-title=@T("Common.Entity.SelectProduct").JsValue
                                            caption=@T("Common.Search").JsValue />
                        </div>
                    </div>       
                }
                else if (type == DefaultLinkProvider.SchemaCategory)
                {
                    <select class="form-control transferable resettable"
                            data-select-url="@Url.Action("AllCategories", "Category", new { area = "Admin" })"
                            data-select-selected-id="@value"
                            data-select-init-text="@label"></select>
                }
                else if (type == DefaultLinkProvider.SchemaManufacturer)
                {
                    <select class="form-control transferable resettable"
                            data-select-url="@Url.Action("AllManufacturers", "Manufacturer", new { area = "Admin" })"
                            data-select-selected-id="@value"
                            data-select-init-text="@label"></select>
                }
                else if (type == DefaultLinkProvider.SchemaTopic)
                {
                    <select class="form-control transferable resettable"
                            data-select-url="@Url.Action("AllTopics", "Topic", new { area = "Admin" })"
                            data-select-selected-id="@value"
                            data-select-init-text="@label"></select>
                }
                @*TODO: (mh) (core) Must be provided & injected by forum and news modules*@
                @*else if (type == LinkType.BlogPost)
                    {
                        <select class="form-control transferable resettable"
                                data-select-url="@Url.Action("AllBlogPosts", "Blog", new { area = "admin" })"
                                data-select-selected-id="@value"
                                data-select-init-text="@label"></select>
                    }
                    else if (type == LinkType.NewsItem)
                    {
                        <select class="form-control transferable resettable"
                                data-select-url="@Url.Action("AllNews", "News", new { area = "admin" })"
                                data-select-selected-id="@value"
                                data-select-init-text="@label"></select>
                    }*@
                else if (type == DefaultLinkProvider.SchemaUrl)
                {
                    <input type="text" class="form-control transferable resettable" value="@value" />
                }
                else if (type == DefaultLinkProvider.SchemaFile)
                {
                    <div class="input-group">
                        <input id="lb-file-url-@rnd" type="text" class="form-control transferable resettable bg-white text-muted" value="@label" readonly />
                        <a href="javascript:;" class="btn btn-secondary browse-files" data-url="@Url.Content("~/Admin/RoxyFileManager/")" data-field-id="lb-file-url-@rnd">
                            <i class="fa fa-upload"></i>
                            <span>@(T("Common.BrowseFiles"))&hellip;</span>
                        </a>
                    </div>         
                }
            </div>
        }

        @* 4. append additional buttons. *@
        <div class="col-auto">
            <button type="button" class="btn btn-secondary btn-icon btn-to-danger btn-reset" title="@T("Common.Remove")">
                @*<i class="fa fa-unlink"></i>*@
                <span class="fs-h5" style="line-height: 1">&times;</span>
            </button>
            @if (!hideQueryString)
            {
                <button type="button" class="btn btn-secondary btn-icon btn-query-string" attr-class='(expression.Schema == DefaultLinkProvider.SchemaUrl, "hide")'
                        title="@T("Common.QueryString")" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-question-circle @(expression.Query.HasValue() ? "text-success" : "text-muted")"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <div class="px-2">
                        <input type="text" class="form-control transferable resettable query-string" value="@expression.Query.TrimStart('?')" placeholder="@T("Common.QueryString")" style="width: 350px;" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>