@using Smartstore.Web.Models.Catalog;
@using Microsoft.AspNetCore.Routing

@model IQuantityInput

@{
    var large = ViewData["large"].Convert<bool>();
    //var itemId = ViewData["itemId"].Convert<string>();
    // TODO: (mc) > (mh) finalize dropdown later in v3.1+
    var inputStyle = "spinner";
    //var inputStyle = Model.QuantiyControlType;

    var htmlAttributes = new RouteValueDictionary(ViewData["htmlAttributes"] ?? new object());
    var fixedAttributes = new AttributeDictionary();

    foreach (var attr in htmlAttributes)
    {
        fixedAttributes.Add(attr.Key.StartsWith("data_") ? attr.Key.Replace("_", "-") : attr.Key, attr.Value.ToString());
    }

    fixedAttributes.Add("class", "form-control" + (large ? " form-control-lg" : ""));
    fixedAttributes.Add("data-min", Model.MinOrderAmount.ToString());
    fixedAttributes.Add("data-max", Model.MaxOrderAmount.ToString());
    fixedAttributes.Add("data-postfix", Model.QuantityUnitName);
    fixedAttributes.Add("data-step", Model.QuantityStep.ToString());
}

<div class="qty-input" attr-class='(Model.QuantityUnitName != null && Model.QuantityUnitName.Value.HasValue(), "has-postfix")'>
    @if (inputStyle == "spinner")
    {
        <input type="text" id="@Html.IdForModel()" name="@Html.NameForModel()" attrs="@fixedAttributes"/>
    }
    else
    {
        <div sm-if="Model.AllowedQuantities != null && Model.AllowedQuantities.Count > 0" class="mf-dropdown" style="display: block">
            <button class="btn btn-warning btn-labeled icon-right btn-block" attr-class='(large, "btn-lg")'>
                <span data-bind="value">@Model.EnteredQuantity</span>
                <b><i class="fas fa-caret-down"></i></b>
            </button>
            @Html.DropDownListFor(model => Model.EnteredQuantity, Model.AllowedQuantities, new { @class = "form-control qty-dropdown noskin" })
        </div>
    }
</div>