@model NewsItemListModel

@if (Model.NewsItems.Count == 0)
{
    return;
}

@foreach (var item in Model.NewsItems)
{
    var fileModel = item.PreviewPictureModel.File != null ? item.PreviewPictureModel : item.PictureModel;
    var imageUrl = fileModel.File?.GetUrl();

    <article class="newslist-item news-preview-lg mb-5 col-12 col-md-6 col-lg-4 d-flex flex-column" attr-class='(!item.Published, "unpublished")' itemscope itemtype="http://schema.org/NewsArticle">

        <figure sm-if="imageUrl.HasValue()" style="--img-aspect-ratio: 0.5;">
            <a asp-route="NewsItem" asp-route-SeName="@item.SeName" class="newsitem-picture img-center-container shadow-sm shadow-primary">
                <img sm-model="fileModel" itemprop="image" />
            </a>
        </figure>

        <h4 class="newsitem-title fs-h5">
            <a class="newsitem-title-link" asp-route="NewsItem" asp-route-SeName="@item.SeName">
                @item.Title.Truncate(60, "...")
            </a>
            <meta itemprop="headline" content="@item.Title.Truncate(100, "...")" />
        </h4>

        <div class="newsitem-date rfs">
            @item.CreatedOn.ToNativeString("D")
        </div>

        <meta itemprop="datePublished" content="@item.CreatedOn.ToString("u")" />
        <meta itemprop="author" content="@Model.StoreName" />
        <meta itemprop="publisher" content="@Model.StoreName" />

        <p class="newsitem-description rfs my-3 flex-grow-1" itemprop="description">
            @Html.Raw(item.Short.Truncate(160, "..."))
        </p>

        <div class="d-flex flex-row">
            <div class="flex-grow-1">
                <a class="btn btn-outline-gray rfs" asp-route="NewsItem" asp-route-SeName="@item.SeName">
                    @T("Common.Cms.ReadMore")
                </a>
            </div>

            @if (item.Comments.AllowComments && !Model.DisableCommentCount)
            {
                <a class="rfs align-self-end btn btn-gray btn-flat"
                   attr-class='(item.Comments.NumberOfComments > 0, "vivid")'
                   asp-route="NewsItem" asp-route-SeName="@item.SeName"
                   title="@T("Blog.CommentsLink", item.Comments.NumberOfComments)">
                    <i class="far fa-comment-alt"></i>
                    <span class="newsitem-comments-count">@item.Comments.NumberOfComments</span>
                </a>
            }
        </div>
    </article>
}