@model CustomerListModel

<div class="form-group">
    <smart-label asp-for="SearchEmail" />
    <editor asp-for="SearchEmail" />
</div>
<div sm-if="Model.UsernamesEnabled" class="form-group">
    <smart-label asp-for="SearchUsername" />
    <editor asp-for="SearchUsername" />
</div>
<div class="form-group">
    <smart-label asp-for="SearchTerm" />
    <editor asp-for="SearchTerm" placeholder="@T("Admin.Customers.Customers.List.SearchTerm.Hint")" />
</div>
<div class="form-group">
    <smart-label asp-for="SearchCustomerNumber" />
    <editor asp-for="SearchCustomerNumber" />
</div>
@if (Model.DateOfBirthEnabled)
{
    var monthOfBirthValues = new List<SelectListItem>();
    for (int i = 1; i <= 12; i++)
    {
        monthOfBirthValues.Add(new SelectListItem { Text = i.ToString(CultureInfo.InvariantCulture), Value = i.ToString(CultureInfo.InvariantCulture) });
    }

    var dayOfBirthValues = new List<SelectListItem>();
    for (int i = 1; i <= 31; i++)
    {
        dayOfBirthValues.Add(new SelectListItem { Text = i.ToString(CultureInfo.InvariantCulture), Value = i.ToString(CultureInfo.InvariantCulture) });
    }

    var yearOfBirthValues = new List<SelectListItem>();
    // Info: We asume customers must be at least 14 years old & are not older then 70.
    for (int i = 1950; i <= DateTime.UtcNow.Year - 14; i++)
    {
        yearOfBirthValues.Add(new SelectListItem { Text = i.ToString(CultureInfo.InvariantCulture), Value = i.ToString(CultureInfo.InvariantCulture) });
    }

    <div class="form-group">
        <smart-label asp-for="SearchMonthOfBirth" />
        <div class="form-row">
            <div class="col">
                <select asp-for="SearchYearOfBirth" asp-items="@yearOfBirthValues" asp-placeholder="@T("Common.Year")"></select>
            </div>
            <div class="col">
                <select asp-for="SearchMonthOfBirth" asp-items="@monthOfBirthValues" asp-placeholder="@T("Admin.Customers.Customers.List.SearchDateOfBirth.Month")"></select>
            </div>
            <div class="col">
                <select asp-for="SearchDayOfBirth" asp-items="@dayOfBirthValues" asp-placeholder="@T("Admin.Customers.Customers.List.SearchDateOfBirth.Day")"></select>
            </div>
        </div>
    </div>
}
<div sm-if="Model.PhoneEnabled" class="form-group">
    <smart-label asp-for="SearchPhone" />
    <editor asp-for="SearchPhone" />
</div>
<div sm-if="Model.ZipPostalCodeEnabled" class="form-group">
    <smart-label asp-for="SearchZipPostalCode" />
    <editor asp-for="SearchZipPostalCode" />
</div>
<div class="form-group">
    <smart-label asp-for="SearchCustomerRoleIds" />
    <editor asp-for="SearchCustomerRoleIds" class="sf" />
    @*<select asp-for="SearchCustomerRoleIds" asp-items='new MultiSelectList(ViewBag.SearchCustomerRoles, "Value", "Text")' multiple="multiple"></select>*@
</div>
<div class="form-group">
    <smart-label asp-for="SearchActiveOnly" />
    <editor asp-for="SearchActiveOnly" />
</div>