@model ProductModel.ProductVariantAttributeValueListModel

@{
    Assets.AppendScriptFiles("~/admin/js/smartstore.rules.js");
}

<div id="ruleset-root" class="ruleset-root"
     data-dirty="false"
     data-scope="@((int)Model.RuleSet.Scope)"
     data-related-id="@Model.ProductVariantAttributeId"
     data-url-addgroup="@Url.Action("AddGroup", "Rule", new { area = "Admin" })"
     data-url-deletegroup="@Url.Action("DeleteGroup", "Rule", new { area = "Admin" })"
     data-url-updaterules="@Url.Action("UpdateRules", "Rule", new { area = "Admin" })"
     data-url-addrule="@Url.Action("AddRule", "Rule", new { area = "Admin" })"
     data-url-deleterule="@Url.Action("DeleteRule", "Rule", new { area = "Admin" })"
     data-url-changeoperator="@Url.Action("ChangeOperator", "Rule", new { area = "Admin" })">
    <partial name="~/Areas/Admin/Views/Rule/_RuleSet.cshtml" model="Model.RuleSet.ExpressionGroup" />
</div>