@model ProductModel

@{
    Layout = "_AdminPopupLayout";
    ViewBag.Title = T("Admin.Catalog.Products.EditProductDetails").Value;

    var numberOfOrders = (int)ViewBag.NumberOfOrders;
    var price = (Money)ViewBag.Price;
    var manufacturers = ViewBag.Manufacturers as string;
    var categories = ViewBag.Categories as string;
    var productAttributes = ViewBag.ProductAttributes as string;
    var specificationAttributes = ViewBag.SpecificationAttributes as string;
}

<div class="section-header">
    <div class="title text-truncate" title="@Model.Name">
        @if (Model.PictureThumbnailUrl.HasValue())
        {
            <img src="@Url.Content(Model.PictureThumbnailUrl)" />
        }
        <span class="ml-1">@Model.Name</span>
    </div>
</div>

<div class="adminContent">
    <div class="adminRow">
        <div class="adminTitle">
            <smart-label asp-for="Id" />
        </div>
        <div class="adminData">
            <input asp-for="Id" sm-plaintext readonly />
            <span asp-validation-for="Id"></span>
        </div>
    </div>
    <div sm-if="Model.Sku.HasValue()" class="adminRow">
        <div class="adminTitle">
            <smart-label asp-for="Sku" sm-ignore-hint="true" />
        </div>
        <div class="adminData">
            <input asp-for="Sku" sm-plaintext readonly />
        </div>
    </div>
    <div sm-if="Model.ManufacturerPartNumber.HasValue()" class="adminRow">
        <div class="adminTitle">
            <smart-label asp-for="ManufacturerPartNumber" sm-ignore-hint="true" />
        </div>
        <div class="adminData">
            <input asp-for="ManufacturerPartNumber" sm-plaintext readonly />
        </div>
    </div>
    <div sm-if="Model.Gtin.HasValue()" class="adminRow">
        <div class="adminTitle">
            <smart-label asp-for="Gtin" sm-ignore-hint="true" />
        </div>
        <div class="adminData">
            <input asp-for="Gtin" sm-plaintext readonly />
        </div>
    </div>
    <div sm-if="Model.CreatedOn.HasValue" class="adminRow">
        <div class="adminTitle">
            <smart-label asp-for="CreatedOn" />
        </div>
        <div class="adminData">
            <div class="form-control-plaintext">
                @Model.CreatedOn?.ToString("g")
            </div>
        </div>
    </div>
    <div sm-if="Model.UpdatedOn.HasValue" class="adminRow">
        <div class="adminTitle">
            <smart-label asp-for="UpdatedOn" />
        </div>
        <div class="adminData">
            <div class="form-control-plaintext">
                @Model.UpdatedOn?.ToString("g")
            </div>
        </div>
    </div>
    <div sm-if="Model.ProductTypeName.HasValue()" class="adminRow">
        <div class="adminTitle">
            <smart-label asp-for="ProductTypeName" sm-ignore-hint="true" />
        </div>
        <div class="adminData">
            <input asp-for="ProductTypeName" sm-plaintext readonly />
        </div>
    </div>
    <div sm-if="numberOfOrders > 0" class="adminRow">
        <div class="adminTitle">
            @Html.SmartLabel(string.Empty, T("Common.NumberOfOrders"))
        </div>
        <div class="adminData">
            <div class="form-control-plaintext">
                @numberOfOrders.ToString("N0")
            </div>
        </div>
    </div>
    <div class="adminRow">
        <div class="adminTitle">
            <smart-label asp-for="Price" sm-ignore-hint="true" />
        </div>
        <div class="adminData">
            <div class="form-control-plaintext">
                @price.ToString()
            </div>
            <span asp-validation-for="Price"></span>
        </div>
    </div>
    <div sm-if="Model.ShortDescription.HasValue()" class="adminRow">
        <div class="adminTitle">
            <smart-label asp-for="ShortDescription" sm-ignore-hint="true" />
        </div>
        <div class="adminData">
            <div class="form-control-plaintext">
                <textarea asp-for="ShortDescription" readonly="readonly" rows="3"></textarea>
            </div>
        </div>
    </div>
    <div sm-if="Model.AdminComment.HasValue()" class="adminRow">
        <div class="adminTitle">
            <smart-label asp-for="AdminComment" sm-ignore-hint="true" />
        </div>
        <div class="adminData">
            <div class="form-control-plaintext">
                <textarea asp-for="AdminComment" readonly="readonly" rows="3"></textarea>
            </div>
        </div>
    </div>
    <div sm-if="manufacturers.HasValue()" class="adminRow">
        <div class="adminTitle">
            @Html.SmartLabel(string.Empty, T("Admin.Catalog.Products.Manufacturers"))
        </div>
        <div class="adminData">
            <div class="form-control-plaintext">
                @manufacturers
            </div>
        </div>
    </div>
    <div sm-if="categories.HasValue()" class="adminRow">
        <div class="adminTitle">
            @Html.SmartLabel(string.Empty, T("Admin.Catalog.Products.Categories"))
        </div>
        <div class="adminData">
            <div class="form-control-plaintext">
                @categories
            </div>
        </div>
    </div>
    <div sm-if="Model.ProductTagNames.Length > 0" class="adminRow">
        <div class="adminTitle">
            <smart-label asp-for="ProductTagNames" sm-ignore-hint="true" />
        </div>
        <div class="adminData">
            <div class="form-control-plaintext">
                @string.Join(", ", Model.ProductTagNames)
            </div>
        </div>
    </div>
    <div sm-if="productAttributes.HasValue()" class="adminRow">
        <div class="adminTitle">
            @Html.SmartLabel(string.Empty, T("Admin.Catalog.Products.ProductVariantAttributes.Attributes"))
        </div>
        <div class="adminData">
            <div class="form-control-plaintext">
                @productAttributes
            </div>
        </div>
    </div>
    <div sm-if="specificationAttributes.HasValue()" class="adminRow">
        <div class="adminTitle">
            @Html.SmartLabel(string.Empty, T("Admin.Catalog.Products.SpecificationAttributes"))
        </div>
        <div class="adminData">
            <div class="form-control-plaintext">
                @specificationAttributes
            </div>
        </div>
    </div>
</div>