@using Smartstore.Admin.Models.Maintenance;
@using Smartstore.Utilities
@using Smartstore.Collections

@model SystemInfoModel

@{
    ViewBag.Title = T("Admin.System.SystemInfo").Value;

    var variables = Environment.GetEnvironmentVariables(EnvironmentVariableTarget.Process);
}

<style sm-target-zone="stylesheets" data-origin="SystemInfo">
    .table-servervars {
        font-size: 90%;
        max-width: 100%
    }

    .table-servervars .sv-key {
        font-weight: bold;
    }

    .table-servervars .sv-value {
        word-break: break-all;
        word-wrap: break-word;
        white-space: pre;
        white-space: pre-wrap;
    }
</style>

<script sm-target-zone="scripts" data-origin="SystemInfo">
	$(function () {
        $(document).on('click', '.toggle-panel', function (e) {
			var btn = $(this);
            var panel = btn.parent().next();

			if (panel.hasClass('d-none')) {
                btn.html(@T("Admin.Common.Hide").JsValue);
                panel.removeClass('d-none');
			}
			else {
                btn.html(@T("Admin.Common.Show").JsValue);
                panel.addClass('d-none');
			}
		});
	});
</script>

<div class="section-header">
    <div class="title">
        <i class="fa fa-info-circle"></i>
        @T("Admin.System.SystemInfo")
    </div>
</div>

<div class="adminContent">
    <div class="adminRow">
        <div class="adminTitle">
            <smart-label asp-for="AppVersion" />
        </div>
        <div class="adminData">
            <div class="form-control-plaintext">
                @Html.DisplayFor(model => model.AppVersion)
                <a href='@Url.Action("CheckUpdate", new { enforce = true })' class="ml-3">@T("Admin.CheckUpdate")</a>
            </div>
        </div>
    </div>
    <div class="adminRow">
        <div class="adminTitle">
            <smart-label asp-for="AppDate" />
        </div>
        <div class="adminData">
            <div class="form-control-plaintext">
                @Model.AppDate.ToString("F")
            </div>
        </div>
    </div>
    <div class="adminRow">
        <div class="adminTitle">
            <smart-label asp-for="OperatingSystem" />
        </div>
        <div class="adminData">
            <div class="form-control-plaintext">
                @Html.DisplayFor(model => model.OperatingSystem)
            </div>
        </div>
    </div>
    <div class="adminRow">
        <div class="adminTitle">
            <smart-label asp-for="AspNetInfo" />
        </div>
        <div class="adminData">
            <div class="form-control-plaintext">
                @Html.DisplayFor(model => model.AspNetInfo)
            </div>
        </div>
    </div>
    <div class="adminRow">
        <div class="adminTitle">
            <smart-label asp-for="ServerTimeZone" />
        </div>
        <div class="adminData">
            <div class="form-control-plaintext">
                @Html.DisplayFor(model => model.ServerTimeZone)
            </div>
        </div>
    </div>
    <div class="adminRow">
        <div class="adminTitle">
            <smart-label asp-for="ServerLocalTime" />
        </div>
        <div class="adminData">
            <div class="form-control-plaintext">
                @Model.ServerLocalTime.ToNativeString("F")
            </div>
        </div>
    </div>
    <div class="adminRow">
        <div class="adminTitle">
            <smart-label asp-for="UtcTime" />
        </div>
        <div class="adminData">
            <div class="form-control-plaintext">
                @Model.UtcTime.ToNativeString("F")
            </div>
        </div>
    </div>
    <div class="adminRow">
        <div class="adminTitle">
            <smart-label asp-for="DataProviderFriendlyName" />
        </div>
        <div class="adminData">
            <div class="form-control-plaintext">
                @Model.DataProviderFriendlyName.NaIfEmpty()
            </div>
        </div>
    </div>
    <div class="adminRow">
        <div class="adminTitle">
            <smart-label asp-for="DatabaseSize" />
        </div>
        <div class="adminData">
            <div class="form-control-plaintext">
                @Model.DatabaseSizeString.NaIfEmpty()
                @if (Model.ShrinkDatabaseEnabled)
                {
                    <a href='@Url.Action("ShrinkDatabase")' class="ml-3">@T("Common.Shrink")</a>
                }
            </div>
        </div>
    </div>
    <div class="adminRow">
        <div class="adminTitle">
            <smart-label asp-for="UsedMemorySize" />
        </div>
        <div class="adminData">
            <div class="form-control-plaintext">
                @Model.UsedMemorySizeString.NaIfEmpty()
                <a href='@Url.Action("GarbageCollect")' class="ml-3">@T("Admin.System.SystemInfo.GarbageCollect")</a>
            </div>
        </div>
    </div>
    <div class="adminRow">
        <div class="adminTitle">
            <smart-label asp-for="LoadedAssemblies" />
        </div>
        <div class="adminData wide">
            <div class="form-control-plaintext">
                <a class="toggle-panel" href="javascript:;">@T("Admin.Common.Show")</a>
            </div>
            <div class="d-none mt-3">
                <p>Directory: <span class="fwm">@AppDomain.CurrentDomain.BaseDirectory</span></p>
                @foreach (var assembly in Model.LoadedAssemblies)
                {
                    @assembly.FullName
                    if (!string.IsNullOrEmpty(assembly.Location))
                    {
                        <br />
                        <span class="text-muted small">@assembly.Location</span>
                    }
                    <br />
                }
            </div>
        </div>
    </div>
    <div class="adminRow">
        <div class="adminTitle">
            @Html.SmartLabel("", "HTTP Header")
        </div>
        <div class="adminData wide">
            <div class="form-control-plaintext">
                <a class="toggle-panel" href="javascript:;">@T("Admin.Common.Show")</a>
            </div>
            <div class="d-none mt-3">
                <div class="table-responsive">
                    <table class="table table-striped table-servervars">
                        <tbody>
                            @foreach (var header in Request.Headers)
                            {
                                <tr>
                                    <td class="sv-key" style="min-width: 200px">@(header.Key):</td>
                                    <td><div class="sv-value">@header.Value</div></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="adminRow">
        <div class="adminTitle">
            @Html.SmartLabel("", T("Admin.Common.EnvironmentVariables"))
        </div>
        <div class="adminData wide">
            <div class="form-control-plaintext">
                <a class="toggle-panel" href="javascript:;">@T("Admin.Common.Show")</a>
            </div>
            <div class="d-none mt-3">
                <div class="table-responsive">
                    <table class="table table-striped table-servervars">
                        <tbody>
                            @foreach (var key in variables.Keys.OfType<string>())
                            {
                                <tr>
                                    <td class="sv-key" style="min-width: 200px">@(key):</td>
                                    <td><div class="sv-value">@variables[key]</div></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>